<div id="page-header" class="row">
    <page-title icon="fa-mobile" title="Cadastro de produto" description="Cadastrar produto da Allnation no Tucano e no site"></page-title>
    <div class="col-md-6 button-bar">
        <a ng-click="ProdutoForm.save()" title="Salvar produto" class="btn-success"><i class="fa-save"></i>&nbsp; Criar produto</a>
        <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
    </div>
</div>
<form ng-submit="ProdutoForm.save()" novalidate="novalidate" class="form-default" id="formProduto">
    <div class="row form-group">
        <div class="col-md-12">
            <label for="title">Título</label>
            <p>{{ ::AllnationProductForm.formData.title }}</p>
            <input type="text" ng-model="AllnationProductForm.formData.title" id="title" placeholder="Título do produto" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label for="brand">Marca</label>
            <input type="text" ng-model="AllnationProductForm.formData.brand" id="brand" placeholder="Marca do produto" />
        </div>
        <div class="col-md-4">
            <label for="ean">EAN</label>
            <input type="text" ng-model="AllnationProductForm.formData.ean" id="ean" placeholder="EAN do produto" />
        </div>
        <div class="col-md-4">
            <label for="ncm">NCM</label>
            <input type="text" ng-model="AllnationProductForm.formData.ncm" id="ncm" placeholder="NCM do produto" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <label for="descricao">Descrição</label>
            <text-angular ng-model="AllnationProductForm.formData.description"></text-angular>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <label for="warranty">Garantia</label>
            <input type="text" ng-model="AllnationProductForm.formData.warranty" id="warranty" placeholder="Garantia do produto" />
        </div>
        <div class="col-md-3">
            <label for="weight">Peso</label>
            <input type="text" ng-model="AllnationProductForm.formData.weight" id="weight" placeholder="Peso" ui-number-mask="2" />
        </div>
        <div class="col-md-2">
            <label for="height">Altura</label>
            <input type="text" ng-model="AllnationProductForm.formData.height" id="height" placeholder="Altura" ui-number-mask="2" />
        </div>
        <div class="col-md-2">
            <label for="width">Largura</label>
            <input type="text" ng-model="AllnationProductForm.formData.width" id="width" placeholder="Largura" ui-number-mask="2" />
        </div>
        <div class="col-md-2">
            <label for="length">Profundidade</label>
            <input type="text" ng-model="AllnationProductForm.formData.length" id="length" placeholder="Profundidade" ui-number-mask="2" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4">
            <label for="cost">Preço de venda</label>
            <input type="text" ng-model="AllnationProductForm.formData.cost" id="cost" placeholder="Preço" ui-money-mask />
        </div>
        <div class="col-md-2">
            <label for="stock_from">Estoque de</label>
            <select ng-model="AllnationProductForm.formData.stock_from" id="stock_from">
                <option value="SC">Santa catarina</option>
                <option value="ES">Espirito Santo</option>
                <option value="RJ">Rio de Janeiro</option>
            </select>
        </div>
    </div>
</form>