<th></th>
<th>
    <input class="form-control" ng-model="AllnationProductList.filter['allnation_products.id']" placeholder="Código" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control" ng-model="AllnationProductList.filter['allnation_products.category']" placeholder="Categoria do produto" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control" ng-model="AllnationProductList.filter['allnation_products.brand']" placeholder="Marca" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control" ng-model="AllnationProductList.filter['allnation_products.stock_from']" placeholder="Local" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control" ng-model="AllnationProductList.filter['allnation_products.ean']" placeholder="EAN" ng-model-options="{debounce:500}" />
</th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger" ng-click="AllnationProductList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>