<th>
    <input class="form-control big" ng-model="PiPendenteList.filter['pedidos.codigo_marketplace']" placeholder="Nº do pedido" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control big" ng-model="PiPendenteList.filter['clientes.nome']" placeholder="Nome do cliente" ng-model-options="{debounce:500}" />
</th>
<th>
    <div class="date-picker">
        <input class="form-control" ng-model="PiPendenteList.filter['pedido_rastreio_pis.created_at']" ng-change="App.changeDate()" placeholder="Data"  />
        <div class="picker-wrap">
            <date-picker ng-model="PiPendenteList.filter['pedido_rastreio_pis.created_at']"></date-picker>
        </div>
    </div>
</th>
<th>
    <input class="form-control" ng-model="PiPendenteList.filter['pedido_rastreios.rastreio']" placeholder="Rastreio" ng-model-options="{debounce:500}"  />
</th>
<th>
    <input class="form-control" ng-model="PiPendenteList.filter['pedido_rastreio_pis.codigo_pi']" placeholder="Código" ng-model-options="{debounce:500}"  />
</th>
<th>
    <select ng-model="PiPendenteList.filter['pedido_rastreio_pis.motivo_status']" class="form-control">
        <option value="">Todos</option>
        <option value="2">Atrasado</option>
        <option value="3">Extraviado</option>
        <option value="0">Outros</option>
    </select>
</th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger btn-reset-filter" ng-click="PiPendenteList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>