<div id="page-header" class="row">
    <page-title icon="fa-mobile" title="Detalhes do produto" description="Aqui é possível visualizar todas as informações do produto"></page-title>
    <div class="col-md-6 button-bar">
            <a ui-sref="app.produtos.form({sku: ProdutoDetalhe.produto.sku})" class="btn-info" roles="admin|gestor"><i class="fa-pencil"></i>&nbsp; Editar</a>
            <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
    </div>
</div>

<form novalidate="novalidate" class="form-default" id="detalheProduto">
    <tabs>
        <tab name="infosProduto" title="Informações do produto">
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="titulo">Título</label>
                    <input ng-model="ProdutoDetalhe.produto.titulo" id="titulo" readonly />
                </div>
                <div class="col-md-2 form-group">
                    <label for="estado">Estado</label>
                    <input ng-model="ProdutoDetalhe.produto.estado_description" id="estado" readonly />
                </div>
                <div class="col-md-3 form-group">
                    <label for="sku">SKU</label>
                    <input ng-model="ProdutoDetalhe.produto.sku" id="sku" readonly />
                </div>
                <div class="col-md-1 form-group">
                    <label for="estoque">Estoque</label>
                    <input ng-model="ProdutoDetalhe.produto.estoque" id="estoque" readonly />
                </div>
            </div>
        </tab>
        <tab ng-if="ProdutoDetalhe.inspecoesTecnicas.length" name="produtosRevisados" title="Itens Revisados">
            <div static-include="views/produto/detalhe/inspecoes.html"></div>
        </tab>
        <tab ng-if="ProdutoDetalhe.pedidoProdutos.data.length" name="pedidosAbertos" title="Pedidos abertos">
            <div static-include="views/produto/detalhe/pedidos.html"></div>
        </tab>
        <tab name="imeisDisponiveis" title="Imeis disponíveis" ng-if="ProdutoDetalhe.imeis.length">
            <div static-include="views/produto/detalhe/imeis.html"></div>
        </tab>
        <tab name="estoques" title="Estoques" ng-if="ProdutoDetalhe.productStocks.length">
            <div static-include="views/produto/detalhe/stocks.html"></div>
        </tab>
    </tabs>
</form>
