<div id="page-header" class="row">
    <page-title icon="fa-mobile" title="Gerenciamento do produto" description="Aqui é possível visualizar e alterar todas as informações do produto"></page-title>
    <div class="col-md-6 button-bar">
            <a ng-click="ProdutoForm.save()" title="Salvar produto" class="btn-success"><i class="fa-save"></i>&nbsp; Salvar</a>
            <button class="btn-info" ng-click="ProdutoForm.openImeiForm()"><i class="fa-barcode"></i>&nbsp; Entrada</button>
            <button class="btn-danger" confirm="ProdutoForm.destroy()"><i class="fa-trash"></i>&nbsp; Excluir</button>
            <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
    </div>
</div>

<form ng-submit="ProdutoForm.save()" novalidate="novalidate" class="form-default" id="formProduto">
    <validation errors="ProdutoForm.validationErrors"></validation>
    <tabs>
        <tab name="infosProduto" title="Informações do produto">
            <div class="row form-group">
                <div class="col-md-5">
                    <label for="titulo">Título</label>
                    <input type="text" ng-model="ProdutoForm.produto.titulo" id="titulo" placeholder="Título do produto" required />
                </div>
                <div class="col-md-2 form-group">
                    <label for="estado">Estado</label>
                    <select ng-model="ProdutoForm.produto.estado" name="estado" id="estado">
                        <option value="0">Novo</option>
                        <option value="1">Seminovo</option>
                    </select>
                </div>
                <div class="col-md-2 form-group">
                    <label for="sku">SKU</label>
                    <div class="input-group">
                        <input ng-model="ProdutoForm.produto.sku" type="number" id="sku" placeholder="SKU do produto" required />
                        <span class="input-group-btn">
                            <a ng-click="ProdutoForm.generateSku()" class="btn btn-complete" title="Gerar novo SKU">
                                <i class="fa-key"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    <label for="valor">Preço</label>
                    <input ng-model="ProdutoForm.produto.valor" id="valor" placeholder="R$" ui-money-mask required />
                </div>
                <div class="col-md-1 form-group">
                    <label for="estoque">Estoque</label>
                    <input type="number" ng-model="ProdutoForm.produto.estoque" id="estoque" placeholder="Qtd" readonly />
                </div>
            </div>
        </tab>
        <tab name="estoques" title="Estoques" ng-if="ProdutoForm.productStocks.length">
            <table class="table-alt table-hover no-padding">
                <thead>
                    <tr>
                        <th>Estoque</th>
                        <th>Incluir</th>
                        <th>Ordem</th>
                        <th>Ctrl Serial</th>
                        <th>Estoque</th>
                        <th width="46"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="productStock in ProdutoForm.productStocks track by $index">
                        <td class="form-group">
                            <input value="{{ productStock.stock.title }}" id="title-{{ $index }}" readonly />
                        </td>
                        <td class="form-group">
                            <input value="{{ productStock.stock.include ? 'Sim' : 'Não' }}" id="include-{{ $index }}" readonly />
                        </td>
                        <td class="form-group">
                            <input value="{{ productStock.stock.priority }}" id="priority-{{ $index }}" readonly />
                        </td>
                        <td class="form-group">
                            <div class="radio radio-success pull-left m-l-15">
                                <input id="serial_enabled-{{ $index }}-true" type="radio" ng-model="productStock.serial_enabled" ng-value="true">
                                <label for="serial_enabled-{{ $index }}-true">Sim</label>
                            </div>
                            <div class="radio radio-success pull-left m-t-10">
                                <input id="serial_enabled-{{ $index }}-false" type="radio" ng-model="productStock.serial_enabled" ng-value="false">
                                <label for="serial_enabled-{{ $index }}-false">Não</label>
                            </div>
                        </td>
                        <td class="form-group">
                            <input type="number" ng-model="productStock.quantity" id="quantity-{{ $index }}" placeholder="Qtd" ng-disabled="productStock.serial_enabled" />
                        </td>
                        <td>
                            <button ng-click="ProdutoForm.transfer(productStock)" type="button" class="btn-info btn-sm" title="Transferir estoque">
                                <i class="fa-retweet"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button ng-click="ProdutoForm.addProductStock()" type="button" class="btn-info pull-right m-t-20">
                <i class="fa-plus">&nbsp;</i> Adicionar estoque
            </button>
        </tab>
    </tabs>
</form>
