<div id="page-header" class="row">
    <page-title icon="fa-mobile" title="Gerenciamento do produto" description="Aqui é possível visualizar e alterar todas as informações do produto"></page-title>
    <div class="col-md-6 button-bar">
        <a ng-click="ProdutoForm.save()" title="Salvar produto" class="btn-success"><i class="fa-save"></i>&nbsp; Salvar</a>
        <button ng-if="ProdutoForm.editedSku" class="btn-danger" confirm="ProdutoForm.destroy()"><i class="fa-trash"></i>&nbsp; Excluir</button>
        <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
    </div>
</div>

<form ng-submit="ProdutoForm.save()" novalidate="novalidate" class="form-default form-vertical" id="formProduto">
    <validation errors="ProdutoForm.validationErrors"></validation>
    <tabs>
        <tab name="infosProduto" title="Informações do produto">
            <div class="row form-group">
                <div class="col-md-2 a-right">
                    <label for="sku">SKU</label>
                </div>
                <div class="col-md-2">
                    <input ng-model="ProdutoForm.produto.sku" type="number" id="sku" placeholder="SKU do produto" required />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 a-right">
                    <label for="ean">EAN</label>
                </div>
                <div class="col-md-3">
                    <input ng-model="ProdutoForm.produto.ean" id="ean" placeholder="EAN do produto" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 a-right">
                    <label for="titulo">Título</label>
                </div>
                <div class="col-md-9">
                    <input type="text" ng-model="ProdutoForm.produto.titulo" id="titulo" placeholder="Título do produto" required />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 a-right">
                    <label for="linha">Linha</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="linha" ng-options="linha.id as linha.titulo for linha in ProdutoForm.linhas" ng-model="ProdutoForm.produto.linha_id">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 a-right">
                    <label for="marca">Marca</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="marca" ng-options="marca.id as marca.titulo for marca in ProdutoForm.marcas" ng-model="ProdutoForm.produto.marca_id">
                        <option value="">Selecione uma opção</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 a-right">
                    <label for="estado">Condição</label>
                </div>
                <div class="col-md-2">
                    <select ng-model="ProdutoForm.produto.estado" name="estado" id="estado">
                        <option value="0">Novo</option>
                        <option value="1">Usado</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 a-right">
                    <label for="valor">Preço</label>
                </div>
                <div class="col-md-2">
                    <input ng-model="ProdutoForm.produto.valor" id="valor" placeholder="R$" ui-money-mask required />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 a-right">
                    <label for="warranty">Garantia</label>
                </div>
                <div class="col-md-3">
                    <input ng-model="ProdutoForm.produto.warranty" id="warranty" placeholder="Garantia" />
                </div>
            </div>
        </tab>
        <tab ng-if="ProdutoForm.editedSku && ProdutoForm.productStocks" name="estoques" title="Estoques">
            <table class="table-alt table-hover no-padding">
                <thead>
                    <tr>
                        <th>Estoque</th>
                        <th>Incluir</th>
                        <th>Ordem</th>
                        <th>Controle de Serial</th>
                        <th>Estoque</th>
                        <th width="46"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="productStock in ProdutoForm.productStocks track by $index">
                        <td class="form-group">
                            <input value="{{ productStock.stock.title }}" id="title-{{ $index }}" readonly />
                        </td>
                        <td class="form-group">
                            <input value="{{ productStock.stock.include ? 'Sim' : 'Não' }}" id="include-{{ $index }}" readonly />
                        </td>
                        <td class="form-group">
                            <input value="{{ productStock.stock.priority }}" id="priority-{{ $index }}" readonly />
                        </td>
                        <td class="form-group">
                            <div class="radio radio-success pull-left m-l-15">
                                <input id="serial_enabled-{{ $index }}-true" type="radio" ng-model="productStock.serial_enabled" ng-value="true">
                                <label for="serial_enabled-{{ $index }}-true">Sim</label>
                            </div>
                            <div class="radio radio-success pull-left m-t-10">
                                <input id="serial_enabled-{{ $index }}-false" type="radio" ng-model="productStock.serial_enabled" ng-value="false">
                                <label for="serial_enabled-{{ $index }}-false">Não</label>
                            </div>
                        </td>
                        <td class="form-group">
                            <input type="number" ng-model="productStock.quantity" id="quantity-{{ $index }}" placeholder="Qtd" ng-disabled="productStock.serial_enabled" />
                        </td>
                        <td>
                            <button ng-click="ProdutoForm.transfer(productStock)" type="button" class="btn-info btn-sm" title="Transferir estoque">
                                <i class="fa-retweet"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button ng-click="ProdutoForm.addProductStock()" type="button" class="btn-info pull-right m-t-20">
                <i class="fa-plus">&nbsp;</i> Adicionar estoque
            </button>
        </tab>
    </tabs>
</form>
