<th>
    <input class="form-control big" ng-model="ProdutoList.filter['produtos.sku']" placeholder="SKU" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control big" ng-model="ProdutoList.filter['produtos.titulo']" placeholder="Título do produto" ng-model-options="{debounce:500}" />
</th>
<th class="between-group">
    <input class="form-control big" ng-model="ProdutoList.filter['produtos.valor'].from" placeholder="De" ng-model-options="{debounce:500}" type="number" />
    <span>/</span>
    <input class="form-control big" ng-model="ProdutoList.filter['produtos.valor'].to" placeholder="Até" ng-model-options="{debounce:500}" type="number" />
</th>
<th>
    <select ng-model="ProdutoList.filter['produtos.estado']" class="form-control">
        <option value="">Todos</option>
        <option value="0">Novo</option>
        <option value="1">Seminovo</option>
    </select>
</th>
<th></th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger" ng-click="ProdutoList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>
