<div id="page-header" class="row">
    <page-title icon="fa-mobile" title="Produtos" description="Todos os produtos."></page-title>
    <div class="col-md-6 button-bar">
        <button ui-sref="app.produtos.form" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Novo</button>
    </div>
</div>
<table table-list="ProdutoList">
    <thead>
        <tr>
            <th width="150" class="text-center">SKU</th>
            <th>Título</th>
            <th width="160" class="text-center">Estado</th>
            <th width="160" class="text-center">Estoque</th>
            <th width="75"></th>
        </tr>
        <tr class="table-filter" static-include="views/produto/list_filter.html"></tr>
    </thead>
    <tbody ng-if="ProdutoList.tableData.data && !ProdutoList.loading">
        <tr ng-repeat="produto in ProdutoList.tableData.data">
            <td class="text-center">{{ produto.sku }}</td>
            <td>
                <strong>{{ produto.titulo }}</strong>
                <br/>
                <small>
                    {{ produto.linha.titulo + ((produto.linha.titulo && produto.marca.titulo) ? ' / ' : '') + produto.marca.titulo }}
                </small>
            </td>
            <td class="text-center">
                {{ produto.estado_description }}
            </td>
            <td class="text-center">
                {{ produto.estoque }}
            </td>
            <td class="text-center">
                <a class="btn-info" ui-sref="app.produtos.form({sku: produto.sku})">
                    <i class="fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>