<div id="page-header" class="row">
    <page-title icon="fa-mobile" title="Produtos" description="Todos os produtos."></page-title>
    <div class="col-md-6 button-bar">
        <button ui-sref="app.produtos.form" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Novo</button>
    </div>
</div>
<table table-list="ProdutoList">
    <thead>
        <tr>
            <th width="150" class="text-center">SKU</th>
            <th>Título</th>
            <th width="200" class="text-center">Preço</th>
            <th width="160" class="text-center">Custo</th>
            <th width="160" class="text-center">Estado</th>
            <th width="160" class="text-center">Estoque</th>
            <th width="75"></th>
        </tr>
        <tr class="table-filter" static-include="views/produto/list_filter.html"></tr>
    </thead>
    <tbody ng-if="ProdutoList.tableData.data && !ProdutoList.loading">
        <tr ng-repeat="produto in ProdutoList.tableData.data">
            <td class="text-center">{{ produto.sku }}</td>
            <td>
                <strong>{{ produto.titulo }}</strong>
                <br/>
                <small>
                    {{ produto.linha.titulo + ((produto.linha.titulo && produto.marca.titulo) ? ' / ' : '') + produto.marca.titulo }}
                </small>
            </td>
            <td class="text-center">
                {{ produto.valor | currency }}
            </td>
            <td class="text-center">
                {{ produto.cost | currency }}
            </td>
            <td class="text-center">
                {{ produto.estado_description }}
            </td>
            <td class="text-center">
                <span ng-if="produto.attachedProducts[0]" tooltips tooltip-template="Pedidos pendentes" class="label">{{ produto.attachedProducts[0] }}</span>
                <span ng-if="produto.attachedProducts[1]" tooltips tooltip-template="Pedidos pagos" class="label label-info">{{ produto.attachedProducts[1] }}</span>
                {{ produto.estoque }}
            </td>
            <td class="text-center">
                <dropdown>
                        <li>
                            <a ui-sref="app.produtos.detalhe({sku: produto.sku})"><i class="fa-eye"></i>&nbsp; Detalhes</a>
                        </li>
                        <li roles="admin|gestor">
                            <a ui-sref="app.produtos.form({sku: produto.sku})"><i class="fa-pencil"></i>&nbsp; Editar</a>
                        </li>
                </dropdown>
            </td>
        </tr>
    </tbody>
</table>
