<h1>Gerenciando tarefas</h1>
<form ng-submit="TarefaForm.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="titulo">Título</label>
            <input ng-model="TarefaForm.tarefa.titulo" id="titulo" placeholder="Nome da tarefa" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="pontos">Pontos</label>
            <input ng-model="TarefaForm.tarefa.pontos" id="pontos" placeholder="Valor em pontos" type="number" min="0" ng-minlenght="0" required />
        </div>
        <div class="col-md-6 form-group">
            <label for="moedas">Moedas</label>
            <input ng-model="TarefaForm.tarefa.moedas" id="moedas" placeholder="Valor em moedas" type="number" min="0" ng-minlenght="0" required />
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <a ng-if="TarefaForm.tarefa.id" confirm="TarefaForm.destroy()" class="btn-danger">Excluir</a>
            <button busy="Salvando..." type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>