<div id="page-header" class="row">
    <page-title icon="fa-trophy" title="Tarefas" description="Realize essas tarefas e ganhe experiência, pontos e moedas."></page-title>
    <div class="col-md-6 button-bar" roles="admin">
        <button ng-click="TarefaList.openForm()" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Nova</button>
    </div>
</div>
<table table-list="TarefaList">
    <thead>
        <tr>
            <th>Título</th>
            <th class="text-center" width="160">Pontos</th>
            <th class="text-center" width="160">Moedas</th>
            <th width="50"></th>
        </tr>
        <tr class="table-filter" static-include="views/gamification/tarefas/list_filter.html"></tr>
    </thead>
    <tbody ng-if="TarefaList.tableData.data && !TarefaList.loading">
        <tr ng-repeat="terefa in TarefaList.tableData.data">
            <td>
                <span class="fz-20 p-l-10">{{ terefa.titulo }}</span>
            </td>
            <td class="text-center text-complete">
                <i class="fa-certificate"></i>&nbsp;
                {{ terefa.pontos }}
            </td>
            <td class="text-center text-success">
                $&nbsp;
                {{ terefa.moedas }}
            </td>
            <td class="text-center">
                <a class="btn-info" ng-click="TarefaList.openForm(terefa)" roles="admin">
                    <i class="fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>