<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa-line-chart"></i>&nbsp; Pedidos por dia
        </div>
        <div class="panel-controls">
            <a ng-click="$ctrl.loadTotalOrders(false, true)" tooltips tooltip-template="Adicionar" class="btn-default m-l-5">
                <i class="fa-plus"></i>
            </a>
            <a ng-click="$ctrl.loadTotalOrders(true)" tooltips tooltip-template="Limpar" class="btn-default">
                <i class="fa-eraser"></i>
            </a>
        </div>
    </div>
    <div class="panel-body p-l-5 p-r-15">
        <highchart id="dashboardChart" config="$ctrl.chartOrders"></highchart>
    </div>
</div>