<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa-cubes"></i>&nbsp; {{ $ctrl.title || 'Status por marketplace' }}
        </div>
        <div class="panel-controls">
            <a ng-click="$ctrl.loadTotalOrdersStatus()" class="btn-default">
                <i class="fa-refresh"></i>
            </a>
        </div>
    </div>
    <div class="panel-body p-l-5 p-r-15">
        <highchart id="dashboardChart" config="$ctrl.chartOrdersStatus"></highchart>
    </div>
</div>