<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><i class="fa-video-camera"></i>&nbsp; Rastreios monitorados</div>
        <div class="panel-controls">
            <a ui-sref="app.rastreios.monitorados()"" class="btn-default"><i class="fa-eye"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12 no-results" ng-if="!$ctrl.rastreiosMonitorados.length">
            Você não está monitorando nenhum rastreio
        </div>
        <div class="col-md-12" ng-if="$ctrl.rastreiosMonitorados.length" ng-repeat="monitorado in $ctrl.rastreiosMonitorados">
            <div class="row">
                <p class="pull-left">
                    <a target="_blank" ng-href="{{ monitorado.rastreio.rastreio_url }}">{{ monitorado.rastreio.rastreio }}</a>
                    &nbsp;
                    <a ng-if="monitorado.rastreio.imagem_historico" target="_blank" ng-click="$ctrl.rastreioHelper.printHistorico(monitorado.rastreio.id)"><i class="fa-picture-o"></i></a>
                </p>
                <div class="pull-right">
                    <dropdown size="xs">
                        <li>
                            <a ui-sref="app.pedidos.detalhe({id: monitorado.rastreio.pedido_id})">
                                <i class="fa fa-eye"></i>&nbsp; Visualizar
                            </a>
                        </li>
                        <li>
                            <a ng-click="$ctrl.rastreioHelper.editar(monitorado.rastreio.id, true)">
                                <i class="fa-edit"></i>&nbsp; Editar
                            </a>
                        </li>
                        <li ng-if="$ctrl.pedido.notas.length">
                            <a ng-click="$ctrl.rastreioHelper.printEtiqueta(monitorado.rastreio.id)">
                                <i class="fa-tag"></i>&nbsp; Etiqueta
                            </a>
                        </li>
                        <li ng-if="$ctrl.pedido.notas.length">
                            <a ng-click="$ctrl.rastreioHelper.logistica(monitorado.rastreio.id, true)">
                                <i class="fa-exchange"></i>&nbsp; Logística
                            </a>
                        </li>
                        <li ng-if="$ctrl.pedido.notas.length">
                            <a ng-click="$ctrl.rastreioHelper.devolucao(monitorado.rastreio.id, true)">
                                <i class="fa-undo"></i>&nbsp; Devolução
                            </a>
                        </li>
                        <li ng-if="$ctrl.pedido.notas.length">
                            <a ng-click="$ctrl.rastreioHelper.pi(monitorado.rastreio.id, true)">
                                <i class="fa-warning"></i>&nbsp; PI
                            </a>
                        </li>
                        <li>
                            <a ng-click="$ctrl.rastreioHelper.imagem(monitorado.rastreio.id, true)">
                                <i class="fa-picture-o"></i>&nbsp; {{ (monitorado.rastreio.imagem_historico) ? 'Regerar'  : 'Gerar'}} imagem
                            </a>
                        </li>
                        <li>
                            <a ng-click="$ctrl.rastreioHelper.monitorar(monitorado.rastreio.id, !monitorado.rastreio.monitorado, true)">
                                <i class="fa-video-camera"></i>&nbsp; {{ (monitorado.rastreio.monitorado) ? 'Parar de monitorar' : 'Monitorar' }}
                            </a>
                        </li>
                    </dropdown>
                </div>
                <p class="clear">
                    <span class="label label-{{ $ctrl.rastreioHelper.parseStatusClass(monitorado.rastreio.status) }}">{{ monitorado.rastreio.status_description }}</span>
                    <br>
                    <small class="hint-text">Enviado {{ monitorado.rastreio.data_envio_readable }}. Prazo de {{ monitorado.rastreio.prazo }} dia(s)</small>
                </p>
                <div ng-if="monitorado.rastreio.devolucao" class="alert alert-info m-t-10">
                    <small><i class="fa-undo"></i>&nbsp; Devolução em {{ monitorado.rastreio.devolucao.created_at }}</small>
                </div>
                <div ng-if="monitorado.rastreio.logistica" class="alert alert-info m-t-10">
                    <small><i class="fa-exchange"></i>&nbsp; Logística em {{ monitorado.rastreio.logistica.created_at }}</small>
                </div>
                <div ng-if="monitorado.rastreio.pi" class="alert alert-info m-t-10">
                    <small><i class="fa-warning"></i>&nbsp; PI em {{ monitorado.rastreio.pi.created_at }}</small>
                </div>
            </div>
            <hr ng-hide="$last" />
        </div>
    </div>
</div>