<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
                <i class="fa-shopping-cart"></i>&nbsp; Pedidos
        </div>
        <div class="panel-controls">
            <a ng-click="$ctrl.loadTotalOrdersDate()" class="btn-default">
                <i class="fa-refresh"></i>
            </a>
        </div>
    </div>
    <div class="panel-body text-center">
        <div class="row">
            <div class="col-md-6 p-l-10">
                <span class="fz-22" ng-bind="$ctrl.ordersDate.dia.ultimo[1] || '-'"></span>
                <br/>
                <small class="hint-text">Ontem</small>
            </div>
            <div class="col-md-6 p-r-10 b-l-1">
                <span class="fz-22 text-success"
                    ng-bind="$ctrl.ordersDate.dia.atual[1] || '-'"
                    ng-class="{ 'text-danger': ($ctrl.ordersDate.dia.atual[1] < $ctrl.ordersDate.dia.ultimo[1]) }">
                </span>
                <br/>
                <small class="hint-text">Hoje</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-l-10 p-t-5">
                <span class="fz-22" ng-bind="$ctrl.ordersDate.mes.ultimo[1] || '-'"></span>
                <br/>
                <small class="hint-text">{{ $ctrl.ordersDate.mes.ultimo[0] }}</small>
            </div>
            <div class="col-md-6 p-r-10 b-l-1 p-t-5">
                <span class="fz-22 text-success"
                    ng-bind="$ctrl.ordersDate.mes.atual[1] || '-'"
                    ng-class="{ 'text-danger': ($ctrl.ordersDate.mes.atual[1] < $ctrl.ordersDate.mes.ultimo[1]) }">
                </span>
                <br/>
                <small class="hint-text">{{ $ctrl.ordersDate.mes.atual[0] }}</small>
            </div>
        </div>
    </div>
</div>