* {
  margin: 0;
  padding: 0;

  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }

  &:after:focus,
  &:before:focus,
  &:focus {
    outline: 0
  }
}

body, html, #app {
  height: 100%;
}

body {
  position: relative;
  z-index: 1;

  color: #232323;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .01em;
}

textarea,
select,
button {
  &::selection {
    background: transparent;
    text-shadow: none;
  }
}

input {
  &::selection {
    text-shadow: none;
    color: $black;
    background: $default;
  }
}

::selection {
  background: #292B37;
  color: #FFF;
  text-shadow: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color linear 100ms;

  &[href]:not([href="#"]) {
    color: $link;
    transition: all linear 150ms;

    &:hover,
    &:focus {
      opacity: .9;
    }
  }
}

a:focus,
a:hover {
  color: $black;
  text-decoration: underline;
  outline: none;
}

button {
  cursor: pointer;
}

select,
input,
textarea,
button {
  font-family: inherit;
  border: none;
  outline: none;
  background: transparent;
}

textarea {
  resize: vertical;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
