$primary: #3C83EB;
$success: #10CFBD;
$warning: #F8D053;
$danger: #F55753;
$info: #6D5CAE;
$link: #568BD8;
$importan: #F8AC53;
$default: #EEEEE;

// map to generate component defaults
$colors: (
  primary  : #3C83EB,
  success  : #10CFBD,
  warning  : #F8D053,
  danger   : #F55753,
  info     : #6D5CAE,
  link     : #568BD8,
  important: #F8AC53,
  default  : #EEEEEE
);

$white: #FFF;
$ligther: #F5F5F5;
$light: #EEE;
$default: #DDD;
$dark: #999;
$daker: #666;
$black: #232323;
