<h1>Logística reversa</h1>
<validation errors="Logistica.validationErrors"></validation>
<div class="alert alert-info m-b-10"><i class="fa fa-info"></i>&nbsp; O rastreio assumirá o status de "Devolvido" caso receber ação.</div>
<form ng-submit="Logistica.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="autorizacao">Autorização de postagem</label>
            <input id="autorizacao" class="form-control" ng-model="Logistica.logistica.autorizacao" placeholder="Código da autorização" required>
        </div>
        <div class="col-md-6 form-group">
            <label for="motivo" class="{{ Logistica.logistica.motivo }}">Motivo</label>
            <select ng-model="Logistica.logistica.motivo" id="motivo" class="form-control" required>
                <option ng-if="!Logistica.logistica.motivo && Logistica.logistica.motivo !== 0" value="" disabled selected hidden>Motivo</option>
                <option value="0">Defeito</option>
                <option value="1">Arrependimento</option>
                <option value="2">Duplicidade</option>
                <option value="3">Aparelho divergente</option>
                <option value="4">Outro</option>
            </select>
        </div>
    </div>

    <hr>
    <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i>&nbsp; Incluir as informações abaixo apenas quando o cliente enviar a mercadoria.</div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="acao">Ação realizada</label>
            <select ng-model="Logistica.logistica.acao" id="acao" class="form-control" ng-change="Logistica.verifySeminovos()">
                <option ng-if="!Logistica.logistica.acao && Logistica.logistica.acao !== 0" value="" disabled selected hidden>Ação realizada</option>
                <option value="0">Reenvio</option>
                <option value="1">Cancelamento</option>
            </select>
        </div>
    </div>
    <div class="row" ng-if="Logistica.logistica.acao == 1 && Logistica.logistica.rastreio.pedido.marketplace !== 'MERCADOLIVRE'">
        <div class="col-md-{{ Logistica.logistica.imagem_cancelamento ? '12' : '6' }} form-group">
            <label for="protocolo">Protocolo</label>
            <input class="form-control" id="protocolo" ng-model="Logistica.logistica.protocolo" placeholder="Protocolo de cancelamento" />
        </div>
        <div ng-if="!Logistica.logistica.imagem_cancelamento" class="col-md-6 form-group">
            <label for="imagem" class="full-width">Imagem</label>
            <div class="btn-default" ngf-select ng-model="Logistica.logistica.imagem" id="imagem" ngf-pattern="'image/*'" ngf-accept="'image/*'">
                <i class="fa fa-picture-o"></i>&nbsp; Tela de cancelamento
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label for="observacoes">Observações</label>
            <textarea class="form-control" id="observacoes" ng-model="Logistica.logistica.observacoes" placeholder="Observacões gerais"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <button busy="Salvando..." type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>
