<div id="page-header" class="row">
    <page-title icon="fa-tasks" title="Linhas" description="Todos as linhas de produto."></page-title>
    <div class="col-md-6 button-bar">
        <button ui-sref="app.produtos.linhas.form" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Nova</button>
    </div>
</div>
<table table-list="LinhaList">
    <thead>
        <tr>
            <th>Título</th>
            <th class="text-center" width="120">Cadastro</th>
            <th width="75"></th>
        </tr>
        <tr class="table-filter" static-include="views/linha/list_filter.html"></tr>
    </thead>
    <tbody ng-if="LinhaList.tableData.data && !LinhaList.loading">
        <tr ng-repeat="linha in LinhaList.tableData.data">
            <td><strong>{{ linha.titulo }}</strong></td>
            <td class="text-center">{{ linha.created_at_readable }}</td>
            <td class="text-center">
                <a class="btn-info" ui-sref="app.produtos.linhas.form({id: linha.id})">
                    <i class="fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>