<h1>Gerenciando usuário</h1>
<form ng-submit="UsuarioForm.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="username">Usuário</label>
            <input ng-model="UsuarioForm.usuario.username" id="username" placeholder="Usuário de acesso ao sistema" required />
        </div>
        <div class="col-md-6 form-group">
            <label for="name">Nome</label>
            <input ng-model="UsuarioForm.usuario.name" id="name" placeholder="Nome para identificação" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="email">E-mail</label>
            <input ng-model="UsuarioForm.usuario.email" id="email" placeholder="E-mail para envio de notificações" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="password">Senha</label>
            <input ng-model="UsuarioForm.usuario.password" type="password" id="password" placeholder="Senha para acesso" />            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Permissões</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role1" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[1]" ng-true-value="1">
                            <label for="role1">Administração</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role2" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[2]" ng-true-value="2">
                            <label for="role2">Gestão</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role3" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[3]" ng-true-value="3">
                            <label for="role3">Atendimento</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role4" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[4]" ng-true-value="4">
                            <label for="role4">Faturamento</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role5" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[5]" ng-true-value="5">
                            <label for="role5">Marketing</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <button busy="Salvando..." type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>
<!--
<h6 class="font-alt-bold-upper">Gerenciando usuário</h6>
<form ng-submit="UsuarioForm.save()" novalidate="novalidate" class="form-default">
    <div class="row form-group">
        <div class="col-md-6">
            <label for="username">Usuário</label>
            <input id="username" ng-model="UsuarioForm.usuario.username" placeholder="Usuário de acesso ao sistema" required />
        </div>
        <div class="col-md-6">
            <label for="username">Usuário</label>
            <input id="username" ng-model="UsuarioForm.usuario.username" placeholder="Usuário de acesso ao sistema" required />
            <label for="name">Nome</label>
            <input id="name" ng-model="UsuarioForm.usuario.name" placeholder="Nome para identificação" required />
            <label for="email">E-mail</label>
            <input id="email" ng-model="UsuarioForm.usuario.email" placeholder="E-mail para envio de notificações" required />
            <label for="password">Senha</label>
            <input type="password" id="password" ng-model="UsuarioForm.usuario.password" placeholder="Senha para acesso" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <label for="email">E-mail</label>
            <input id="email" ng-model="UsuarioForm.usuario.email" placeholder="E-mail para envio de notificações" required />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <label for="password">Senha</label>
            <input type="password" id="password" ng-model="UsuarioForm.usuario.password" placeholder="Senha para acesso" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h6 class="font-alt-bold-upper color-master">Permissões</h6>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role1" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[1]" ng-true-value="1">
                            <label for="role1">Administração</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role2" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[2]" ng-true-value="2">
                            <label for="role2">Gestão</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role3" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[3]" ng-true-value="3">
                            <label for="role3">Atendimento</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role4" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[4]" ng-true-value="4">
                            <label for="role4">Faturamento</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox check-success">
                            <input id="role5" type="checkbox" ng-model="UsuarioForm.usuario.novasRoles[5]" ng-true-value="5">
                            <label for="role5">Marketing</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right m-t-15">
        <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
        <button busy="Salvando..." type="submit" class="btn btn-primary">Salvar</button>
    </div>
    <div class="clearfix"></div>
</form>
-->