<div id="page-header" class="row">
    <page-title icon="fa-users" title="Usuários" description="Todos usuários do tucano estão aqui."></page-title>
    <div class="col-md-6 button-bar">
        <button ng-click="UsuarioList.openForm()" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Novo</button>
    </div>
</div>
<hr>
<table-header data="UsuarioList.tableHeader"></table-header>
<table class="table">
    <thead>
        <tr>
            <th class="text-center" width="200">Usuário</th>
            <th>Nome</th>
            <th width="300">Permissões</th>
            <th style="min-width:130px"></th>
        </tr>
    </thead>
    <tbody ng-if="UsuarioList.tableData.data && !UsuarioList.loading">
        <tr ng-repeat="usuario in UsuarioList.tableData.data">
            <td class="text-center">{{ usuario.username }}</td>
            <td>
                <strong>{{ usuario.name }}</strong>
                <br>
                <small class="hint-text">{{ usuario.email }}</small>
            </td>
            <td>
                <span class="label m-r-5" ng-repeat="role in usuario.roles">
                    {{ role.display_name }}
                </span>
            </td>
            <td>
                <dropdown>
                    <li>
                        <a title="Editar usuário" ng-click="UsuarioList.openForm(usuario)"><i class="fa-edit"></i>&nbsp; Editar</a>
                    </li>
                    <li>
                        <a title="Deletar usuário" ng-click="UsuarioList.destroy(usuario.id)"><i class="fa-trash"></i>&nbsp; Deletar</a>
                    </li>
                    <li>
                        <a title="Senhas" ui-sref="app.interno.usuarios.senhas({id: usuario.id})"><i class="fa-list"></i>&nbsp; Senhas</a>
                    </li>
                </dropdown>
            </td>
        </tr>
    </tbody>
</table>
<loading ng-if="UsuarioList.loading"></loading>