.DS_Store
.env
/node_modules
/vendor
/public/bower_components
/.idea
/media
/public/assets/css/app.css
/public/assets/css/app.min.css
/public/assets/js/app.min.js
/public/assets/js/lib.min.js
/public/images/gamification