<form ng-submit="ClienteForm.save()" novalidate="novalidate" class="form-default style-form-box" id="formProduto">
    <div id="page-header" class="row">
        <page-title icon="fa-user" title="{{ ClienteForm.cliente.nome || 'Adicionando cliente' }}" description="Todas as informações e endereços do Cliente"></page-title>
        <div class="col-md-6 button-bar">
            <button title="Salvar informações" class="btn-success" type="submit"><i class="fa-save"></i>&nbsp; Salvar</button>
            <a confirm="ClienteForm.destroy()" ng-if="ClienteForm.cliente.id" title="Salvar informações" class="btn-danger"><i class="fa-trash"></i>&nbsp; Excluir</a>
            <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
        </div>
    </div>

    <div class="form-box">
        <validation errors="ClienteForm.validationErrors"></validation>
        <tabs>
            <tab name="infos" title="Informações">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="nome">Nome</label>
                        <input type="text" ng-model="ClienteForm.cliente.nome" id="nome" placeholder="Nome completo do cliente" required />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="email">E-mail</label>
                        <input type="email" ng-model="ClienteForm.cliente.email" id="email" placeholder="E-mail do cliente" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="fone">Telefone</label>
                        <input type="text" ng-model="ClienteForm.cliente.fone" id="fone" placeholder="Telefone principal do cliente" ui-br-phone-number required />
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="taxvat">Documento</label>
                        <input type="text" ng-model="ClienteForm.cliente.taxvat" id="taxvat" placeholder="CPF/CNPJ do cliente" ui-br-cpfcnpj-mask required />
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="inscricao">Inscrição Estadual</label>
                        <input type="text" ng-model="ClienteForm.cliente.inscricao" id="inscricao" placeholder="IE do cliente (se for empresa)" />
                    </div>
                </div>
            </tab>
            <tab name="enderecos" title="Endereços">
                <div ng-repeat="endereco in ClienteForm.cliente.enderecos">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label for="cep">CEP</label>
                            <input type="text" ng-model="endereco.cep" ng-change="ClienteForm.getAddress($index)" ng-model-options="{debounce:500}" id="cep" placeholder="CEP do endereço" ui-br-cep-mask required />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="rua">Rua</label>
                            <input type="text" ng-model="endereco.rua" id="rua" placeholder="Rua" required />
                        </div>
                        <div class="col-md-2 form-group">
                            <label for="numero">Número</label>
                            <input type="number" ng-model="endereco.numero" id="numero" placeholder="Número" min="0" required />
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" ng-model="endereco.bairro" id="bairro" placeholder="Número" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" ng-model="endereco.complemento" id="complemento" placeholder="Complemento" />
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="cidade">Cidade</label>
                            <input type="text" ng-model="endereco.cidade" id="cidade" placeholder="Cidade" required />
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="uf">UF</label>
                            <input type="text" ng-model="endereco.uf" id="uf" placeholder="UF" ng-maxlength="2" required />
                        </div>
                    </div>
                    <hr/>
                </div>
                <a ng-click="ClienteForm.addAddress()" class="btn-info btn-sm pull-right">
                    <i class="fa-plus">&nbsp;</i> Adicionar endereço
                </a>
            </tab>
        </tabs>
    </div>
</form>
