<div id="page-header" class="row">
    <page-title icon="fa-group" title="Clientes" description="Todos os clientes da loja."></page-title>
    <div class="col-md-6 button-bar">
        <a ui-sref="app.clientes.form" class="btn-success">
            <i class="fa-user-plus">&nbsp;</i> Adicionar
        </a>
    </div>
</div>
<table table-list="ClienteList">
    <thead>
        <tr>
            <th class="text-center" width="160">Documento</th>
            <th>Nome</th>
            <th class="text-center" width="160">Cadastro</th>
            <th width="75"></th>
        </tr>
        <tr class="table-filter" static-include="views/cliente/list_filter.html"></tr>
    </thead>
    <tbody ng-if="ClienteList.tableData.data && !ClienteList.loading">
        <tr ng-repeat="cliente in ClienteList.tableData.data">
            <td class="text-center">
                <span clipboard supported="supported" text="cliente.taxvat" title="Clique para copiar apenas os números">{{ cliente.taxvat_readable }}</span>
            </td>
            <td>
                <strong>{{ cliente.nome }}</strong>
                <br/>
                <small>
                    {{ cliente.fone }}
                    <span ng-if="cliente.email"> | {{ cliente.email }}</span>
                    <span ng-if="cliente.last_endereco">- CEP: <strong>{{ cliente.last_endereco.cep_readable }}</strong> - {{ cliente.last_endereco.cidade }} / {{ cliente.last_endereco.uf }}</span>
                </small>
            </td>
            <td class="text-center">{{ cliente.created_at }}</td>
            <td class="text-center">
                <a class="btn-info" ui-sref="app.clientes.detalhe({id: cliente.id})">
                    <i class="fa-eye"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
