<div class="row">
    <div class="col-md-4">
        <chart-status-by-marketplace></chart-status-by-marketplace>
    </div>
    <div class="col-md-2">
        <div class="row m-b-20">
            <div class="col-md-12">
                <total-orders-by-date></total-orders-by-date>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <caixa-sugestao></caixa-sugestao>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <chart-total-orders></chart-total-orders>
    </div>
</div>

<div class="row m-t-20" roles="atendimento">
    <div class="col-md-3">
        <rastreios-monitorados></rastreios-monitorados>
    </div>
</div>