<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="fa-cubes"></i>&nbsp; Pedidos
                </div>
            </div>
            <div class="panel-body p-l-5 p-r-15">
                <highchart id="dashboardChart" config="Dashboard.chartOrdersStatus"></highchart>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row m-b-20">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa-arrow-{{ (Dashboard.ordersDate.ano.atual[1] > Dashboard.ordersDate.ano.ultimo[1]) ? 'up' : 'down' }}"
                                tooltips tooltip-template="{{ Dashboard.ordersDate.ano.ultimo[0] + ': ' + Dashboard.ordersDate.ano.ultimo[1] }}"></i>&nbsp;
                                {{ Dashboard.ordersDate.ano.atual[0] }}
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <span class="bold fz-30">{{ Dashboard.ordersDate.ano.atual[1] }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-b-20">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa-arrow-{{ (Dashboard.ordersDate.mes.atual[1] > Dashboard.ordersDate.mes.ultimo[1]) ? 'up' : 'down' }}"
                                tooltips tooltip-template="{{ Dashboard.ordersDate.mes.ultimo[0] + ': ' + Dashboard.ordersDate.mes.ultimo[1] }}"></i>&nbsp;
                                {{ Dashboard.ordersDate.mes.atual[0] }}
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <span class="bold fz-30">{{ Dashboard.ordersDate.mes.atual[1] }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa-arrow-{{ (Dashboard.ordersDate.dia.atual[1] > Dashboard.ordersDate.dia.ultimo[1]) ? 'up' : 'down' }}"
                                tooltips tooltip-template="{{ Dashboard.ordersDate.dia.ultimo[0] + ': ' + Dashboard.ordersDate.dia.ultimo[1] }}"></i>&nbsp;
                                {{ Dashboard.ordersDate.dia.atual[0] }}
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <span class="bold fz-30">{{ Dashboard.ordersDate.dia.atual[1] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>