<div class="login-wrapper">
    <div class="bg-pic">
        <img src="assets/img/fundologin.jpg" class="lazy">
    </div>
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-100 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <h3>
                <img src="assets/img/logo-image.png" alt="logo" class="m-r-10">
                <strong style="line-height: 35px;">meu tucano</strong>
            </h3>
            <form id="form-login" class="p-t-15" role="form" ng-submit="Auth.login()" novalidate="novalidate">
                <div ng-if="error" class="alert alert-danger" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>Aviso: </strong>
                    {{ error }}
                </div>
                <!-- START Form Control-->
                <div class="form-group form-group-default">
                    <label for="email">E-mail</label>
                    <div class="controls">
                        <input id="email" type="text" ng-model="Auth.email" placeholder="digite seu e-mail" class="form-control" required disable-validation-message>
                    </div>
                </div>
                <!-- END Form Control-->
                <!-- START Form Control-->
                <div class="form-group form-group-default">
                    <label for="password">Senha</label>
                    <div class="controls">
                        <input id="password" type="password" class="form-control" ng-model="Auth.password" placeholder="e sua senha..." required disable-validation-message>
                    </div>
                </div>
                <button busy="Enviando..." ng-disabled="Auth.loading" class="btn btn-primary btn-cons m-t-10" type="submit">
                    Entrar
                </button>
            </form>
            <!--END Login Form-->
        </div>
    </div>
    <!-- END Login Right Container-->
</div>
<!-- END PAGE CONTAINER -->