.dropdown {
    position: relative;

    button {
        @extend .dropdown-toggle;
        position: relative;
        z-index: 5;

        span {
            @extend .fa;
            @extend .fa-caret-down;
            margin-left: 5px;
        }
    }

    button:focus,
    button:hover,
    &:focus button,
    &:hover button {
        z-index: 15;

        span {
            @extend .fa-caret-up;
        }
    }

    ul:focus,
    ul:hover,
    &:focus ul,
    &:hover ul {   
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }

    ul {
        position: absolute;
        top: 100%;
        right: 0;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0; 
        list-style: none;
        font-size: $font-size-base;
        text-align: left;
        background-color: $color-master-lightest;
        border: 1px solid $dropdown-fallback-border; 
        border: 1px solid $dropdown-border;
        border-radius: $border-radius-base;
        @include box-shadow(0 6px 12px rgba(0,0,0,.175));
        background-clip: padding-box;
        transform: translateY(-4px);
        visibility: hidden;
        opacity: 0;
        z-index: -1;

        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: $line-height-base;
                color: $color-master;
                white-space: nowrap;

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $color-master-dark;
                    background-color: $color-master-light;
                }

                i {
                    width: 15px;
                }
            }
        }

        .divider {
            @include nav-divider($dropdown-divider-bg);
        }
    }
}