.folder-tree {
    list-style: none;
    margin: 0;
    padding: 20px;
    border: 1px solid #DDD;

    li {
        a {
            font-size: 14px;
            color: #666;
        }
    }

    ul {
        list-style: none;
        padding-left: 20px;
        margin: 0;
    }
}
