.form-default {
    padding: 20px;
    border: 1px solid $color-master-light;
    background: $color-white;

    &:not(.no-space) {
        .row {
            margin-top: 20px;

            &:first-of-type {
                margin-top: 0;
            }
        } 
    }

    .form-group {       
        &.has-success input {
            border-color: $color-success;
        }

        &.has-error input {
            border-color: $color-danger;
        }
    }

    textarea,
    select,
    input {
        display: block;
        width: 100%;
        height: 35px;
        line-height: 35px;
        vertical-align: middle;
        padding: 9px 12px;
        margin: 0;  
        box-shadow: none;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        outline: 0;
        color: $color-master;
        border: 1px solid $color-master-light;
        background-image: none;
        background-color: $color-master-lightest;

        &:focus {
            color: darken($color-master, 20%);
            border-color: darken($color-master-light, 20%);
            background-color: $color-master-lightest !important;
        }
    }

    select {
        padding-top: 0;
        padding-bottom: 0;

        &.ng-empty {
            color: $color-master-light;

            &:focus,
            &:hover {
                color: $color-master;
            }
        }
    }

    textarea {
        max-width: 100%;
        min-height: 100px;
    }

    fieldset {
        position: relative;
        padding: 20px 0;
        margin: 0;
        outline: none;
        border: none;
        border-top: 1px solid $color-master-light;

        &:last-child {
            padding-bottom: 0;
        }

        legend {
            font-family: $font-alt;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            padding: 0 10px 0 0;
        }

        .fieldset-actions {
            position: absolute;
            top: -1px;
            right: 0;
            padding: 0 0 0 10px;
            background-color: $color-white;

            [class*='btn-'] {
                float: left;
                height: 22px;
                line-height: 20px;
                margin-right: 5px;
                padding: 0 8px;
                font-size: 10px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        > .row:first-of-type {
            margin-top: 0;
        }
    }

    .actions {
        @extend .clearfix;
        margin-top: 20px;

        > * {
            float: right;
        }
    }
}

/* .form-control {
    border: 1px solid $color-master-light;
    color: $color-master;
    background-color: $color-white;

    &:focus {
        border: 1px solid darken($color-master-light, 10%);
        background-color: $color-white !important;
    }
}

form {
    width: 100%;

    &.form-crud {
        padding: 20px;
        border-radius: 2px;
        border: 1px solid $panel-border-color;
        background-color: $color-white;
    }

    .card {
        background-color: $color-master-lightest;   
    }

    .simulate-label {
        padding-top: 14px;
    }

    select:focus,
    input:focus {
        background-color: $color-white !important;
    }

    &.form-default .form-group {
        margin-bottom: 15px;
     
        *:not(.checkbox):not(.radio) { 
            label {
                @extend .clear;
                font-family: $font-alt;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 600;
                color: $color-master;
                line-height: 1;
                margin-bottom: 4px;
            }

            &.has-success input {
                border-color: $color-success;
            }

            &.has-error input {
                border-color: $color-danger;
            }

            select,
            input {    
                @extend .clear;
                font-family: Arial, sans-serif;
                height: 35px;
                min-height: 35px;
                line-height: normal;
                width: 100%;
                padding: 9px 12px;
                font-size: 14px;
                font-weight: 400;
                vertical-align: middle;
                outline: 0;
                box-shadow: none;
                border-radius: 2px;
                border: 1px solid $color-master-light;
                color: $color-master;
                background-color: $color-white;
                transition: all 200ms linear 0ms;

                &:focus {
                    border: 1px solid darken($color-master-light, 10%);
                }
            }

            select.ng-empty {
                color: $color-master-light;

                &:focus,
                &:hover {
                color: $color-master;
                }
            }
        }
    }

    .actions {
        @extend .clear;
        margin-top: 20px;

        > * {
            float: right;
        }
    }
}

form.default-style {
    fieldset {
        padding: 20px;
        outline: none;
        border: 1px solid $color-master-light;

        legend {
            font: $font-alt;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 10px;
        }

        .form-group {     
            *:not(.checkbox):not(.radio) { 
                label {
                    @extend .clear;
                    font-family: $font-alt;
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $color-master;
                    line-height: 1;
                    margin-bottom: 4px;
                }

                &.has-success input {
                    border-color: $color-success;
                }

                &.has-error input {
                    border-color: $color-danger;
                }

                select,
                input {    
                    @extend .clear;
                    font-family: Arial, sans-serif;
                    height: 35px;
                    min-height: 35px;
                    line-height: normal;
                    width: 100%;
                    padding: 9px 12px;
                    font-size: 14px;
                    font-weight: 400;
                    vertical-align: middle;
                    outline: 0;
                    box-shadow: none;
                    border-radius: 2px;
                    border: 1px solid $color-master-light;
                    color: $color-master;
                    background-color: $color-white;
                    transition: all 200ms linear 0ms;

                    &:focus {
                        border: 1px solid darken($color-master-light, 10%);
                    }
                }

                select.ng-empty {
                    color: $color-master-light;

                    &:focus,
                    &:hover {
                        color: $color-master;
                    }
                }
            }
        }
    }
} */