.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: #FFF !important;
}

.ngdialog-big {
    padding-top: 80px !important;

    .ngdialog-content {
        width: 700px !important;
    }
}

.ngdialog-extra-big {
    padding-top: 80px !important;
    max-width: 100%;

    .ngdialog-content {
        width: 900px !important;
        max-width: 100%;
    }
}

.ngdialog-content {
    @extend .clearfix;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: block;
        line-height: 1;
        font-family: $font-alt;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        margin: 0 0 5px 0;
        color: $color-master;
    }

    h1 {
        font-size: 14px;
        margin: 0 0 25px 0;

        small {
            @extend .clear;
            text-transform: none;
        }
    }

    label {
        color: $color-master-dark !important;
    }

    input,
    select,
    textarea {
        background-color: $color-white !important;
    }

    .form-default {
        padding: 0 !important;
        border: none  !important;
        background: transparent !important;
    }
}
