#page-header {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid $color-master-light;

    .title-bar,
    > div:first-child {
        padding-left: 0;
    }

    > div:last-child {
        padding-right: 0;
    }

    .title-bar {
        > span {
            position: relative;
            float: left;
            height: 40px;
            width: 40px;
            line-height: 40px;
            margin-right: 14px;
            text-align: center;
            vertical-align: middle;
            font-size: 14px;
            color: $color-master;
            background-color: $color-master-light;
        }

        div {
            float: left;
            line-height: 20px;

            strong {
                @extend .clear;
                font-family: Montserrat, Helvetica, Arial, sans-serif;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: bold;
            }

            small {
                @extend .clear;
                font-size: 12px;
                margin-top: 3px;
            }
        }
    }

    .button-bar {
        [class*='btn'] {
            float: right;
            margin: 3px 0 0 10px;

            &:last-child {
                margin-left: 0;
            }
        }
    }
}