[class*='panel-']:not(.panel-heading):not(.panel-body):not(.panel-bordered):not(.panel-transparent):not(.panel-featured):not(.panel-title):not(.panel-maximized):not(.panel-controls) {
    @extend .panel;
}

[class*='panel-']:not(.panel-title):not(.panel-controls) {
    @extend .clearfix;
}

.panel-primary,
.panel-success,
.panel-info,
.panel-warning,
.panel-danger,
.panel-complete,
.panel-default {
    border-radius: 2px;

    .panel-primary,
    .panel-success,
    .panel-info,
    .panel-warning,
    .panel-danger,
    .panel-complete,
    .panel-default {
        border-radius: 0;

        &:first-child {
            border-radius: 2px 2px 0 0;
        }

        &:last-child {
            border-radius: 0 0 2px 2px;
        }
    }
}

.panel-heading {
    position: relative;
    padding: 15px !important;
    margin-bottom: 0 !important;

    .panel-title {
        font-family: $font-alt;
        text-transform: uppercase;
        font-weight: 700;

        &.ellipsis {
            &.button-1 {
                width: calc(100% - 35px);
            }

            &.button-2 {
                width: calc(100% - 65px);
            }

            &.button-3 {
                width: calc(100% - 95px);
            }
        }

        small {
            opacity: .7;
        }
    }

    .panel-controls {
        position: absolute;
        top: 13px;
        right: 15px;

        > * {
            float: right;
        }

        [class*='btn-'] {
            float: left;
            margin-right: 5px;
            padding: 0 8px;
            font-size: 10px;

            &:last-child {
                margin-right: 0;
            }

            i {
                position: relative;
                top: -1px;
            }
        }

        .dropdown ul {
            top: 23px;
            right: 4px;
        }
    }
}

.panel-body {
    padding-top: 15px !important;
    padding-bottom: 12px !important;

    &.alternate {
        .row {
            > :first-child {
                float: left !important;
            }

            > :last-child {
                float: right;
            }
        }
    }

    p {
        margin-bottom: 0;
    }

    .row:not(:first-of-type) {
        position: relative;
        margin-top: 8px;
        padding-top: 8px;

        &.darker:before  {
            background-color: #e6e6e6;
        }

        &:not(.no-line) {
            &:before {
                content: '';
                top: 0;
                left: 50%;
                height: 1px;
                width: 100%;
                transform: translateY(-8px);
                background-color: #f5f5f5;
            }
        }

        &.actions {
            text-align: center;

            &:before {
                content: normal;
            }
        }
    }
}

/**
 * Panel color variants
 */
.panel-default {
    border-color: $color-master-light;

    .panel-heading {
        color: $color-master;
        background-color: #EFEFEF;
    }

    .panel-body {
        color: $color-master;
        background-color: $color-white;
    }
}

.panel-primary {
    border-color: $color-primary-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-primary;
    }

    .panel-body {
        color: $color-master;
        background-color: $color-white;
    }
}

.panel-success {
    border-color: $color-success-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-success;
    }

    .panel-body {
        color: $color-master;
        background-color: $color-white;
    }
}

.panel-info {
    border-color: $color-info-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-info;
    }

    .panel-body {
        color: $color-master;
        background-color: $color-white;
    }
}

.panel-warning {
    border-color: $color-warning-light;

    .panel-heading {
        color: $color-white;
        background-color: $color-warning;
    }

    .panel-body {
        color: $color-master;
        background-color: $color-white;
    }
}

.panel-danger {
    border-color: $color-danger-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-danger;
    }

    .panel-body {
        color: $color-master;
        background-color: $color-white;
    }
}

.panel-complete {
    border-color: $color-complete-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-complete;
    }

    .panel-body {
        color: $color-master;
        background-color: $color-white;
    }
}