[class*='panel-']:not(.panel-heading):not(.panel-body):not(.panel-bordered):not(.panel-transparent):not(.panel-featured):not(.panel-title):not(.panel-maximized) {
    @extend .panel;
}

[class*='panel-']:not(.panel-title):not(.panel-controls) {
    @extend .clearfix;
}

.panel-primary,
.panel-success,
.panel-info,
.panel-warning,
.panel-danger,
.panel-default {
    border-radius: 2px;

    .panel-primary,
    .panel-success,
    .panel-info,
    .panel-warning,
    .panel-danger,
    .panel-default {
        border-radius: 0;

        &:first-child {
            border-radius: 2px 2px 0 0;
        }

        &:last-child {
            border-radius: 0 0 2px 2px;
        }
    }
}

.panel-heading {
    position: relative;
    padding: 15px !important;
    margin-bottom: 0 !important;

    .panel-title {
        font-family: $font-alt;
        text-transform: uppercase;
        font-weight: 700;

        small {
            opacity: .7;
        }
    }

    .panel-controls {
        position: absolute;
        top: 13px;
        right: 15px;

        > * {
            float: right;
        }

        [class*='btn-'] {
            float: left;
            margin-right: 5px;
            padding: 0 8px;
            font-size: 10px;

            &:last-child {
                margin-right: 0;
            }

            i {
                position: relative;
                top: -1px;
            }
        }
    }
}

.panel-body {
    padding-top: 15px !important;
    padding-bottom: 12px !important;

    p {
        margin-bottom: 0;
    }

    .row:not(:first-child) {
        position: relative;
        margin-top: 8px;
        padding-top: 8px;

        &:before {
            content: '';
            top: 0;
            left: 50%;
            height: 1px;
            width: 100%;
            transform: translateY(-8px);
        }

        &.actions {
            text-align: center;

            &:before {
                content: normal;
            }
        }
    }
}

/**
 * Panel color variants
 */
.panel-default {
    border-color: $color-master-light;

    .panel-heading {
        color: $color-master;
        background-color: #EFEFEF;
    }

    .panel-body {
        color: $color-master;

        .row:not(:first-child):before {
            background-color: $color-master-lighter;
        }
    }
}

.panel-primary {
    border-color: $color-primary-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-primary;
    }

    .panel-body {
        color: $color-master;

        .row:not(:first-child):before {
            background-color: $color-primary-lighter;
        }
    }
}

.panel-success {
    border-color: $color-success-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-success;
    }

    .panel-body {
        color: $color-master;

        .row:not(:first-child):before {
            background-color: $color-success-lighter;
        }
    }
}

.panel-info {
    border-color: $color-info-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-info;
    }

    .panel-body {
        color: $color-master;

        .row:not(:first-child):before {
            background-color: $color-info-lighter;
        }
    }
}

.panel-warning {
    border-color: $color-warning-light;

    .panel-heading {
        color: $color-white;
        background-color: $color-warning;
    }

    .panel-body {
        color: $color-master;

        .row:not(:first-child):before {
            background-color: $color-warning-light;
        }
    }
}

.panel-danger {
    border-color: $color-danger-lighter;

    .panel-heading {
        color: $color-white;
        background-color: $color-danger;
    }

    .panel-body {
        color: $color-master;

        .row:not(:first-child):before {
            background-color: $color-danger-lighter;
        }
    }
}