[class*='panel-']:not(.panel-title):not(.panel-controls) {
    @extend .clearfix;
}

.panel-default {
    border-radius: 2px;
    border-color: $color-master-light;

    .panel-default {
        border-radius: 0;

        &:first-child {
            border-radius: 2px 2px 0 0;
        }

        &:last-child {
            border-radius: 0 0 2px 2px;
        }
    }

    .panel-heading {
        background-color: #EFEFEF;
    }

    .panel-body {
        background-color: #FFF;
    }
}

.panel-heading {
    position: relative;
    padding: 15px !important;
    margin-bottom: 0 !important;

    .panel-title {
        font-family: $font-alt;
        text-transform: uppercase;
        font-weight: 700;

        small {
            opacity: .7;
        }
    }

    .panel-controls {
        position: absolute;
        top: 13px;
        right: 15px;

        > * {
            float: right;
        }

        [class*='btn-'] {
            float: left;
            height: 25px;
            line-height: 25px;
            margin-right: 5px;
            padding: 0 8px;
            font-size: 10px;

            &:last-child {
                margin-right: 0;
            }

            i {
                position: relative;
                top: -1px;
            }
        }
    }
}

.panel-body {
    padding-top: 15px !important;
    padding-bottom: 12px !important;

    p {
        margin-bottom: 0;
    }

    .row:not(:first-child) {
        position: relative;
        margin-top: 8px;
        padding-top: 8px;

        &:before {
            content: '';
            top: 0;
            left: 50%;
            height: 1px;
            width: 100%;
            background-color: $color-master-lighter;
            transform: translateY(-8px);
        }

        &.actions {
            text-align: center;

            &:before {
                content: normal;
            }
        }
    }
}