#search {
    .form-group {
        float: left;
        width: 70%;
        padding-right: 20px;

        .overlay-search {
            height: 100px;
        }
    }

    .categories {
        float: right;
        width: 30%;

        > * {
            float: left;
            width: 33%;
            height: 100px;
            text-align: center;
            color: #949494;
            margin-left: 0.5%;

            &:first-child {
                margin-left: 0;
            }

            &:hover,
            &:focus,
            &.active {
                color: #4E4E4E;
                background-color: #f9f9f9;
            }

            i {
                font-size: 50px;
                margin-top: 10px;
                margin-bottom: 5px;

                &.fa-mobile {
                    font-size: 60px;
                    margin-bottom: 1px;
                    margin-top: 4px;
                }
            }

            span {
                display: block;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }
}
