.table {
    border: 1px solid $color-master-lighter;
    width: 100%;
    max-width: 100%;

    &.table-hover tbody tr {
        &:hover td,
        &.detailed td {
            background: $color-master-lighter !important;
            cursor: pointer;
        }
    }

    .table-filter {
        .item-button {
            padding-right: 0 !important; 
            padding-left: 0 !important;
            text-align: center;
        }

        select,
        input {
            width: 100%;
        }
    }

    thead th {
        padding: 14px 12px;
        text-align: left;
        color: $color-master-lightest !important;
        background: $color-info;
    }
    
    .loading,
    .loading * {
        text-align: center !important;
    }

    tr {
        border-bottom: 1px solid $color-master-lighter;

        &:last-child {
            border: 0;
        }

        &.table-filter th {
            background: $color-master-lightest;
        }
        
        td {
            vertical-align: middle !important;
            padding: 12px !important;
        }
    }

    th.tablesort-desc, 
    th.tablesort-asc {
        background: $color-info-dark !important;
    }

    .date-picker-date-time td {
        padding: 0;
    }

    button {
        padding: 6px 17px;
        color: $color-master-lightest;
    }
}