.table-alt {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid $color-master-lighter;
    border-right: 0;

    .no-data:before {
        content: '-';
        color: $color-master-light;
        display: block;
        text-align: center;
    }

    thead {
        color: $color-white;
        background-color: $color-info;

        th {        
            font-family: $font-alt;
            padding: 15px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    tbody {
        [class*='btn-'] {
            float: left;
            width: 100%;
            height: 100%;
            text-align: center;
            border-radius: 0;
        }

        .tags {
            border: none !important;
        }

        select,
        input { 
            border: none;
            width: 100%;
            height: 100%;
            padding: 5px 10px;
        }

        td {
            border-left: 1px solid $color-master-lighter;
            border-right: 1px solid $color-master-lighter;

            &:first-child {
                border-left: none;
            }

            &:last-child {
            border-right: none;
            }
        }

        tr {
            border-bottom: 1px solid $color-master-lighter;
        }
    }
}

.table {
    border: 1px solid $color-master-lighter;
    width: 100%;
    max-width: 100%;

    &.table-hover tbody tr {
        &:hover td,
        &.detailed td {
            background: $color-master-lighter !important;
            cursor: pointer;
        }
    }

    .table-filter {
        .item-button {
            padding-right: 0 !important; 
            padding-left: 0 !important;
            text-align: center;
        }

        select,
        input {
            width: 100%;
        }
    }

    thead th {
        padding: 14px 12px;
        text-align: left;
        color: $color-master-lightest !important;
        background: $color-info;
    }
    
    .loading,
    .loading * {
        text-align: center !important;
    }

    tr {
        border-bottom: 1px solid $color-master-lighter;

        &.table-filter th {
            background: $color-master-lightest;
        }
        
        td {
            vertical-align: middle !important;
            padding: 12px !important;
        }
    }

    th.tablesort-desc, 
    th.tablesort-asc {
        background: $color-info-dark !important;
    }

    .date-picker-date-time td {
        padding: 0;
    }

    button {
        padding: 6px 17px;
        color: $color-master-lightest;
    }
}