.tabs-wrapper {
    @extend .clearfix;

    .tabs {
        float: left;
        padding: 0;
        margin: 0;
        border-right: 1px solid $color-master-light;
        list-style: none;
        background-color: $color-white;

        .tab {
            position: relative;
            display: block;
            padding: 0;
            margin: 0;
            line-height: 24px;

            a:focus,
            a:hover,
            &.active a {
                color: $color-master;

                &:after {
                    content: '';
                    width: 3px;
                }
            }

            a {
                position: relative;
                display: block;
                min-width: 70px;
                line-height: 1;
                padding: 12px 20px;
                margin: 0;
                text-transform: uppercase;
                font-family: $font-alt;
                font-weight: 400;
                font-size: 12px;
                color: lighten($color-master, 10%);
                transition: color 100ms linear 0ms;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 100%;
                    background-color: $color-danger;
                    z-index: 125;
                    transition: all 100ms linear 0ms;
                }
            }
        }
    }

    .tabs-container {
        position: relative;
        min-height: 100px;
        padding: 20px;
        background-color: $color-white;
        overflow: hidden;

        .tab-item {
            position: relative;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            overflow: hidden;
            transition: opacity 150ms linear;

            &.active {
                width: 100%;
                height: auto;
                visibility: visible;
                opacity: 1;
                z-index: 10;
            }
        }
    }
}