@import 'utils';
@import 'ranking';

// Barra de progresso
.panel-body {
    .progress {
        position: relative;
        top: 12px;
        left: -24px;
        width: calc(100% + 48px);

        small {
            font-size: 10px;
            line-height: 12px;
        }
    }
}

// avatar
.avatar {
    position: relative;
    display: inline-block;

    .avatar-container {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #E2E2E2;
        overflow: hidden;
        z-index: 10;
    }

    .nivel {
        position: absolute;
        top: 8%;
        right: 8%;
        width: 30px;
        height: 30px;
        line-height: 28px;
        border-radius: 50%;
        border: 1px solid #E2E2E2;
        background-color: #FFF;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        z-index: 15;
    }
}