.countdown {
    position: relative;
    height: 35px;
    line-height: 35px;
    width: 100%;
    padding: 0;
    margin-top: 3px;
    border: 1px solid #e8e8e8;
    background-color: #F4F4F4;

    span {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: #FFF;
        text-shadow: 1px 1px 1px #4e4848;
    }

    .progress-bar {
        float: left;
        height: 100%;
    }
}

.ranking {
    > .row {
        margin-top: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 20px;

        &:before {
            background-color: #E2E2E2 !important;
            transform: translateY(-20px) !important;
        }

        &:first-child {
            .avatar .avatar-container,
            .avatar .nivel {
                border-color: #D9C349;
            }
        }

        &:nth-child(2) {
            .avatar .avatar-container,
            .avatar .nivel {
                border-color: #B5C7C9;
            }
        }

        &:nth-child(3) {
            .avatar .avatar-container,
            .avatar .nivel {
                border-color: #B57627;
            }
        }
    }

    .position,
    .points,
    .votes {
        @extend .va-middle;
        height: 200px;
    }

    .position {
        font-size: 50px;
    }

    .points {
        font-size: 40px;
    }
}