<div class="row m-b-20">
    <div class="col-md-12">
        <div class="widget-16-header">
            <span class="icon-thumbnail bg-master-light pull-left text-master"><i class="fa fa-key"></i></span>
            <div class="pull-left">
                <strong class="page-title no-margin font-montserrat all-caps fs-13">Minhas senhas</strong><br>
                <small class="small-hint">Essas são suas senhas de acesso. Para cadastrar uma nova, fale com um administrador.</small>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<hr>
<table class="table m-b-0" cellpadding="0" cellspacing="0" ts-wrapper>
    <thead>
    <tr>
        <th width="200" class="text-center">Serviço</th>
        <th>Link</th>
        <th width="200">Usuário</th>
        <th width="200">Senha</th>
    </tr>
    </thead>
    <tbody ng-if="MinhaSenha.loading">
    <tr>
        <td colspan="50">
            <div class="progress-circle-indeterminate m-t-20 m-b-20" style="display: block;"></div>
        </td>
    </tr>
    </tbody>
    <tbody ng-if="MinhaSenha.senhas && !MinhaSenha.loading">
    <tr ng-repeat="senha in MinhaSenha.senhas" ts-repeat>
        <td class="text-center" ng-bind="senha.site"></td>
        <td>
            <a target="_blank" ng-if="senha.url" ng-href="{{ senha.url }}">Acessar</a>
        </td>
        <td ng-bind="senha.usuario"></td>
        <td ng-bind="senha.senha"></td>
    </tr>
    </tbody>
</table>
