<div class="row m-b-20">
    <div class="col-md-6">
        <div class="widget-16-header">
            <span class="icon-thumbnail bg-master-light pull-left text-master"><i class="fa fa-users"></i></span>
            <div class="pull-left">
                <strong class="page-title no-margin font-montserrat all-caps fs-13">Usuários</strong><br>
                <small class="small-hint">Todos usuários do tucano estão aqui.</small>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <button ng-click="Usuario.create()" class="btn btn-primary" style="margin-top: 3px;"><i class="fa fa-user-plus"></i>&nbsp; Novo</button>
        </div>
    </div>
</div>
<hr>
<table class="table m-b-0" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th width="200" class="text-center">Usuário</th>
        <th>Nome</th>
        <th width="300">Permissões</th>
        <th width="130" style="min-width: 130px;"></th>
    </tr>
    </thead>
    <tbody ng-if="Usuario.loading">
        <tr>
            <td colspan="50">
                <div class="progress-circle-indeterminate m-t-20 m-b-20" style="display: block;"></div>
            </td>
        </tr>
    </tbody>
    <tbody ng-if="Usuario.usuarios && !Usuario.loading">
        <tr ng-repeat="usuario in Usuario.usuarios">
            <td class="text-center" ng-bind="usuario.username"></td>
            <td>
                <strong ng-bind="usuario.name"></strong>
                <br>
                <small class="hint-text" ng-bind="usuario.email"></small>
            </td>
            <td>
                <span ng-repeat="role in usuario.roles">
                    <span ng-bind="role.display_name"></span>{{ $last ? '' : ', ' }}
                </span>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button">
                        <i class="fa fa-cog"></i>&nbsp; Ações
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a title="Editar usuário" ng-click="Usuario.editar(usuario)"><i class="fa fa-edit"></i>&nbsp; Editar</a>
                        </li>
                        <li>
                            <a title="Deletar usuário" ng-click="Usuario.destroy(usuario.id)"><i class="fa fa-trash"></i>&nbsp; Deletar</a>
                        </li>
                        <li>
                            <a title="Senhas" ng-click="Usuario.senhas(usuario)" ui-sref="app.interno.senhas.usuario({id: usuario.id})"><i class="fa fa-list"></i>&nbsp; Senhas</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
