<div id="page-header" class="row">
    <page-title icon="fa-cubes" title="Recompensas" description="Lista de recompensas que podem ser trocadas por moedas."></page-title>
    <div class="col-md-6 button-bar" roles="admin">
        <button ng-click="RecompensaList.openForm()" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Nova</button>
    </div>
</div>
<table table-list="RecompensaList">
    <thead>
        <tr>
            <th>Título</th>
            <th class="text-center" width="160">Valor</th>
            <th class="text-center" width="160">Nível Min</th>
            <th width="50"></th>
        </tr>
        <tr class="table-filter" static-include="views/gamification/recompensas/list_filter.html"></tr>
    </thead>
    <tbody ng-if="RecompensaList.tableData.data && !RecompensaList.loading">
        <tr ng-repeat="recompensa in RecompensaList.tableData.data">
            <td>
                <span class="fz-20 p-l-10">{{ recompensa.titulo }}</span>
            </td>
            <td class="text-center text-success">
                $&nbsp;
                {{ recompensa.valor }}
            </td>
            <td class="text-center">
                {{ recompensa.nivel }}
            </td>
            <td class="text-center">
                <a class="btn-info" ng-click="RecompensaList.openForm(recompensa)" roles="admin">
                    <i class="fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>