<div id="page-header" class="row">
    <page-title icon="fa-bug" title="Inspeção técnica" description="Todas as inspeções realizadas nos produtos."></page-title>
    <div class="col-md-6 button-bar">
        <button ng-click="InspecaoRealizadaList.openForm()" class="btn-success"><i class="fa-plus"></i>&nbsp; Nova</button>
    </div>
</div>
<table table-list="InspecaoRealizadaList">
    <thead>
        <tr>
            <th width="100">Cód.</th>
            <th width="150">Técnico</th>
            <th width="150">Usuário</th>
            <th width="150">Pedido</th>
            <th>Produto</th>
            <th class="text-center" width="225">Data</th>
            <th width="75"></th>
        </tr>
        <tr class="table-filter" static-include="views/inspecao/realizada/list_filter.html"></tr>
    </thead>
    <tbody ng-if="InspecaoRealizadaList.tableData.data && !InspecaoRealizadaList.loading">
        <tr ng-repeat="inspecao in InspecaoRealizadaList.tableData.data">
            <td class="text-center">
                <i ng-if="inspecao.reservado" tooltips tooltip-template="Inspeção reservada" class="fa-lock"></i>
                {{ inspecao.id }}
            </td>
            <td class="text-center">{{ inspecao.usuario.name }}</td>
            <td class="text-center">
                <span ng-if="inspecao.solicitante_id">{{ inspecao.solicitante.name }}</span>
                <span ng-if="!inspecao.solicitante_id">Tucano</span>
            </td>
            <td>
                {{ inspecao.pedido_produto.pedido.marketplace_readable || '-' }}<br/>
                <a ui-sref="app.pedidos.detalhe({id: inspecao.pedido_produto.pedido.id})">{{ inspecao.pedido_produto.pedido.codigo_marketplace }}</a>
            </td>
            <td>
                <a ui-sref="app.produtos.detalhe({sku: inspecao.produto.sku})">{{ inspecao.produto.sku }}</a> {{ inspecao.produto.titulo || '-' }}
            </td>
            <td class="text-center">{{ inspecao.created_at }}</td>
            <td class="text-center">
                <a class="btn-info" ng-click="InspecaoRealizadaList.openForm(inspecao)">
                    <i class="fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
