<th>
    <input class="form-control big" ng-model="InspecaoRealizadaList.filter['pedidos.codigo_marketplace']" placeholder="Código do pedido" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control big" ng-model="InspecaoRealizadaList.filter['produtos.titulo']" placeholder="Título do produto" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control big" ng-model="InspecaoRealizadaList.filter['inspecao_tecnica.imei']" placeholder="Código único do produto" ng-model-options="{debounce:500}" />
</th>
<th class="between-group">
    <div class="date-picker">
        <input class="form-control" ng-model="InspecaoRealizadaList.filter['inspecao_tecnica.created_at'].from" placeholder="De" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="InspecaoRealizadaList.filter['inspecao_tecnica.created_at'].from" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
    <span>/</span>
    <div class="date-picker">
        <input class="form-control" ng-model="InspecaoRealizadaList.filter['inspecao_tecnica.created_at'].to" placeholder="Até" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="InspecaoRealizadaList.filter['inspecao_tecnica.created_at'].to" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
</th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger" ng-click="InspecaoRealizadaList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>