<h1>Editar rastreio</h1>
<form ng-submit="Editar.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="rastreio">Rastreio</label>
            <input class="form-control" id="rastreio" ng-model="Editar.rastreio.rastreio" placeholder="Código de rastreio" required />
        </div>
        <div class="col-md-6 form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" ng-model="Editar.rastreio.status">
                <option value="0">Automático</option>
                <option value="1">Normal</option>
                <option value="2">Atrasado</option>
                <option value="3">Extraviado</option>
                <option value="4">Entregue</option>
                <option value="5">Devolvido</option>
                <option value="6">Retirada</option>
                <option value="7">Tratado</option>
                <option value="8">Solucionado</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 form-group">
            <label for="data">Data de envio</label>
            <div class="date-picker">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input class="form-control" id="data" ng-model="Editar.rastreio.data_envio_readable" placeholder="Envio" required ui-date-mask />
                    <div class="picker-wrap">
                        <date-picker ng-model="Editar.rastreio.data_envio_readable"></date-picker>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label for="prazo">Prazo</label>
            <input class="form-control" id="prazo" ng-model="Editar.rastreio.prazo" placeholder="Prazo" required />
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <button busy="Salvando..." type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>