<h1>Comentários do pedido</h1>

<form ng-submit="PedidoComentario.save()" novalidate="novalidate" name="PedidoComentario.formComentario">
    <div class="form-group">
        <textarea ng-model="PedidoComentario.comentario" class="form-control form-control" placeholder="Deixe seu comentário" required></textarea>
        <button busy="Salvando..." class="pull-right m-t-10 btn-primary">Salvar</button>
        <div class="clear"></div>
    </div>
</form>

<div class="m-b-10" ng-repeat="comentario in PedidoComentario.comentarios">
    <hr>
    <a confirm="PedidoComentario.destroy(comentario.id)" class="btn-danger btn-xs pull-right">
        <i class="fa fa-trash"></i>&nbsp; Excluir
    </a>
    <strong>{{ comentario.usuario.name }}</strong>
    <small class="hint-text">({{ comentario.created_at_diff }})</small>
    <p class="m-t-5">{{ comentario.comentario }}</p>
</div>
