<div id="page-header" class="row">
    <page-title icon="fa-first-order" title="Pedido {{ PedidoDetalhe.pedido.codigo_marketplace }}" description="Pedido realizado em {{ PedidoDetalhe.pedido.marketplace_readable || 'Site' }}"></page-title>
    <div roles="admin|gestor|atendimento" class="col-md-6 button-bar">
            <button class="btn-primary" ng-click="PedidoDetalhe.togglePriority()" ng-if="PedidoDetalhe.pedido.can_prioritize"><i class="fa-arrow-{{ PedidoDetalhe.pedido.priorizado ? 'down' : 'up' }}"></i>&nbsp; {{ PedidoDetalhe.pedido.priorizado ? 'Remover prioridade' : 'Priorizar' }}</button>
            <button class="btn-info" ng-click="PedidoDetalhe.toggleHold()" ng-if="PedidoDetalhe.pedido.can_hold || PedidoDetalhe.pedido.segurado"><i class="fa-{{ PedidoDetalhe.pedido.segurado ? 'unlock' : 'lock' }}"></i>&nbsp; {{ PedidoDetalhe.pedido.segurado ? 'Liberar' : 'Segurar' }}</button>
            <button class="btn-danger" ng-click="PedidoDetalhe.pedidoHelper.cancel(PedidoDetalhe.pedido, 'app.pedidos.index')" ng-if="PedidoDetalhe.pedido.can_cancel"><i class="fa-close"></i>&nbsp; Cancelar</button>
            <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- Informações do Pedido -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa-cube"></i>&nbsp; Informações do Pedido</div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <p class="pull-left">Cliente</p>
                        <a ui-sref="app.clientes.detalhe({ id: PedidoDetalhe.pedido.cliente.id })" class="pull-right bold">{{ PedidoDetalhe.pedido.cliente.nome }}</a>
                    </div>
                    <div class="row" ng-if="PedidoDetalhe.pedido.codigo_marketplace">
                        <p class="pull-left">Código</p>
                        <p class="pull-right bold">{{ PedidoDetalhe.pedido.codigo_marketplace }}</p>
                    </div>
                    <div class="row">
                        <p class="pull-left">Marketplace</p>
                        <p class="pull-right bold">{{ PedidoDetalhe.pedido.marketplace_readable }}</p>
                    </div>
                    <div class="row">
                        <p class="pull-left">Status</p>
                        <p class="pull-right label label-{{ PedidoDetalhe.parseStatusClass() }}">
                            {{ PedidoDetalhe.pedido.status_description }}
                            <small ng-if="PedidoDetalhe.pedido.reembolso">(Reembolsado)</small>
                            <small ng-if="PedidoDetalhe.pedido.segurado">(Segurado)</small>
                            <small ng-if="PedidoDetalhe.pedido.protocolo">({{ PedidoDetalhe.pedido.protocolo }})</small>
                        </p>
                    </div>
                    <div class="row">
                        <p class="pull-left">Total</p>
                        <p class="pull-right bold">{{ PedidoDetalhe.pedido.total | currency }}</p>
                    </div>
                    <div class="row">
                        <p class="pull-left">Data</p>
                        <p class="pull-right bold">{{ PedidoDetalhe.pedido.created_at }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Informações do Pedido -->
        <div class="row m-t-20 bold">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <i ng-if="PedidoDetalhe.pedido.frete_metodo_readable" class="fa-truck"></i>&nbsp;
                        {{ PedidoDetalhe.pedido.frete_metodo_readable }}
                        <small ng-if="!PedidoDetalhe.pedido.frete_metodo_readable" class="hint-text">Nenhum método de envio</small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <i ng-if="PedidoDetalhe.pedido.pagamento_metodo_readable" class="fa-money"></i>&nbsp;
                        {{ PedidoDetalhe.pedido.pagamento_metodo_readable }}
                        <small ng-if="!PedidoDetalhe.pedido.pagamento_metodo_readable" class="hint-text">Nenhum método de pagamento</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Informações do Cliente -->
        <div class="panel m-t-20 panel-primary">
            <div class="panel-heading">
                <div class="panel-title"><i class="fa-user"></i>&nbsp; Informações do Cliente</div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <p class="pull-left">Telefone</p>
                        <p class="pull-right bold">{{ PedidoDetalhe.pedido.cliente.fone || 'Não informado' }}</p>
                    </div>
                    <div class="row">
                        <p class="pull-left">E-mail</p>
                        <p class="pull-right bold">{{ PedidoDetalhe.pedido.cliente.email || 'Não informado' }}</p>
                    </div>
                    <div class="row">
                        <p class="pull-left">CPF/CNPJ</p>
                        <p class="pull-right bold">{{ PedidoDetalhe.pedido.cliente.taxvat_readable }}</p>
                    </div>
                    <div class="row">
                        <p class="lh-25 text-upper">
                            <a ng-click="PedidoDetalhe.clienteEnderecoHelper.editar(PedidoDetalhe.pedido.endereco.id, true)" class="pull-right transform-none"><i class="fa fa-edit"></i> Editar</a>
                            {{ PedidoDetalhe.pedido.endereco.rua }} #{{ PedidoDetalhe.pedido.endereco.numero }} -
                            {{ PedidoDetalhe.pedido.endereco.bairro }} <br>
                            {{ PedidoDetalhe.pedido.endereco.cidade }}/{{ PedidoDetalhe.pedido.endereco.uf }} <br>
                            {{ PedidoDetalhe.pedido.endereco.cep_readable }} <br>
                            {{ PedidoDetalhe.pedido.endereco.complemento || 'Sem complemento' }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Cliente -->
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <!-- Informações da Nota -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title"><i class="fa-barcode"></i>&nbsp; Nota fiscal</div>
                        <div class="panel-controls" ng-if="PedidoDetalhe.pedido.nota">
                            <dropdown>
                                <li>
                                    <a ng-click="PedidoDetalhe.notaHelper.printXML(PedidoDetalhe.pedido.id)">
                                        <i class="fa-file-code-o"></i>&nbsp; XML
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="PedidoDetalhe.notaHelper.printDanfe(PedidoDetalhe.pedido.id)">
                                        <i class="fa-print"></i>&nbsp; DANFE
                                    </a>
                                </li>
                            </dropdown>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 no-results" ng-if="!PedidoDetalhe.pedido.nota">
                            A nota ainda não foi registrada.
                        </div>
                        <div class="col-md-12" ng-if="PedidoDetalhe.pedido.nota">
                            <div class="row">
                                <p class="pull-left">Emissão</p>
                                <p class="pull-right bold">{{ PedidoDetalhe.pedido.nota.data }}</p>
                            </div>
                            <div class="row">
                                <p class="pull-left">Número / Série</p>
                                <p class="pull-right bold">
                                    {{ PedidoDetalhe.pedido.nota.numero }}/{{ PedidoDetalhe.pedido.nota.serie }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim Informações da Nota -->
            </div>
            <div class="col-md-6">
                <!-- Informações de Rastreio -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title"><i class="fa-truck"></i>&nbsp; Frete</div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 no-results" ng-if="!PedidoDetalhe.pedido.rastreios.length">
                            Nenhum rastreio foi registrado até agora.
                        </div>
                        <div class="col-md-12" ng-if="PedidoDetalhe.pedido.rastreios" ng-repeat="rastreio in PedidoDetalhe.pedido.rastreios">
                            <div class="row">
                                <p class="pull-left">
                                    <a target="_blank" ng-href="{{ rastreio.rastreio_url }}">{{ rastreio.rastreio }}</a>
                                    &nbsp;
                                    <a ng-if="rastreio.imagem_historico" target="_blank" ng-click="PedidoDetalhe.rastreioHelper.printHistorico(rastreio.id)"><i class="fa-picture-o"></i></a>
                                </p>
                                <div class="pull-right">
                                    <dropdown size="xs">
                                        <li>
                                            <a ng-click="PedidoDetalhe.rastreioHelper.editar(rastreio.id, true)">
                                                <i class="fa-edit"></i>&nbsp; Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="PedidoDetalhe.rastreioHelper.printEtiqueta(rastreio.id)">
                                                <i class="fa-tag"></i>&nbsp; Etiqueta
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="PedidoDetalhe.rastreioHelper.logistica(rastreio.id, true)">
                                                <i class="fa-exchange"></i>&nbsp; Logística
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="PedidoDetalhe.rastreioHelper.devolucao(rastreio.id, true)">
                                                <i class="fa-undo"></i>&nbsp; Devolução
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="PedidoDetalhe.rastreioHelper.pi(rastreio.id, true)">
                                                <i class="fa-warning"></i>&nbsp; PI
                                            </a>
                                        </li>
                                    </dropdown>
                                </div>
                                <p class="clear">
                                    <span class="label label-{{ PedidoDetalhe.parseRastreioStatusClass(rastreio) }}">{{ rastreio.status_description }}</span>
                                    <br>
                                    <small class="hint-text">Enviado {{ rastreio.data_envio_readable }}. Prazo de {{ rastreio.prazo }} dia(s)</small>
                                </p>
                                <div ng-if="rastreio.devolucao" class="alert alert-info m-t-10">
                                    <small><i class="fa-undo"></i>&nbsp; Devolução em {{ rastreio.devolucao.created_at }}</small>
                                </div>
                                <div ng-if="rastreio.logistica" class="alert alert-info m-t-10">
                                    <small><i class="fa-exchange"></i>&nbsp; Logística em {{ rastreio.logistica.created_at }}</small>
                                </div>
                                <div ng-if="rastreio.pi" class="alert alert-info m-t-10">
                                    <small><i class="fa-warning"></i>&nbsp; PI em {{ rastreio.pi.created_at }}</small>
                                </div>
                            </div>
                            <hr ng-hide="$last" />
                        </div>
                    </div>
                </div>
                <!-- Fim Informações de Rastreio -->
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col-md-12" static-include="views/pedido/comentarios-box.html"></div>
        </div>
    </div>
</div>
<div class="row m-t-20">
    <div class="col-md-12">
        <!-- Informações dos Produtos -->
        <table class="table-products">
            <thead>
                <th width="100">SKU</th>
                <th class="text-left">Nome</th>
                <th width="60">Qtd</th>
                <th width="160">Valor</th>
            </thead>
            <tbody ng-if="!PedidoDetalhe.pedido.produtos">
                <tr>
                    <td  colspan="50" class="no-results">Nenhum produto foi registrado para este pedido.</td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-if="PedidoDetalhe.pedido.produtos" ng-repeat="produto in PedidoDetalhe.pedido.produtos">
                    <td class="text-center"><a ui-sref="app.produtos.form({sku: produto.produto_sku})" title="Visualizar produto {{ produto.produto.titulo }}">{{ produto.produto_sku }}</a></td>
                    <td class="text-left">
                        <b>{{ produto.produto.titulo }}</b><br>
                        <small class="hint-text">{{ produto.imei }}</small>
                    </td>
                    <td class="text-center">{{ produto.quantidade }}</td>
                    <td class="text-center">{{ produto.valor | currency }}</td>
                </tr>
                <tr ng-if="PedidoDetalhe.pedido.total" class="total">
                    <td></td>
                    <td></td>
                    <td class="bold">TOTAL</td>
                    <td>{{ PedidoDetalhe.pedido.total | currency }}</td>
                </tr>
            </tbody>
        </table>
        <!-- Fim Informações dos Produtos -->
    </div>
</div>