<h1>Gerenciando produtos do pedido</h1>
<form ng-submit="PedidoProdutoForm.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="produto">Produto</label>
            <ui-select ng-model="PedidoProdutoForm.pedidoProduto.produto" theme="selectize" id="produto" on-select="PedidoProdutoForm.selected()">
                <ui-select-match placeholder="Selecione um produto">{{ $select.selected.titulo }}</ui-select-match>
                <ui-select-choices repeat="produto in PedidoProdutoForm.produtos | propsFilter: {titulo: $select.search, sku: $select.search}"
                    refresh="PedidoProdutoForm.search($select.search)" refresh-delay="300">
                    <div ng-bind-html="produto.titulo | highlight: $select.search"></div>
                    <small>SKU: <span ng-bind-html="''+produto.sku | highlight: $select.search"></span></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="valor">Valor unitário</label>
            <input ng-model="PedidoProdutoForm.pedidoProduto.valor" id="valor" placeholder="Valor do produto em R$" ui-money-mask required />
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <a ng-if="PedidoProdutoForm.pedidoProduto.id" confirm="PedidoProdutoForm.destroy()" class="btn-danger">Excluir</a>
            <button busy="Salvando..." type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>
