<div class="panel panel-default" ng-controller="PedidoLigacaoController as PedidoLigacao">
    <div class="panel-heading">
        <div class="panel-title"><i class="fa-volume-control-phone "></i>&nbsp; Ligações</div>
    </div>
    <div class="panel-body">
        <form ng-submit="PedidoLigacao.save()" novalidate="novalidate" name="PedidoLigacao.formComentario">
            <validation errors="PedidoLigacao.validationErrors"></validation>
            <div class="form-group">
                <button class="btn-default btn-block" ng-model="PedidoLigacao.ligacao" accept="audio/*"
                    ngf-select="PedidoLigacao.uploadFile($file, $invalidFiles)">
                    <i class="fa-upload"></i>&nbsp;Selecionar arquivo
                </button>
                <div class="clear"></div>
            </div>
        </form>

        <div class="m-b-1 audio-list" ng-repeat="ligacao in PedidoLigacao.ligacoes">
            <hr>
            <a confirm="PedidoLigacao.destroy(ligacao.id)" class="btn-danger btn-xs pull-right">
                <i class="fa fa-trash"></i>&nbsp; Excluir
            </a>
            <strong>{{ ligacao.usuario.name }}</strong>
            <small class="hint-text">({{ ligacao.created_at_diff }})</small>
            <audio controls preload="none">
                <source src="{{ ligacao.audio }}" type="audio/wav">
                    Seu navegador não suporta áudio.
            </audio>
        </div>
    </div>
</div>
