<div id="page-header" class="row">
    <page-title icon="fa-cubes" title="Pedidos" description="Todos pedidos realizados nos marketplaces e e-commerce."></page-title>
</div>
<hr>
<table-header data="PedidoList.tableHeader"></table-header>
<table class="table">
    <thead>
        <tr>
            <th class="text-center" width="160">Código</th>
            <th class="text-center" width="150">Marketplace</th>
            <th>Cliente</th>
            <th class="text-center" width="120">Valor</th>
            <th class="text-center" width="120">Data</th>
            <th width="150">Status</th>
            <th width="75" style="min-width: 75px;"></th>
        </tr>
        <tr class="table-filter" static-include="views/pedido/list_filter.html"></tr>
    </thead>
    <tbody ng-if="PedidoList.loading" class="loading">
        <tr><td colspan="50"><loading></loading></td></tr>
    </tbody>
    <tbody ng-if="PedidoList.tableData.data && !PedidoList.loading">
        <tr ng-repeat="pedido in PedidoList.tableData.data">
            <td class="text-center" ng-bind="pedido.codigo_marketplace || 'Sem código'"></td>
            <td class="text-center">
                <strong ng-bind="pedido.marketplace_readable"></strong>
            </td>
            <td>
                <strong ng-bind="pedido.cliente.nome | uppercase"></strong>
                <br>
                <small>
                    <span ng-bind="pedido.cliente.fone"></span> - CEP: <strong ng-bind="pedido.endereco.cep_readable"></strong> -
                    <span ng-bind="pedido.endereco.cidade"></span> / <span ng-bind="pedido.endereco.uf"></span>
                </small>
            </td>
            <td class="text-center" ng-bind="pedido.total | currency"></td>
            <td class="text-center" ng-bind="pedido.created_at_readable"></td>
            <td class="status status-{{ pedido.status }}">
                <div style="display: block;" ng-class="{
                        'alert-danger': pedido.status == 5 || pedido.status == 4,
                        'alert-warning': pedido.status == 2,
                        'alert-success': pedido.status == 3,
                        'alert-info': pedido.status == 1
                        }" class="alert m-b-0">
                    <strong ng-bind="pedido.status_description"></strong>
                </div>
            </td>
            <td class="text-center">
                <a class="btn-info" ui-sref="app.pedidos.detalhe({id: pedido.id})">
                    <i class="fa-eye"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>