
<th>
    <input class="form-control big" ng-model="PedidoList.filter['pedidos.codigo_marketplace']" placeholder="Nº do pedido" ng-model-options="{debounce:500}" />
</th>
<th>
    <select ng-model="PedidoList.filter['pedidos.marketplace']" class="small form-control">
        <option value="">Todos</option>
        <option value="b2w">B2W</option>
        <option value="cnova">CNOVA</option>
        <option value="mercadolivre">Mercado Livre</option>
        <option value="walmart">Walmart</option>
        <option value="site">E-commerce</option>
    </select>
</th>
<th>
    <input class="form-control big" ng-model="PedidoList.filter['clientes.nome']" placeholder="Nome do cliente" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control small" ng-model="PedidoList.filter['pedidos.total']" placeholder="Valor" ng-model-options="{debounce:500}"  />
</th>
<th>
    <div class="date-picker">
        <input class="form-control small" ng-model="PedidoList.filter['pedidos.created_at']" placeholder="Data"  />
        <div class="picker-wrap">
            <date-picker ng-model="PedidoList.filter['pedidos.created_at']"></date-picker>
        </div>
    </div>
</th>
<th>
    <select ng-model="PedidoList.filter['pedidos.status']" class="small form-control">
        <option value="">Todos</option>
        <option value="0">Pendente</option>
        <option value="1">Pago</option>
        <option value="2">Enviado</option>
        <option value="3">Entregue</option>
        <option value="4">Segurado</option>
        <option value="5">Cancelado</option>
    </select>
</th>
<th class="text-center">
    <a title="Limpar filtros" class="btn btn-danger" ng-click="PedidoList.filterList.clear()">
        <i class="fa fa-eraser"></i>
    </a>
</th>