<h1>Solicitando inspeção técnica</h1>
<form ng-submit="InspecaoSolicitarForm.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-9 form-group">
            <label for="produto">Produto</label>
            <ui-select ng-if="!InspecaoSolicitarForm.confirmando" ng-model="InspecaoSolicitarForm.solicitacao.produto" theme="selectize" id="produto">
                <ui-select-match placeholder="Selecione um produto">{{ $select.selected.titulo }}</ui-select-match>
                <ui-select-choices repeat="produto in InspecaoSolicitarForm.produtos | propsFilter: {titulo: $select.search, sku: $select.search}"
                    refresh="InspecaoSolicitarForm.search($select.search)" refresh-delay="300">
                    <div ng-bind-html="produto.titulo | highlight: $select.search"></div>
                    <small>SKU: <span ng-bind-html="''+produto.sku | highlight: $select.search"></span></small>
                </ui-select-choices>
            </ui-select>
            <input ng-if="InspecaoSolicitarForm.confirmando" ng-model="InspecaoSolicitarForm.solicitacao.produto.titulo" readonly="readonly" />
        </div>
        <div class="col-md-3 form-group">
            <label for="quantidade">Quantidade</label>
            <input ng-if="!InspecaoSolicitarForm.confirmando" ng-model="InspecaoSolicitarForm.solicitacao.quantidade" id="quantidade" placeholder="Número" type="number" min="1" ng-min="1" required />
            <input ng-if="InspecaoSolicitarForm.confirmando" ng-model="InspecaoSolicitarForm.solicitacao.quantidade" readonly="readonly" />
        </div>
    </div>
    <div ng-if="InspecaoSolicitarForm.confirmando" class="row">
        <table class="table info-style small">
            <thead>
                <tr>
                    <th class="check-col"></th>
                    <th class="text-center" width="60">Qtd.</th>
                    <th class="text-left p-l-15">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="InspecaoSolicitarForm.acoes.reservar.quantidade > 0">
                    <td class="check-col">
                        <div class="form-group">
                            <div class="checkbox check-success">
                                <input id="reservar" type="checkbox" ng-model="InspecaoSolicitarForm.acoes.reservar.aplicar" ng-true-value="1">
                                <label for="reservar" class="text-normal"></label>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">{{ InspecaoSolicitarForm.acoes.reservar.quantidade }}</td>
                    <td ng-if="InspecaoSolicitarForm.acoes.reservar.quantidade == 1" class="text-left">
                        Reservar inspeção<br/>
                        <span class="fz-12">
                            Você já pode pegar o produto com o código: <b>{{ InspecaoSolicitarForm.acoes.reservar.ids }}</b>
                        </span>
                    </td>
                    <td ng-if="InspecaoSolicitarForm.acoes.reservar.quantidade !== 1" class="text-left">
                        Reservar inspeções<br/>
                        <span class="fz-12">
                            Você já pode pegar os produtos:<br/>
                            Códigos: <b>{{ InspecaoSolicitarForm.acoes.reservar.ids }}</b>
                        </span>
                    </td>
                </tr>
                <tr ng-if="InspecaoSolicitarForm.acoes.fila.quantidade > 0">
                    <td class="check-col">
                        <div class="form-group">
                            <div class="checkbox check-success">
                                <input id="fila" type="checkbox" ng-model="InspecaoSolicitarForm.acoes.fila.aplicar" ng-true-value="1">
                                <label for="fila" class="text-normal"></label>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">{{ InspecaoSolicitarForm.acoes.fila.quantidade }}</td>
                    <td class="text-left">
                        Adicionar na fila<br/>
                        <span class="fz-12">O produto será revisado e você será avisado</span>
                    </td>
                </tr>
                <tr ng-if="InspecaoSolicitarForm.acoes.sem_estoque.quantidade > 0">
                    <td class="check-col">
                        <div class="form-group">
                            <div class="checkbox check-success">
                                <input id="sem_estoque" type="checkbox" ng-model="InspecaoSolicitarForm.acoes.sem_estoque.aplicar" ng-true-value="1">
                                <label for="sem_estoque" class="text-normal"></label>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">{{ InspecaoSolicitarForm.acoes.sem_estoque.quantidade }}</td>
                    <td class="text-left">
                        Sem estoque<br/>
                        <span class="fz-12">Assim que recebermos, será inspecionado</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <button ng-if="!InspecaoSolicitarForm.confirmando" busy="Verificando..." type="submit" class="btn btn-success">Verificar</button>
            <button ng-if="InspecaoSolicitarForm.confirmando" busy="Confirmando..." type="submit" class="btn btn-success">Confirmar</button>
        </div>
    </div>
</form>