.discrete-table {
  width: 100%;
  margin-top: -10px;
  font-size: 12px;
  border-spacing: 0;
  border-collapse: collapse;

  a {
    color: $link;
  }

  th, td {
    height: 45px;
    padding: 15px;
    text-align: center;
  }

  tbody td:last-child {
    font-weight: bold;
  }

  tr {
    border-bottom: 1px solid $light;
  }

  p {
    margin-bottom: 3px;
  }
}
