.InputGroup.has-left:not(.has-right) {
  .left .TSelect,
  .left .TSelect,
  .left .TButton,
  .left .Icon {
    border-radius: 3px 0 0 3px;
  }

  .input .TSelect,
  .input .inputWrapper input {
    border-left: none;
    border-radius: 0 3px 3px 0;
  }
}

.InputGroup.has-right:not(.has-left) {
  .input .TSelect,
  .input .inputWrapper input {
    border-right: none;
    border-radius: 3px 0 0 3px;
  }

  .right .TSelect,
  .right .TButton,
  .right .Icon {
    border-radius: 0 3px 3px 0;
  }
}

.InputGroup.has-right.has-left {
  .left .TSelect,
  .left .TButton,
  .left .Icon {
    border-radius: 3px 0 0 3px;
  }

  .input .TSelect,
  .input .inputWrapper input {
    border-right: none;
    border-left: none;
    border-radius: 0;
  }

  .right .TSelect,
  .right .TButton,
  .right .Icon {
    border-radius: 0 3px 3px 0;
  }
}

.InputGroup.normal .ig-container > * > .Icon {
  width: 40px;
  height: 40px;
  font-size: 18px !important;
}

.InputGroup.small .ig-container > * > .Icon {
  width: 30px;
  height: 30px;
  font-size: 14px !important;
}

.InputGroup .ig-container > * > .Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark;
  border: 1px solid $default;
  border-right: none;
  background-color: $light;
}
