.sub-menu {
  position: absolute;
  top: calc(100% - 6px);
  left: 0;
  list-style: none;
  background-color: $white;
  box-shadow: $defaultShadow;
  border-radius: $borderRadius;
  border: 1px solid $default;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;

  &:hover,
  &:focus {
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 38px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid $white;
  }

  &:before {
    top: -10px;
    border-bottom: 10px solid $default;
  }

  &:after {
    top: -9px;
  }

  li {
    white-space: nowrap;
    font-weight: bold;
    line-height: 1.8;

    &:not(:first-child) strong {
      margin-top: 15px;
    }

    strong {
      display: block;
      text-transform: uppercase;
      color: $dark;
      font-size: 11px;
    }

    a {
      color: $darker;
      font-size: 14px;

      &.active,
      &:hover,
      &:focus {
        color: $black !important;
        text-decoration: none;
      }
    }
  }
}
