<th>
    <input class="form-control big" ng-model="EntradaEstoqueList.filter['product_imeis.imei']" placeholder="Imei do produto" ng-model-options="{debounce:500}" />
</th>
<th>
    <select class="form-control big" ng-model="EntradaEstoqueList.filter['reason']" ng-model-options="{debounce:500}">
        <option value="">Qualquer</option>
        <option value="Outro">Outro</option>
        <option value="Ajuste">Ajuste</option>
        <option value="Perda">Perda</option>
    </select>
</th>
<th>
    <select ng-model="EntradaEstoqueList.filter['user_id']" class="form-control">
        <option value="">Todos</option>
        <option ng-repeat="user in EntradaEstoqueList.users" value="{{ user.id }}">{{ user.name }}</option>
    </select>
</th>
<th class="between-group">
    <div class="date-picker">
        <input class="form-control" ng-model="EntradaEstoqueList.filter['created_at'].from" placeholder="De" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="EntradaEstoqueList.filter['created_at'].from" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
    <span>/</span>
    <div class="date-picker">
        <input class="form-control" ng-model="EntradaEstoqueList.filter['created_at'].to" placeholder="Até" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="EntradaEstoqueList.filter['created_at'].to" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
</th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger btn-reset-filter" ng-click="EntradaEstoqueList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>
