<div id="page-sidebar" data-pages="sidebar">
    <div static-include="views/partials/menu.html"></div>
</div>
<div id="page-container">
    <header id="main-header">
        <div id="logo-search">
            <div>
                <img src="assets/img/logo-image.png" alt="logo" data-src="assets/img/logo-image.png" height="22">
            </div>
            <a ng-click="App.openSearch()" data-toggle="search" class="search-link">
                <i class="fa-search"></i><span>Buscar</span> no tucano
            </a>
        </div>
        <div id="header-actions">
            <div roles="admin|gestor|atendimento|faturamento" class="pull-left p-r-15 b-r b-grey m-r-15" id="header-upload" ng-controller="UploadController as Upload">
                <button title="Fazer upload de notas" ngf-select ngf-change="Upload.upload($files)" ngf-multiple="true" class="btn-success btn-cons">
                    <i class="fa-upload"></i>&nbsp; Upload
                </button>
            </div>
            <div id="user-info">
                <span ng-bind="::App.user.name"></span><br>
                <small ng-bind="::App.user.email"></small>
            </div>
            <button ng-click="App.logout()" class="logout btn-danger">
                <i class="fa-sign-out"></i>
            </button>
        </div>
        <div static-include="views/partials/metas.html"></div>
    </header>
    <div class="page-content-wrapper">
        <div class="content">
            <div class="container-fluid container-fixed-lg">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

<div ng-show="App.searchOpen" static-include="views/partials/search.html"></div>