<div id="page-sidebar" data-pages="sidebar">
    <menu-tucano></menu-tucano>
</div>
<div id="page-container">
    <header id="main-header">
        <div id="logo-search">
            <div>
                <img src="assets/img/logo-image.png" alt="logo" data-src="assets/img/logo-image.png" height="22">
            </div>
            <a ng-click="App.openSearch()" data-toggle="search" class="search-link">
                <i class="fa-search"></i><span>Buscar</span> no tucano
            </a>
        </div>
        <div id="header-actions">
            <upload></upload>
            <div id="user-info">
                <span ng-bind="::App.user.name"></span><br>
                <small ng-bind="::App.user.email"></small>
            </div>
            <logout></logout>
        </div>
        <metas></metas>
    </header>
    <div class="page-content-wrapper">
        <div class="content">
            <div class="container-fluid container-fixed-lg">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

<div ng-show="App.searchOpen" static-include="views/partials/search.html"></div>