<div class="row m-b-20">
    <div class="col-md-6">
        <div class="widget-16-header">
            <span class="icon-thumbnail bg-master-light pull-left text-master"><i class="fa fa-truck"></i></span>
            <div class="pull-left">
                <strong class="page-title no-margin font-montserrat all-caps fs-13">Rastreios ativos</strong><br>
                <small class="small-hint">Mostra os rastreios em um intervalo de um mês ou que precisam de alguma ação.</small>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <button ng-click="Rastreio.refreshAll()" class="btn btn-primary" style="margin-top: 3px;"><i class="fa fa-refresh"></i>&nbsp; Atualizar</button>
        </div>
    </div>
</div>
<hr>
<table class="table m-b-0" cellpadding="0" cellspacing="0" ts-wrapper>
    <thead>
        <tr>
            <th class="text-center" ts-criteria="id" width="120">Nota</th>
            <th>Cliente</th>
            <th class="text-center" ts-criteria="data_envio|parseDate" ts-default width="120">Envio</th>
            <th class="text-center" ts-criteria="prazo|parseInt" width="120">Prazo</th>
            <th class="text-center" width="150">Rastreio</th>
            <th ts-criteria="status" width="150">Status</th>
            <th width="30"></th>
            <th width="130" style="min-width: 130px;"></th>
        </tr>
        <tr class="table-filter">
            <th>
                <input class="form-control big" ng-model="Rastreio.busca.pedido.nota.chave" placeholder="Nº da nota" ng-model-options="{debounce:500}" />
            </th>
            <th>
                <input class="form-control big" ng-model="Rastreio.busca.pedido.cliente.nome" placeholder="Nome do cliente" ng-model-options="{debounce:500}" />
            </th>
            <th>
                <div class="date-picker">
                    <input class="form-control small" ng-model="Rastreio.busca.data_envio_readable" ng-change="App.changeDate()" placeholder="Data"  />
                    <div class="picker-wrap">
                        <date-picker ng-model="Rastreio.busca.data_envio_readable"></date-picker>
                    </div>
                </div>
            </th>
            <th>
                <input class="form-control small" ng-model="Rastreio.busca.prazo" placeholder="Prazo" ng-model-options="{debounce:500}"  />
            </th>
            <th>
                <input class="form-control small" ng-model="Rastreio.busca.rastreio" placeholder="Rastreio" ng-model-options="{debounce:500}"  />
            </th>
            <th>
                <select ng-model="Rastreio.busca.status" class="small form-control">
                    <option value="">Importantes</option>
                    <option value="1">Normal</option>
                    <option value="2">Atrasado</option>
                    <option value="3">Extraviado</option>
                    <option value="4">Entregue</option>
                    <option value="5">Devolvido</option>
                    <option value="6">Retirada</option>
                    <option value="7">Tratado</option>
                    <option value="8">Solucionado</option>
                </select>
            </th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody ng-if="Rastreio.loading">
        <tr>
            <td colspan="50">
                <div class="progress-circle-indeterminate m-t-20 m-b-20" style="display: block;"></div>
            </td>
        </tr>
    </tbody>
    <tbody ng-if="Rastreio.rastreios && !Rastreio.loading">
        <tr ng-if="(rastreio.status == 2 || rastreio.status == 3 || rastreio.status == 6) || Rastreio.busca.rastreio || Rastreio.busca.pedido.cliente.nome || Rastreio.busca.pedido.nota.chave || Rastreio.busca.status || Rastreio.busca.data_envio_readable" ng-repeat="rastreio in Rastreio.rastreios | filter:Rastreio.busca:strict" ts-repeat>
            <td class="text-center">
                <strong class="fs-11" ng-bind="rastreio.pedido.marketplace"></strong>
                <br>
                <small ng-bind="rastreio.pedido_id"></small>
            </td>
            <td>
                <strong ng-bind="rastreio.pedido.cliente.nome"></strong>
                <br>
                <small>
                    <span ng-bind="rastreio.pedido.cliente.fone"></span> - CEP: <strong ng-bind="rastreio.pedido.endereco.cep_readable"></strong> -
                    <span ng-bind="rastreio.pedido.endereco.cidade"></span> / <span ng-bind="rastreio.pedido.endereco.uf"></span>
                </small>
                <br>
                <small class="hint-text" ng-if="rastreio.rastreio_ref_id">
                    Reenvio do rastreio: <span ng-bind="rastreio.rastreio_ref.rastreio"></span>
                </small>
            </td>
            <td class="text-center" ng-bind="rastreio.data_envio_readable"></td>
            <td class="text-center" ng-bind="rastreio.prazo"></td>
            <td class="text-center">
                <a ng-bind="rastreio.rastreio" title="Rastrear código" target="_blank" ng-href="http://websro.correios.com.br/sro_bin/txect01$.Inexistente?P_LINGUA=001&P_TIPO=002&P_COD_LIS={{ rastreio.rastreio }}"></a>
            </td>
            <td class="status status-{{ pedido.status }}">
                <div style="display: block;" ng-class="{
                        'alert-danger': rastreio.status == 3 || rastreio.status == 5 || rastreio.status == 6,
                        'alert-warning': rastreio.status == 2,
                        'alert-success': rastreio.status == 4,
                        'alert-info': rastreio.status == 1 || rastreio.status == 7 || rastreio.status == 8
                        }" class="alert m-b-0">
                    <strong ng-bind="rastreio.status_description"></strong>
                </div>
            </td>
            <td class="text-center">
                <a title="Adicionar observação" class="text-gray" ng-click="Rastreio.observacao(rastreio)" ng-class="{'text-complete': rastreio.observacao}"><i class="fa fa-comment"></i></a>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button">
                        <i class="fa fa-cog"></i>&nbsp; Ações
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a title="Editar pedido" ng-click="App.editar(rastreio)"><i class="fa fa-edit"></i>&nbsp; Editar</a>
                        </li>
                        <li>
                            <a title="Devolução" ng-click="App.devolucao(rastreio)"><i class="fa fa-undo"></i>&nbsp; Devolução</a>
                        </li>
                        <li>
                            <a title="Logística reversa" ng-click="App.logistica(rastreio)"><i class="fa fa-exchange"></i>&nbsp; Logística</a>
                        </li>
                        <li>
                            <a title="Pedido de informação" ng-click="App.pi(rastreio)"><i class="fa fa-exclamation-triangle"></i>&nbsp; PI</a>
                        </li>
                        <li>
                            <a ng-click="App.printXML(rastreio.pedido_id)"><i class="fa fa-file-code-o"></i>&nbsp; XML</a>
                        </li>
                        <li>
                            <a ng-click="App.printDanfe(rastreio.pedido_id)"><i class="fa fa-file-pdf-o"></i>&nbsp; DANFE</a>
                        </li>
                        <li>
                            <a ng-click="App.printEtiqueta(rastreio.id)"><i class="fa fa-tag"></i>&nbsp; Etiqueta</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
