<h1>Devolução</h1>
<div class="alert alert-info m-b-10"><i class="fa fa-info"></i>&nbsp; O rastreio assumirá o status de "Devolvido".</div>
<form ng-submit="DevolucaoForm.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="motivo">Motivo</label>
            <select ng-model="DevolucaoForm.devolucao.motivo" id="motivo" class="form-control" ng-change="DevolucaoForm.verifySeminovos()" required>
                <option value="" disabled selected hidden>Motivo</option>
                <option value="0">Endereço insuficiente</option>
                <option value="1">Não procurado (Retirada)</option>
                <option value="2">Endereço incorreto</option>
                <option value="3">Destinatário desconhecido</option>
                <option value="4">Recusado</option>
                <option value="5">Defeito</option>
                <option value="6">Mudança</option>
                <option value="7">Outro</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="acao">Ação realizada</label>
            <select ng-model="DevolucaoForm.devolucao.acao" id="acao" class="form-control" ng-change="DevolucaoForm.verifySeminovos()">
                <option value="">Ação realizada</option>
                <option value="0">Reenvio</option>
                <option value="1">Cancelamento</option>
            </select>
        </div>
    </div>
    <div ng-if="DevolucaoForm.devolucao.acao == 1 && DevolucaoForm.devolucao.rastreio.pedido.marketplace !== 'MERCADOLIVRE'" class="row">
        <div class="col-md-12 form-group">
            <label for="protocolo">Protocolo</label>
            <input class="form-control" id="protocolo" ng-model="DevolucaoForm.devolucao.protocolo" placeholder="Protocolo de cancelamento" required />
        </div>
    </div>
    <div ng-if="DevolucaoForm.devolucao.acao == 1 && DevolucaoForm.devolucao.rastreio.pedido.marketplace !== 'MERCADOLIVRE'" class="row">
        <div class="col-md-12 form-group">
            <label for="imagem" class="full-width">Imagem</label>
            <div class="btn-default" ngf-select ng-model="DevolucaoForm.devolucao.imagem" id="imagem" ngf-pattern="'image/*'" ngf-accept="'image/*'">
                <i class="fa fa-picture-o"></i>&nbsp; Tela de cancelamento
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="observacoes">Observações</label>
            <textarea class="form-control" id="observacoes" ng-model="DevolucaoForm.devolucao.observacoes" placeholder="Observacões gerais"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <button busy="Salvando..." type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</form>