<div id="page-header" class="row">
    <page-title icon="fa-group" title="Fornecedores" description="Todos os fornecedores da registrados"></page-title>
    <div class="col-md-6 button-bar">
        <a ui-sref="app.suppliers.form" class="btn-success">
            <i class="fa-user-plus">&nbsp;</i> Adicionar
        </a>
    </div>
</div>

<table table-list="SupplierList">
    <thead>
        <tr>
            <th class="text-center" width="160">Documento</th>
            <th>Nome</th>
            <th class="text-center" width="240">Cadastro</th>
            <th width="75"></th>
        </tr>
        <tr class="table-filter" static-include="views/supplier/list_filter.html"></tr>
    </thead>
    <tbody ng-if="SupplierList.tableData.data && !SupplierList.loading">
        <tr ng-repeat="supplier in SupplierList.tableData.data">
            <td class="text-center">
                <span clipboard supported="supported" text="supplier.cnpj" title="Clique para copiar apenas os números">{{ supplier.cnpj }}</span>
                <br/>
                <span ng-if="supplier.ie">{{ supplier.ie }}</span>
            </td>
            <td>
                <strong>{{ supplier.name }}</strong>
                <br/>
                <strong>{{ supplier.company_name }}</strong>
                <br/>
                <small>
                    <span ng-if="supplier.fone">{{ supplier.fone }} - </span>
                    <span>CEP: {{ supplier.cep }} - {{ supplier.city }} / {{ supplier.uf }} / {{ supplier.country }}</span>
                </small>
            </td>
            <td class="text-center">{{ supplier.created_at }}</td>
            <td class="text-center">
                <a ui-sref="app.suppliers.form({id: supplier.id})" class="btn-info">
                    <i class="fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
