<div id="page-header" class="row">
    <page-title icon="fa-tasks" title="Marcas" description="Todas as marcas de produto."></page-title>
    <div class="col-md-6 button-bar">
        <button ng-click="MarcaList.openForm()" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Nova</button>
    </div>
</div>
<table table-list="MarcaList">
    <thead>
        <tr>
            <th>Título</th>
            <th class="text-center" width="120">Cadastro</th>
            <th width="75"></th>
        </tr>
        <tr class="table-filter" static-include="views/produto/marca/list_filter.html"></tr>
    </thead>
    <tbody ng-if="MarcaList.tableData.data && !MarcaList.loading">
        <tr ng-repeat="marca in MarcaList.tableData.data">
            <td><strong>{{ marca.titulo }}</strong></td>
            <td class="text-center">{{ marca.created_at }}</td>
            <td class="text-center">
                <a class="btn-info" ng-click="MarcaList.openForm(marca)">
                    <i class="fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>