// Page container
#page-container {
    @extend .page-container;
}

// Menu sidebar
@media only screen and (min-width: 980px) {
    body.menu-behind .header .brand {
        width: 65px !important;
    }

    .sidebar-menu {
        margin-top: 50px;
    }
}

#page-sidebar {
    @extend .page-sidebar;
    left: 0;
    transition: transform linear 100ms;
    transform: translateZ(0deg) translateX(-200px);
    overflow-y: scroll;

    &:hover {
        transform: translateZ(0deg) translateX(0);
    }

    .sidebar-menu .menu-items > li {
        color: #788195;

        a {
            padding-right: 5px;
            width: 70%;
            color: inherit;
        }

        > *,
        .icon-thumbnail {
            color: inherit;
        }
    }

    .sub-menu {
        display: block !important;
        overflow: hidden;

        > li {
            line-height: 24px;

            > ul {
                margin: 0;
                padding-bottom: 0;
            }
        }

        &.ng-hide {
            display: none !important;
        }
    }
}

// Header
#main-header {
    @extend .header;
    border: 0;
    border-bottom: 1px solid $panel-border-color;
    z-index: 2000;

    #logo-search {
        &,
        div,
        a {
            float: left;
            line-height: 60px;
        }

        div {
            padding: 0 20px;
        }

        a {
            span {
                font-weight: bold;
            }
        }
    }

    #header-actions {
        float: right;
        margin-top: 10px;

        #user-info {
            float: left;
            margin-top: 5px;
            line-height: 14px;
            padding-right: 10px;
            font-size: 12px;

            small {
                opacity: .7;
            }
        }

        .logout {
            float: right;
            margin: 2px 0 0 10px;
        }
    }

    #header-info {
        float: right;
        margin: 13px 50px 0 0;

        &,
        * {
            line-height: 1;
        }

        > div {
            float: left;
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid $color-info-lighter;

            &:last-child {
                border: 0;
                padding-right: 0;
                margin-right: 0;
            }

            > strong {
                @extend .font-montserrat;
                @extend .clear;
                font-size: 10px;
                text-transform: uppercase;
                display: inline-block;
                margin-bottom: 5px;
            }

            small {
                font-size: 89%;
                line-height: 17px;
                opacity: .7;
                margin-bottom: 0;
            }

            div > span {
                opacity: .7;
                font-size: 10px;
                padding-left: 5px;
            }
        }
    }
}

// Content
.page-content-wrapper .content {
    margin-bottom: 10px;

    > div {
        margin-top: 20px;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}

// Login page
#form-login {
    .form-control,
    input {
        &:focus {
            border-color: #FFF !important;
        }
    }
}

// Wysiwyg toolbar
.ta-toolbar {
    background: #f5f5f5;
    border: 0 !important;
    margin: 0px;
    padding: 15px !important;
    display: block !important;
}
