.form-default input[type="file"] {
    padding-top: 7px;
    line-height: 1;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.has-error span.has-error {
    display: none;
}

.alert,
.label {
    small {
        line-height: inherit !important;
    }
}

// ng-sortable
.sortable-row {
    position: relative !important;

    .as-sortable-item {
        display: inline-block !important;
    }

    .as-sortable-placeholder {
        @extend .btn;
        @extend .btn-sm;
        display: inline-block !important;
        height: 27px !important;
        margin: 5px 10px 10px 0;
        border: 1px dashed darken(#DBDBDB, 20%);
        background-color: #DBDBDB;
    }

    .as-sortable-drag {
        opacity: .8;
    }
}