@mixin ellipsis($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Posicionamento, comportamento e espaçamento
.affix { position: fixed }
.hidden, .hide { display: none !important }
.show { display: block !important }
.invisible { visibility: hidden }
.pull-right { float: right !important }
.pull-left { float: left !important }
.clearfix { @include clearfix }
.m-t-0 { margin-top: 0 !important }
.m-l-0 { margin-left: 0 !important }
.m-b-0 { margin-bottom: 0 !important }
.m-r-0 { margin-right: 0 !important }
.p-t-0 { padding-top: 0 !important }
.p-l-0 { padding-left: 0 !important }
.p-b-0 { padding-bottom: 0 !important }
.p-r-0 { padding-right: 0 !important }
.m-t-100 { margin-top: 100px !important }
.m-b-100 { margin-bottom: 100px !important }
.m-r-100 { margin-right: 100px !important }
.m-l-100 { margin-left: 100px !important }
.m-t-3 { margin-top: 3px }
.b-l-1 { border-left: 1px solid $color-master-light }
.b-r-1 { border-left: 1px solid $color-master-light }

.ellipsis-100 { @include ellipsis(100px); }
.ellipsis-120 { @include ellipsis(120px); }
.ellipsis-150 { @include ellipsis(150px); }
.ellipsis-170 { @include ellipsis(170px); }
.ellipsis-200 { @include ellipsis(200px); }

.clear {
    display: block;
    clear: both;
    zoom: 1;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clear-l {
    clear: left;
}

.no-overflow * {
    overflow: visible !important;
}

.no-padding {
    padding: 0 !important;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Texto e fonte
.font-alt { font-family: $font-alt }
.bg-white { background-color: $color-white !important }
.bg-gray { background: $color-info !important }
.text-gray { color: #ccc }
.batida { background: $color-info url('../../assets/img/meta.png') no-repeat right bottom !important }
.underline { text-decoration: underline }
.text-bold { font-weight: 700 }
.text-upper { text-transform: uppercase }
.text-lower { text-transform: lowercase }
.transform-none { text-transform: none }
.lh-25 { line-height: 25px }
.d-rtl { direction: rtl }
.d-ltr { direction: ltr }
.fz-10 { font-size: 10px }
.fz-12 { font-size: 12px }
.fz-15 { font-size: 15px }
.fz-20 { font-size: 20px }
.fz-22 { font-size: 22px }
.fz-25 { font-size: 25px }
.fz-30 { font-size: 30px }
.fz-35 { font-size: 35px }
.fz-40 { font-size: 40px }
.fz-45 { font-size: 45px }
.fz-50 { font-size: 50px }
.fz-55 { font-size: 55px }
.fz-60 { font-size: 60px }
.fz-65 { font-size: 65px }
.fz-70 { font-size: 70px }
.fz-75 { font-size: 75px }

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
}

// Blocos
.no-results {
    color: lighten($color-master, 20%);
    text-align: center;
}

.hr-title {
    position: relative;
    float: left;
    width: 100%;
    font-family: $font-alt;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 10px 0 0;
    margin: 20px 0;
    background-color: $color-white;
    z-index: 1;

    span {
        position: relative;
        padding: 0 10px 0 0;
        background-color: $color-white;
        z-index: 3;
    }

    &:before {
        content: '';
        border-top: 1px solid $color-master-light;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
    }
}

.hide-overflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

.ellipsis-group {
    span {
        float: left;
        width: calc(100% - 47px - 24px);
        height: 30px;
        line-height: 30px;
        padding: 0 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid rgba($color-master-light, .70);
        border-radius: 3px 0 0 3px;
    }

    [class*="btn-"]:not(.btn-group) {
        float: right;
        width: 34px;
        border-radius: 0 3px 3px 0 !important;
    }

    &.w-150 {
        span {
            width: calc(150px - 34px - 24px);
        }
    }
}