// Estrutura e espaçamento
.m-t-0 { margin-top: 0 !important; }
.m-l-0 { margin-left: 0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-r-0 { margin-right: 0 !important; }
.p-t-0 { padding-top: 0 !important; }
.p-l-0 { padding-left: 0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-r-0 { padding-right: 0 !important; }

.clear {
    display: block;
    clear: both;
    zoom: 1;
}

.clear-l {
    clear: left;  
} 

.no-overflow * {
    overflow: visible !important;
}

.no-padding {
    padding: 0 !important;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}  

.showIfLast td:after {
    content: 'Nenhum resultado encontrado.' !important;
}  

.has-error span.has-error {
    display: none;
}

// Cores e fontes
.small {
    font-size: 89%;
}

.bg-white {
    background: #FFF;
}

.bg-gray {
    background: $color-info;
}

.text-gray {
    color: #ccc;
}

.batida {
    background: $color-info url('../../assets/img/meta.png') no-repeat right bottom !important;
}

.underline {
    text-decoration: underline;
}