$maxColunms: 10;

[class*="grid-"] {
  $hGap: 10px;

  grid-column-gap: $hGap;
  grid-row-gap: 20px;
  grid-auto-flow: row;

  @for $i from 1 through $maxColunms {
    &.grid-#{$i} {
      grid-template-columns: repeat(#{$i}, calc((100% - ((#{$i} - 1) * #{$hGap})) / #{$i}));
    }
  }
}

[class*="grid-"],
.grid {
  display: grid;

  @for $i from 1 through $maxColunms {
    .span-#{$i} {
      grid-column-end: span #{$i};
    }
  }

  @for $i from 1 through $maxColunms {
    .start-#{$i} {
      grid-column-start: #{$i};
    }
  }

  @for $i from 1 through $maxColunms {
    .row-#{$i} {
      grid-row-start: #{$i};
    }
  }
}
