<h1>Gerenciando inspeção técnica</h1>
<form ng-submit="InspecaoTecnicaForm.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="imei">IMEI</label>
            <input ng-model="InspecaoTecnicaForm.inspecao.imei" id="imei" placeholder="Código único do produto" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" ng-model="InspecaoTecnicaForm.inspecao.descricao" placeholder="O que foi feito no aparelho?"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <a ng-if="InspecaoTecnicaForm.inspecao.id" confirm="InspecaoTecnicaForm.destroy()" class="btn-danger">Excluir</a>
            <button busy="Salvando..." type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>