<div id="page-header" class="row">
    <page-title icon="fa-bug" title="Inspeção técnica" description="Todas as inspeções realizadas nos produtos."></page-title>
    <div class="col-md-6 button-bar">
        <button ng-click="InspecaoTecnicaList.openForm()" class="btn-success"><i class="fa-plus"></i>&nbsp; Nova</button>
    </div>
</div>
<table table-list="InspecaoTecnicaList">
    <thead>
        <tr>
            <th>IMEI</th>
            <th class="text-center" width="225">Data</th>
            <th width="75"></th>
        </tr>
        <tr class="table-filter" static-include="views/inspecao/list_filter.html"></tr>
    </thead>
    <tbody ng-if="InspecaoTecnicaList.tableData.data && !InspecaoTecnicaList.loading">
        <tr ng-repeat="inspecao in InspecaoTecnicaList.tableData.data">
            <td><strong>{{ inspecao.imei }}</strong></td>
            <td class="text-center">{{ inspecao.created_at }}</td>
            <td class="text-center">
                <a class="btn-info" ng-click="InspecaoTecnicaList.openForm(inspecao)">
                    <i class="fa-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>