<h1>Gerenciando trocas</h1>
<form ng-submit="TrocaForm.save()" novalidate="novalidate" class="form-default">
    <div ng-if="!TrocaForm.troca.recompensa" class="row">
        <div class="col-sm-12">
            <p class="text-center">Selecione uma recompensa:</p>
        </div>
    </div>
    <div ng-if="!TrocaForm.troca.recompensa" style="max-height:216px;overflow-y:auto;overflow-x:hidden">
        <table class="table info-style small table-hover">
            <thead>
                <tr>
                    <th>Título</th>
                    <th class="text-center p-l-30" width="100">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recompensa in TrocaForm.recompensas" ng-disabled="recompensa.nivel > TrocaForm.perfil.nivel" ng-click="TrocaForm.setRecompensa(recompensa)">
                    <td>{{ recompensa.titulo }}</td>
                    <td ng-class="{ 'text-success': (recompensa.valor <= TrocaForm.perfil.moedas), 'text-danger': (recompensa.valor > TrocaForm.perfil.moedas) }"
                        class="text-center">$&nbsp; {{ recompensa.valor }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="!TrocaForm.troca.recompensa" class="row">
        <div class="col-sm-12">
            Você possui {{ TrocaForm.perfil.moedas }} moedas, e está no nível {{ TrocaForm.perfil.nivel }}.
        </div>
    </div>
    <div ng-if="TrocaForm.troca.recompensa" class="row">
        <div class="col-md-12 form-group">
            <label for="recompensa">Título</label>
            <div class="input-group">
                <input placeholder="Recompensa" value="{{ TrocaForm.troca.recompensa.titulo + ' ($ ' + TrocaForm.troca.recompensa.valor + ')' }}" required readonly />
                <span class="input-group-btn">
                    <a ng-click="TrocaForm.setRecompensa(false)" class="btn btn-complete" title="Alterar recompensa">
                        <i class="fa-pencil"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div ng-if="TrocaForm.troca.recompensa" class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <button busy="Salvando..." type="submit" class="btn btn-success">Trocar</button>
        </div>
    </div>
</form>