<div id="page-header" class="row">
    <page-title icon="fa-retweet" title="Trocas" description="Todas as trocas do sistema de gamificação."></page-title>
    <div class="col-md-6 button-bar" roles="admin">
        <button ng-click="TrocaList.openForm()" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Nova</button>
    </div>
</div>
<table table-list="TrocaList">
    <thead>
        <tr>
            <th roles="admin">Usuário</th>
            <th>Recompensa</th>
            <th class="text-center" width="160">Valor</th>
            <th class="text-center" width="100">Status</th>
            <th class="text-center" width="120">Data</th>
            <th width="50"></th>
        </tr>
        <tr class="table-filter" static-include="views/gamification/trocas/list_filter.html"></tr>
    </thead>
    <tbody ng-if="TrocaList.tableData.data && !TrocaList.loading">
        <tr ng-repeat="troca in TrocaList.tableData.data">
            <td roles="admin">
                {{ troca.usuario.name }}
            </td>
            <td>
                {{ troca.recompensa.titulo }}
            </td>
            <td class="text-center text-success">
                $&nbsp;
                {{ troca.valor }}
            </td>
            <td class="text-center">
                {{ troca.status_readable }}
            </td>
            <td class="text-center">
                {{ troca.created_at_readable }}
            </td>
            <td class="text-center">
                <a roles="admin" class="btn-success" ng-click="TrocaList.aprove(troca)">
                    <i class="fa-check"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>