<div id="page-header" class="row">
    <page-title icon="fa-mobile" title="Gerenciamento do anúncio" description="Aqui é possível visualizar e alterar todas as informações do anúncio no Mercado Livre"></page-title>
    <div class="col-md-6 button-bar">
        <a ng-click="TemplateForm.save()" title="Salvar anúncio" class="btn-success"><i class="fa-save"></i>&nbsp; Salvar</a>
        <button ng-if="TemplateForm.editedId" class="btn-danger" confirm="TemplateForm.destroy()"><i class="fa-trash"></i>&nbsp; Excluir</button>
        <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
    </div>
</div>

<form ng-submit="TemplateForm.save()" novalidate="novalidate" class="form-default form-vertical">
    <validation errors="TemplateForm.validationErrors"></validation>
    <div class="row form-group">
        <div class="col-md-2 a-right">
            <label for="mercadolivre.title">Título</label>
        </div>
        <div class="col-md-10">
            <input ng-model="TemplateForm.template.title" id="mercadolivre.title"  />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2 a-right">
            <label for="mercadolivre.template">Template</label>
        </div>
        <div class="col-md-10">
            <text-angular ng-model="TemplateForm.template.html"></text-angular>
        </div>
    </div>
</form>
