<div id="page-header" class="row">
    <page-title icon="fa-list" title="Templates" description="Todas templates do Mercado Livre"></page-title>
    <div class="col-md-6 button-bar">
        <button ui-sref="app.produtos.mercadolivre.templates.form" class="btn-success"><i class="fa-plus"></i>&nbsp; Novo</button>
    </div>
</div>
<table table-list="TemplateList">
    <thead>
        <tr>
            <th>Título</th>
            <th width="150"></th>
        </tr>
        <tr class="table-filter" static-include="views/produto/mercadolivre/templates/list_filter.html"></tr>
    </thead>
    <tbody ng-if="TemplateList.tableData.data && !TemplateList.loading">
        <tr ng-repeat="template in TemplateList.tableData.data">
            <td>{{ template.title }}</td>
            <td class="text-center">
                <a class="btn btn-info" ui-sref="app.produtos.mercadolivre.templates.form({id: template.id})"><i class="fa-edit"></i></a>
            </td>
        </tr>
    </tbody>
</table>
