<h6 class="font-alt-bold-upper">Pedido de informação</h6>
<form ng-submit="PiForm.save()" class="form-default" novalidate="novalidate">
    <div class="row">
        <div class="col-md-6 form-group">
            <label for="codigo">Código da PI</label>
            <div ng-class="{'input-group': !PiForm.pi.codigo_pi}">
                <input id="codigo" ng-model="PiForm.pi.codigo_pi" placeholder="Código da PI" required>
                <span ng-if="!PiForm.pi.codigo_pi" class="input-group-btn">
                    <button type="button" ng-click="PiForm.openPi()" class="btn btn-success"><i class="fa fa-link"></i>&nbsp; Abrir PI</button>
                </span>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label for="motivo">Motivo</label>
            <select ng-model="PiForm.pi.motivo_status" id="motivo" class="form-control" required>
                <option value="0">Outro</option>
                <option value="2">Atraso</option>
                <option value="3">Extravio</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="alert alert-warning m-b-20"><i class="fa fa-exclamation-triangle"></i>&nbsp; Incluir as informações abaixo apenas quando houver resposta dos correios.</div>
    <div class="row form-group">
        <div ng-class="{'col-md-12': PiForm.pi.motivo_status == '0', 'col-md-3': PiForm.pi.motivo_status !== '0'}">
            <label for="status">Status</label>
            <select ng-model="PiForm.pi.status" id="status" class="form-control">
                <option value="" disabled selected hidden>Procedência</option>
                <option value="0">Improcedente</option>
                <option value="1">Procedente</option>
            </select>
        </div>
        <div class="col-md-3" ng-if="PiForm.pi.motivo_status != '0'">
            <label for="motivo">Data de pagamento</label>
            <div class="date-picker">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input class="form-control" id="data" ng-model="PiForm.pi.data_pagamento_readable" placeholder="Data de pgto." ui-date-mask />
                    <div class="picker-wrap">
                        <date-picker ng-model="PiForm.pi.data_pagamento_readable"></date-picker>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="{'col-md-6': PiForm.pi.motivo_status == '2', 'col-md-3': PiForm.pi.motivo_status == '3'}" ng-if="PiForm.pi.motivo_status != '0'">
            <label for="valor">Valor pago</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                <input class="form-control" id="valor" ng-model="PiForm.pi.valor_pago" placeholder="Valor ressarcido" ui-number-mask />
            </div>
        </div>
        <div class="col-md-3" ng-if="PiForm.pi.motivo_status == '3'">
            <label for="acao">Ação realizada</label>
            <select ng-model="PiForm.pi.acao" id="acao" class="form-control">
                <option value="" disabled selected hidden>Ação realizada</option>
                <option value="0">Reenvio</option>
                <option value="1">Cancelamento</option>
                <option value="2">Outro</option>
            </select>
        </div>
    </div>
    <div class="row form-group" ng-if="PiForm.pi.motivo_status == 3 && PiForm.pi.acao == 1">
        <div class="col-md-12" ng-if="PiForm.pi.acao == 1">
            <label for="protocolo">Protocolo</label>
            <input class="form-control" id="protocolo" ng-model="PiForm.pi.protocolo" placeholder="Protocolo de cancelamento" required />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <label for="observacoes">Observações</label>
            <textarea class="form-control" id="observacoes" ng-model="PiForm.pi.observacoes" placeholder="Observacões gerais"></textarea>
        </div>
    </div>

    <div class="pull-right m-t-10">
        <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
        <button busy="Salvando..." type="submit" class="btn btn-primary">Salvar</button>
    </div>
    <div class="clearfix"></div>
</form>
