<h6 class="font-montserrat no-margin text-uppercase text-master bold">Gerenciando senha</h6>
<form ng-submit="SenhaForm.save()" novalidate="novalidate">
    <div class="row m-t-20">
        <div class="col-md-6">
            <div class="form-group">
                <label for="site">Site/Serviço</label>
                <input class="form-control" id="site" ng-model="SenhaForm.senha.site" placeholder="Nome do site" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="url">URL</label>
                <input class="form-control" id="url" ng-model="SenhaForm.senha.url" placeholder="URL para acesso" />
            </div>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-md-6">
            <div class="form-group">
                <label for="usuario">Usuário</label>
                <input class="form-control" id="usuario" ng-model="SenhaForm.senha.usuario" placeholder="Usuário de acesso" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="senha">Senha</label>
                <input class="form-control" id="senha" ng-model="SenhaForm.senha.senha" placeholder="Senha de acesso" required />
            </div>
        </div>
    </div>
    <div class="pull-right m-t-10">
        <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
        <button busy="Salvando..." type="submit" class="btn btn-primary">Salvar</button>
    </div>
    <div class="clearfix"></div>
</form>