<div class="row m-b-20">
    <div class="col-md-6">
        <div class="widget-16-header">
            <span class="icon-thumbnail bg-master-light pull-left text-master"><i class="fa fa-key"></i></span>
            <div class="pull-left">
                <strong class="page-title no-margin font-montserrat all-caps fs-13">Senhas</strong><br>
                <small class="small-hint">Senhas para acessos internos.</small>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <button ng-click="SenhaList.openForm()" class="btn btn-primary" style="margin-top: 3px;"><i class="fa fa-user-plus"></i>&nbsp; Nova</button>
        </div>
    </div>
</div>
<hr>
<table-header data="SenhaList.tableHeader"></table-header>
<table class="table">
    <thead>
    <tr>
        <th width="200" class="text-center">Serviço</th>
        <th>Link</th>
        <th width="200">Usuário</th>
        <th width="200">Senha</th>
        <th width="150" style="min-width: 150px;"></th>
    </tr>
    </thead>
    <tbody ng-if="SenhaList.loading" class="loading">
        <tr><td colspan="50"><loading></loading></td></tr>
    </tbody>
    <tbody ng-if="SenhaList.tableData && !SenhaList.loading">
        <tr ng-repeat="senha in SenhaList.tableData.data">
            <td class="text-center">{{ senha.site }}</td>
            <td>
                <a target="_blank" ng-if="senha.url" ng-href="{{ senha.url }}">Acessar link</a><br>
                <small class="hint-text">{{ senha.url }}</small>
            </td>
            <td>{{ senha.usuario }}</td>
            <td>{{ senha.senha }}</td>
            <td>
                <dropdown>
                    <li>
                        <a title="Editar senha" ng-click="SenhaList.openForm(senha)"><i class="fa fa-edit"></i>&nbsp; Editar</a>
                    </li>
                    <li>
                        <a title="Deletar senha" ng-click="SenhaList.destroy(senha.id)"><i class="fa fa-trash"></i>&nbsp; Deletar</a>
                    </li>
                </dropdown>
            </td>
        </tr>
    </tbody>
</table>
