<th>
    <input class="form-control big" ng-model="FaturamentoList.filter['pedidos.codigo_marketplace']" placeholder="Nº do pedido" ng-model-options="{debounce:500}" />
</th>
<th>
    <select ng-model="FaturamentoList.filter['pedidos.marketplace']" class="form-control">
        <option value="">Todos</option>
        <option value="b2w">B2W</option>
        <option value="cnova">CNOVA</option>
        <option value="mercadolivre">Mercado Livre</option>
        <option value="walmart">Walmart</option>
        <option value="site">E-commerce</option>
    </select>
</th>
<th>
    <select ng-model="FaturamentoList.filter['cliente_enderecos.uf']" class="form-control text-center">
        <option value="">Todos</option>
        <optgroup label="Guia">
            <option value="al,ap,df,es,go,mt,ms,pa,pb,pr,pe,rs,rr,to">C/ guia</option>
            <option value="ac,am,ba,ce,ma,mg,pi,rj,rn,ro,sc,se,sp">S/ guia</option>
        </optgroup>
        <optgroup label="Estados">
            <option value="ac">AC</option>
            <option value="al">AL</option>
            <option value="am">AM</option>
            <option value="ap">AP</option>
            <option value="ba">BA</option>
            <option value="ce">CE</option>
            <option value="df">DF</option>
            <option value="es">ES</option>
            <option value="go">GO</option>
            <option value="ma">MA</option>
            <option value="mt">MT</option>
            <option value="ms">MS</option>
            <option value="mg">MG</option>
            <option value="pa">PA</option>
            <option value="pb">PB</option>
            <option value="pr">PR</option>
            <option value="pe">PE</option>
            <option value="pi">PI</option>
            <option value="rj">RJ</option>
            <option value="rn">RN</option>
            <option value="ro">RO</option>
            <option value="rs">RS</option>
            <option value="rr">RR</option>
            <option value="sc">SC</option>
            <option value="se">SE</option>
            <option value="sp">SP</option>
            <option value="to">TO</option>
        </optgroup>
    </select>
</th>
<th>
    <select ng-model="FaturamentoList.filter['pedidos.frete_metodo']" class="form-control">
        <option value="">Todos</option>
        <option value="PAC">PAC</option>
        <option value="SEDEX">SEDEX</option>
    </select>
</th>
</th>
<th>
    <input class="form-control big" ng-model="FaturamentoList.filter['clientes.nome']" placeholder="Nome do cliente" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control big" ng-model="FaturamentoList.filter['pedido_produtos.produto_sku']" placeholder="SKU" ng-model-options="{debounce:500}" />
</th>
<th>
    <div class="date-picker">
        <input class="form-control" ng-model="FaturamentoList.filter['pedidos.estimated_delivery']" placeholder="Data estimada" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="FaturamentoList.filter['pedidos.estimated_delivery']" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
</th>
<th>
    <div class="date-picker">
        <input class="form-control" ng-model="FaturamentoList.filter['pedidos.created_at']" placeholder="Data criação" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="FaturamentoList.filter['pedidos.created_at']" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
</th>
<th></th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger btn-reset-filter" ng-click="FaturamentoList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>
