<div class="row m-b-20">
    <div class="col-md-6">
        <div class="widget-16-header">
            <span class="icon-thumbnail bg-master-light pull-left text-master"><i class="fa fa-file-code-o"></i></span>
            <div class="pull-left">
                <strong class="page-title no-margin font-montserrat all-caps fs-13">Faturamento</strong><br>
                <small class="small-hint">Mostra as notas emitidas hoje por você.</small>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-inline pull-right" style="margin-top: 3px;" ng-submit="Faturamento.generateCode()">
            <div class="form-group">
                <div class="input-group m-l-10">
                    <select ng-model="Faturamento.codigo.servico" class="form-control">
                        <option value="0">PAC</option>
                        <option value="1">SEDEX</option>
                    </select>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Gerar</button>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <input class="form-control m-l-20" style="width: 200px;" type="text" ng-model="Faturamento.codigo.rastreio" readonly>
                <div class="input-group-btn">
                    <button clipboard text="Faturamento.codigo.rastreio" on-copied="Faturamento.codeCopy()" class="btn btn-success m-l-5" type="button"><i class="fa fa-copy"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
<table class="table m-b-0" cellpadding="0" cellspacing="0" ts-wrapper>
    <thead>
        <tr>
            <th class="text-center" width="150" ts-criteria="created_at_readable|parseDateTime" ts-default="descending">Importação</th>
            <th class="text-center" ts-criteria="numero">Número</th>
            <th ts-criteria="nota">Chave</th>
            <th ts-criteria="cliente">Cliente</th>
            <th class="text-center" ts-criteria="rastreio" width="150">Cód. Rastreio</th>
            <th width="260" style="min-width: 260px;"></th>
        </tr>
    </thead>
    <tbody ng-if="Faturamento.loading">
        <tr>
            <td colspan="50">
                <div class="progress-circle-indeterminate m-t-20 m-b-20" style="display: block;"></div>
            </td>
        </tr>
    </tbody>
    <tbody ng-if="Faturamento.notas && !Faturamento.loading">
        <tr ng-repeat="nota in Faturamento.notas" ts-repeat>
            <td class="text-center" ng-bind="nota.created_at_readable"></td>
            <td class="text-center">
                <strong class="fs-11" ng-bind="nota.pedido.marketplace"></strong>
                <br>
                <small ng-bind="nota.numero"></small>
            </td>
            <td><small ng-bind="nota.chave"></small></td>
            <td ng-bind="nota.pedido.cliente.nome"></td>
            <td class="text-center" ng-bind="nota.pedido.rastreios[0].rastreio"></td>
            <td>
                <button ng-click="App.printDanfe(nota.pedido_id); App.printEtiqueta(nota.pedido.rastreios[0].id);" type="button" class="btn btn-info m-r-10"><i class="fa fa-print"></i>&nbsp; Imprimir</button>
                <div class="dropdown" style="display: inline-block">
                    <button class="btn btn-info dropdown-toggle" type="button">
                        <i class="fa fa-cog"></i>&nbsp; Ações
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="App.printXML(nota.pedido_id)"><i class="fa fa-file-code-o"></i>&nbsp; XML</a>
                        </li>
                        <li>
                            <a ng-click="App.printDanfe(nota.pedido_id)"><i class="fa fa-file-pdf-o"></i>&nbsp; DANFE</a>
                        </li>
                        <li>
                            <a ng-click="App.printEtiqueta(nota.pedido.rastreios[0].id)"><i class="fa fa-tag"></i>&nbsp; Etiqueta</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
