<div id="page-header" class="row">
    <page-title icon="fa-truck" title="Rastreios importantes" description="Mostra os rastreios que precisam de alguma ação."></page-title>
    <div class="col-md-6 button-bar">
        <button ng-click="RastreioImportanteList.refreshAll()" class="btn-success"><i class="fa-refresh"></i>&nbsp; Atualizar status</button>
    </div>
</div>
<hr>
<table-header data="RastreioImportanteList.tableHeader"></table-header>
<table class="table" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th class="text-center" width="120">Código</th>
            <th>Cliente</th>
            <th class="text-center" width="120">Envio</th>
            <th class="text-center" width="120">Prazo</th>
            <th class="text-center" width="150">Rastreio</th>
            <th width="150">Status</th>
            <th width="30"></th>
            <th width="150" style="min-width: 150px;"></th>
        </tr>
        <tr class="table-filter" static-include="views/rastreio/importante/list_filter.html"></tr>
    </thead>
    <tbody ng-if="RastreioImportanteList.loading" class="loading">
        <tr><td colspan="50"><loading></loading></td></tr>
    </tbody>
    <tbody ng-if="RastreioImportanteList.tableData && !RastreioImportanteList.loading">
        <tr ng-repeat="rastreio in RastreioImportanteList.tableData.data">
            <td class="text-center fs-11">
                <strong>{{ rastreio.pedido.marketplace }}</strong><br>
                {{ rastreio.pedido.codigo_marketplace || 'Sem código' }}
            </td>
            <td>
                <strong ng-bind="rastreio.pedido.cliente.nome"></strong>
                <br>
                <small>
                    <span ng-bind="rastreio.pedido.cliente.fone"></span> - CEP: <strong ng-bind="rastreio.pedido.endereco.cep_readable"></strong> -
                    <span ng-bind="rastreio.pedido.endereco.cidade"></span> / <span ng-bind="rastreio.pedido.endereco.uf"></span>
                </small>
                <br>
                <small class="hint-text" ng-if="rastreio.rastreio_ref_id">
                    Reenvio do rastreio: <span ng-bind="rastreio.rastreio_ref.rastreio"></span>
                </small>
            </td>
            <td class="text-center">{{ rastreio.data_envio_readable }}</td>
            <td class="text-center">
                {{ rastreio.prazo_date }}<br>
                <small class="hint-text">{{ rastreio.prazo }} dia(s)</small>
            </td>
            <td class="text-center">
                <a ng-bind="rastreio.rastreio" title="Rastrear código" target="_blank" ng-href="http://websro.correios.com.br/sro_bin/txect01$.Inexistente?P_LINGUA=001&P_TIPO=002&P_COD_LIS={{ rastreio.rastreio }}"></a>
            </td>
            <td class="text-center">
                <span class="label {{ (rastreio.status == 2) ? 'label-warning' : 'label-danger' }} m-b-0">
                    {{ rastreio.status_description }}
                </span>
            </td>
            <td class="text-center">
                <a title="Adicionar observação" class="text-gray" ng-click="App.observacao(rastreio)" ng-class="{'text-complete': rastreio.observacao}"><i class="fa-comment"></i></a>
            </td>
            <td>
                <dropdown>
                    <li>
                        <a title="Editar pedido" ng-click="App.editar(rastreio)"><i class="fa-edit"></i>&nbsp; Editar</a>
                    </li>
                    <li>
                        <a title="Devolução" ng-click="App.devolucao(rastreio)"><i class="fa-undo"></i>&nbsp; Devolução</a>
                    </li>
                    <li>
                        <a title="Logística reversa" ng-click="App.logistica(rastreio)"><i class="fa-exchange"></i>&nbsp; Logística</a>
                    </li>
                    <li>
                        <a title="Pedido de informação" ng-click="App.pi(rastreio)"><i class="fa-exclamation-triangle"></i>&nbsp; PI</a>
                    </li>
                    <li>
                        <a ng-click="App.printXML(rastreioImportanteList.pedido_id)"><i class="fa-file-code-o"></i>&nbsp; XML</a>
                    </li>
                    <li>
                        <a ng-click="App.printDanfe(rastreioImportanteList.pedido_id)"><i class="fa-file-pdf-o"></i>&nbsp; DANFE</a>
                    </li>
                    <li>
                        <a ng-click="App.printEtiqueta(rastreioImportanteList.id)"><i class="fa-tag"></i>&nbsp; Etiqueta</a>
                    </li>
                </dropdown>
            </td>
        </tr>
    </tbody>
</table>