<div id="page-header" class="row">
    <page-title icon="fa-truck" title="Rastreios importantes" description="Mostra os rastreios que precisam de alguma ação."></page-title>
</div>
<table table-list="RastreioImportanteList">
    <thead>
        <tr>
            <th class="text-center" width="140">Código</th>
            <th>Cliente</th>
            <th class="text-center" width="120">Envio</th>
            <th class="text-center" width="120">Prazo</th>
            <th class="text-center" width="150">Rastreio</th>
            <th class="text-center" width="150">Status</th>
            <th width="45"></th>
        </tr>
        <tr class="table-filter" static-include="views/rastreio/importante/list_filter.html"></tr>
    </thead>
    <tbody ng-if="RastreioImportanteList.tableData && !RastreioImportanteList.loading">
        <tr ng-repeat="rastreio in RastreioImportanteList.tableData.data">
            <td class="text-center fs-11">
                <strong>{{ rastreio.pedido.marketplace }}</strong><br>
                <a ui-sref="app.pedidos.detalhe({id: rastreio.pedido.id})">
                    {{ rastreio.pedido.codigo_marketplace || 'Sem código' }}
                </a>
            </td>
            <td>
                <strong>{{ rastreio.pedido.cliente.nome | uppercase }}</strong>
                <br>
                <small>
                    <span clipboard supported="supported" text="rastreio.pedido.cliente.fone | digits" title="Clique para copiar apenas os números">{{ rastreio.pedido.cliente.fone }}</span> - CEP: <strong clipboard supported="supported" text="rastreio.pedido.endereco.cep" title="Clique para copiar apenas os números">{{ rastreio.pedido.endereco.cep_readable }}</strong> -
                    {{ rastreio.pedido.endereco.cidade }} / {{ rastreio.pedido.endereco.uf }}
                </small>
            </td>
            <td class="text-center">{{ rastreio.data_envio_readable }}</td>
            <td class="text-center">
                {{ rastreio.prazo_date }}<br>
                <small class="hint-text">{{ rastreio.prazo }} dia(s)</small>
            </td>
            <td class="text-center">
                <a title="Rastrear código" target="_blank" ng-href="{{ rastreio.rastreio_url }}">{{ rastreio.rastreio }}</a>
            </td>
            <td class="text-center">
                <span class="label {{ (rastreio.status == 2) ? 'label-warning' : 'label-danger' }} m-b-0">
                    {{ rastreio.status_description }}
                </span>
            </td>
            <td>
                <a class="btn-info" ui-sref="app.pedidos.detalhe({id: rastreio.pedido.id})">
                    <i class="fa-eye"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
