<th class="p-l-10 p-r-10">
    <input class="form-control big" ng-model="ImeiList.filter['imei']" placeholder="IMEI" ng-model-options="{debounce:500}" />
</th>
<th class="between-group p-l-10 p-r-10">
    <div class="date-picker">
        <input class="form-control" ng-model="ImeiList.filter['product_imeis.created_at'].from" placeholder="De" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="ImeiList.filter['product_imeis.created_at'].from" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
    <span>/</span>
    <div class="date-picker">
        <input class="form-control" ng-model="ImeiList.filter['product_imeis.created_at'].to" placeholder="Até" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="ImeiList.filter['product_imeis.created_at'].to" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
</th>
<th class="p-l-10 p-r-10">
    <select ng-model="ImeiList.filter['product_stocks.stock_slug']" class="form-control">
        <option value="">Todos</option>
        <option ng-repeat="stock in ImeiList.stocks" value="{{ stock.slug }}">{{ stock.title }}</option>
    </select>
</th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger btn-sm" ng-click="ImeiList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>
