<h1>Adicionar tarefa</h1>
<form ng-submit="AdicionarTarefaForm.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="tarefa">Tarefa</label>
            <select name="tarefa" id="tarefa"
                ng-model="AdicionarTarefaForm.solicitacao.tarefa_id"
                ng-options="tarefa.id as tarefa.titulo for tarefa in AdicionarTarefaForm.tarefas">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" ng-model="AdicionarTarefaForm.solicitacao.descricao" placeholder="Descreva sua solicitação" ng-minlength="3" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
            <button busy="Salvando..." type="submit" class="btn btn-success">Solicitar</button>
        </div>
    </div>
</form>