<div id="page-header" class="row">
    <page-title icon="fa-trophy" title="Ranking" description="Ranking mensal do gamification."></page-title>
</div>
<table class="table">
    <thead>
        <td width="80"></td>
        <td width="150"></td>
        <td></td>
        <td width="200"></td>
        <td width="80"></td>
        <td width="20"></td>
    </thead>
    <tbody>
        <td><span class="fz-50 p-l-20">#1</span></td>
        <td class="text-center">
            <div class="avatar">
                <span class="nivel">1</span>
                <span class="avatar-container">
                    <img src="https://scontent.fbnu1-1.fna.fbcdn.net/t31.0-8/s960x960/10658948_723980151015378_6366157510603332615_o.jpg">
                </span>
            </div>
        </td>
        <td>
            <h1 class="m-t-0 m-b-5 fz-40">Cleiton Souza</h1>
            <span class="m-l-5">
                <span class="text-primary">Explorador</span> / <span class="text-success">$ 500</span>
            </span>
        </td>
        <td>
            <span class="fz-40 text-complete">
                <i class="fa-certificate"></i>&nbsp;575
            </span>
        </td>
        <td>
            <span class="btn-default btn-lg">
                <i class="fa-thumbs-o-up"></i>&nbsp;
                2
            </span>
        </td>
        <td></td>
    </tbody>
</table>