<div id="page-header" class="row">
    <page-title icon="fa-trophy" title="Ranking" description="Ranking mensal do gamification."></page-title>
</div>

<div class="panel panel-default">
    <div class="panel-body ranking">
        <div ng-repeat="ranking in Ranking.dados" class="row">
            <div class="col-md-1">
                <span class="position p-l-10">#{{ $index + 1 }}</span>
            </div>
            <div class="col-md-2 text-center">
                <div class="avatar">
                    <span class="nivel">{{ ranking.jogador.nivel }}</span>
                    <span class="avatar-container">
                        <img ng-src="./{{ ranking.jogador.avatar }}" width="200" class="circle">
                    </span>
                </div>
            </div>
            <div class="col-md-5">
                <h1 class="m-t-50 m-b-15 m-l-40 fz-40">
                    <a ui-sref="app.gamification.perfil({id: ranking.jogador.usuario.id})" class="text-master">
                        {{ ranking.jogador.usuario.name }}
                    </a>
                </h1>
                <span class="m-l-45 fz-20">
                    <span class="text-primary"><i class="fa-check"></i>&nbsp; {{ ranking.tarefas }}</span>
                    &nbsp; / &nbsp;
                    <span class="text-success">$ {{ ranking.jogador.moedas }}</span>
                </span>
            </div>
            <div class="col-md-2">
                <span class="text-complete points">
                    <i class="fa-certificate"></i>&nbsp;{{ ranking.pontos }}
                </span>
            </div>
            <div class="col-md-2">
                <div class="votes">
                    <span ng-click="Ranking.votar(ranking.jogador.usuario.id)" class="btn-default btn-lg">
                        <i class="fa-thumbs-o-up"></i>&nbsp;
                        {{ ranking.votos }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>