-
    request:
        method: POST
        url: 'http://wspub.allnations.com.br/wsIntEstoqueClientesV2/ServicoReservasPedidosExt.asmx'
        headers:
            Content-Type: 'text/xml; charset=utf-8;'
            SOAPAction: 'http://allnations/wsintegracao/RetornarListaProdutosEstoque'
        body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SOAP-ENV:Envelope xmlns:SOAP-ENV=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ns1=\"http://allnations/wsintegracao/\"><SOAP-ENV:Body><ns1:RetornarListaProdutosEstoque><ns1:CodigoCliente>0141005</ns1:CodigoCliente><ns1:Senha>702135</ns1:Senha><ns1:Data>2017-01-16 16:00:00</ns1:Data></ns1:RetornarListaProdutosEstoque></SOAP-ENV:Body></SOAP-ENV:Envelope>\n"
    response:
        status:
            code: '200'
            message: OK
        headers:
            Content-Type: 'text/xml; charset=utf-8'
        body: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><RetornarListaProdutosEstoqueResponse xmlns=\"http://allnations/wsintegracao/\"><RetornarListaProdutosEstoqueResult><xs:schema id=\"NewDataSet\" xmlns=\"\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:msdata=\"urn:schemas-microsoft-com:xml-msdata\"><xs:element name=\"NewDataSet\" msdata:IsDataSet=\"true\" msdata:UseCurrentLocale=\"true\"><xs:complexType><xs:choice minOccurs=\"0\" maxOccurs=\"unbounded\"><xs:element name=\"Produtos\"><xs:complexType><xs:sequence><xs:element name=\"TIMESTAMP\" type=\"xs:dateTime\" minOccurs=\"0\" /><xs:element name=\"DEPARTAMENTO\" type=\"xs:string\" minOccurs=\"0\" /><xs:element name=\"CATEGORIA\" type=\"xs:string\" minOccurs=\"0\" /><xs:element name=\"SUBCATEGORIA\" type=\"xs:string\" minOccurs=\"0\" /><xs:element name=\"FABRICANTE\" type=\"xs:string\" minOccurs=\"0\" /><xs:element name=\"CODIGO\" type=\"xs:string\" minOccurs=\"0\" /><xs:element name=\"DESCRICAO\" type=\"xs:string\" minOccurs=\"0\" /><xs:element name=\[...]
