<h6 class="font-montserrat no-margin text-uppercase text-master bold">Logística reversa</h6>
<form ng-submit="Logistica.save()" novalidate="novalidate">
    <div class="row m-t-10">
        <div class="col-md-6">
            <div class="form-group">
                <label for="autorizacao">Autorização de postagem</label>
                <input ng-disabled="Logistica.fullSend || Logistica.preSend" id="autorizacao" class="form-control" ng-model="Logistica.logistica.autorizacao" placeholder="Código da autorização" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="motivo">Motivo</label>
                <select ng-disabled="Logistica.fullSend || Logistica.preSend" ng-model="Logistica.logistica.motivo" id="motivo" class="form-control" required>
                    <option value="" disabled selected hidden>Motivo</option>
                    <option value="0">Defeito</option>
                    <option value="1">Arrependimento</option>
                    <option value="2">Duplicidade</option>
                    <option value="3">Aparelho divergente</option>
                    <option value="4">Outro</option>
                </select>
            </div>
        </div>
    </div>

    <div ng-if="Logistica.preSend || Logistica.fullSend">
        <hr>
        <div ng-if="!Logistica.fullSend" class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i>&nbsp; Incluir as informações abaixo apenas quando o cliente enviar a mercadoria.</div>
        <div class="row m-t-10">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="acao">Ação realizada</label>
                    <select ng-readonly="Logistica.fullSend"  ng-model="Logistica.logistica.acao" id="acao" class="form-control" required>
                        <option value="" disabled selected hidden>Ação realizada</option>
                        <option value="0">Reenvio</option>
                        <option value="1">Cancelamento</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="motivo">Data de postagem</label>
                    <div class="date-picker">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input ng-readonly="Logistica.fullSend"  class="form-control" id="data" ng-model="Logistica.logistica.data_postagem_readable" placeholder="Data de postagem" required ui-date-mask />
                            <div class="picker-wrap">
                                <date-picker ng-model="Logistica.logistica.data_postagem_readable"></date-picker>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="Logistica.logistica.acao == 0">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="valor_frete">Valor do frete</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input ng-readonly="Logistica.fullSend"  class="form-control" id="valor_frete" ng-model="Logistica.logistica.rastreio_ref.valor" placeholder="Valor do frete" ui-number-mask required />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rastreio">Código de rastreio</label>
                    <input ng-readonly="Logistica.fullSend"  class="form-control" id="rastreio" ng-model="Logistica.logistica.rastreio_ref.rastreio" placeholder="Novo código" required />
                </div>
            </div>
        </div>
        <div class="row" ng-if="Logistica.logistica.acao == 1 && Logistica.rastreio.pedido.marketplace !== 'MERCADOLIVRE'">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="protocolo">Protocolo</label>
                    <input ng-readonly="Logistica.fullSend"  class="form-control" id="protocolo" ng-model="Logistica.logistica.protocolo" placeholder="Protocolo de cancelamento" required />
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t-10">
        <div class="col-md-12">
            <div class="form-group">
                <label for="observacoes">Observações</label>
                <textarea ng-readonly="Logistica.fullSend"  class="form-control" id="observacoes" ng-model="Logistica.logistica.observacoes" placeholder="Observacões gerais"></textarea>
            </div>
        </div>
    </div>

    <div class="pull-right m-t-10">
        <button type="button" ng-click="closeThisDialog()" class="btn btn-default m-r-10">Cancelar</button>
        <button ng-disabled="Logistica.fullSend" busy="Salvando..." type="submit" class="btn btn-primary">Salvar</button>
    </div>
    <div class="clearfix"></div>
</form>