<div class="row m-b-20">
    <div class="col-md-6">
        <div class="widget-16-header">
            <span class="icon-thumbnail bg-master-light pull-left text-master"><i class="fa fa-clipboard"></i></span>
            <div class="pull-left">
                <strong class="page-title no-margin font-montserrat all-caps fs-13">Template ML</strong><br>
                <small class="small-hint">Gera o template do Mercado Livre baseado em uma URL do site.</small>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-6">
        <form class="form-inline pull-right" style="margin-top: 3px;" ng-submit="Templateml.generateTemplate()">
            <div class="form-group">
                <div class="input-group">
                    <input placeholder="Digite a URL do site para buscar o produto" class="form-control" style="width: 400px;" type="text" ng-model="Templateml.url">
                    <div class="input-group-btn">
                        <button class="btn btn-success m-l-5" type="submit"><i class="fa fa-thumbs-up"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
<div ng-if="Templateml.template">
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control" ng-model="Templateml.template" style="min-height: 300px;"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="height: 300px;" ng-bind-html="Templateml.template"></div>
        </div>
    </div>
</div>