<div id="page-header" class="row">
    <page-title icon="fa-clipboard" title="Template ML" description="Gera o template do Mercado Livre baseado em uma URL do site."></page-title>
    <div class="col-md-6 button-bar form-group">
        <form class="form-inline pull-right m-t-5" ng-submit="Templateml.generateTemplate()">
            <button class="btn-success m-l-5 m-t-0" type="submit"><i class="fa-thumbs-up"></i></button>
            <input placeholder="Digite a URL do site para buscar o produto" class="pull-right form-control" style="width: 400px;" type="text" ng-model="Templateml.url" required>
        </form>
    </div>
</div>
<div ng-if="Templateml.template">
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control" ng-model="Templateml.template" style="min-height: 300px;"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="height: 300px;" ng-bind-html="Templateml.template"></div>
        </div>
    </div>
</div>