<div id="page-header" class="row">
    <page-title icon="fa-undo" title="Devoluções pendentes" description="Mostra as devoluções que foram abertas porém ainda não receberam ação."></page-title>
</div>
<table table-list="DevolucaoList">
    <thead>
        <tr>
            <th class="text-center" width="120">Nota</th>
            <th>Cliente</th>
            <th class="text-center">Abertura</th>
            <th class="text-center" width="150">Rastreio</th>
            <th class="text-center" width="200">Motivo</th>
            <th width="45"></th>
        </tr>
        <tr class="table-filter" static-include="views/rastreio/devolucao/pendente/list_filter.html"></tr>
    </thead>
    <tbody ng-if="DevolucaoList.tableData.data.length && !DevolucaoList.loading">
        <tr ng-repeat="devolucao in DevolucaoList.tableData.data">
            <td class="text-center">
                <strong class="fs-11" ng-bind="devolucao.rastreio.pedido.marketplace"></strong>
                <br>
                <small ng-bind="devolucao.rastreio.pedido_id"></small>
            </td>
            <td>
                <strong ng-bind="devolucao.rastreio.pedido.cliente.nome"></strong>
                <br>
                <small>
                    <span ng-bind="devolucao.rastreio.pedido.cliente.fone"></span> - CEP: <strong ng-bind="devolucao.rastreio.pedido.endereco.cep_readable"></strong> -
                    <span ng-bind="devolucao.rastreio.pedido.endereco.cidade"></span> / <span ng-bind="devolucao.rastreio.pedido.endereco.uf"></span>
                </small>
            </td>
            <td class="text-center" ng-bind="devolucao.created_at"></td>
            <td class="text-center">
                <a ng-bind="devolucao.rastreio.rastreio" title="Rastrear código" target="_blank" ng-href="http://websro.correios.com.br/sro_bin/txect01$.Inexistente?P_LINGUA=001&P_TIPO=002&P_COD_LIS={{ devolucao.rastreio.rastreio }}"></a>
            </td>
            <td ng-bind="devolucao.motivo_description"></td>
            <td class="text-center">
                <button class="btn-info" ng-click="DevolucaoList.rastreioHelper.devolucao(devolucao.rastreio_id, true)">
                    <i class="fa-pencil"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>