<div class="row m-b-20">
    <div class="col-md-12">
        <div class="widget-16-header">
            <span class="icon-thumbnail bg-master-light pull-left text-master"><i class="fa fa-truck"></i></span>
            <div class="pull-left">
                <strong class="page-title no-margin font-montserrat all-caps fs-13">Relatório de ICMS</strong><br>
                <small class="small-hint">Exibe todas as notas e respectivos ICMS de remetente e destinatário com UF.</small>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<hr>
<div class="row m-t-20">
    <button class="btn btn-success btn-lg m-l-5" type="submit" ng-click="Icms.generateRelatorio();"><i class="fa fa-file-pdf-o"></i>&nbsp; Gerar relatório</button>
</div>
