<div id="page-header" class="row">
    <page-title icon="fa-truck" title="Relatório de ICMS" description="Exibe todas as notas e respectivos ICMS de remetente e destinatário com UF."></page-title>
    <div class="col-md-6 button-bar">
        <button ng-click="UsuarioList.openForm()" class="btn-success"><i class="fa-user-plus"></i>&nbsp; Novo</button>
    </div>
</div>
<div class="row m-t-20">
    <div class="col-md-12">
        <button class="btn-success btn-lg" type="submit" ng-click="Icms.generateRelatorio();"><i class="fa-file-pdf-o"></i>&nbsp; Gerar relatório</button>
    </div>
</div>
