<div id="page-header" class="row">
    <page-title icon="fa-key" title="Senhas" description="Senhas para acessos internos."></page-title>
    <div class="col-md-6 button-bar">
        <button ng-click="SenhaList.openForm()" class="btn-primary"><i class="fa-user-plus"></i>&nbsp; Nova</button>
    </div>
</div>
<table table-list="SenhaList">
    <thead>
        <tr>
            <th width="200" class="text-center">Serviço</th>
            <th>Link</th>
            <th width="200">Usuário</th>
            <th width="200">Senha</th>
            <th width="150" style="min-width: 150px;"></th>
        </tr>
    </thead>
    <tbody ng-if="SenhaList.tableData && !SenhaList.loading">
        <tr ng-repeat="senha in SenhaList.tableData.data">
            <td class="text-center">{{ senha.site }}</td>
            <td>
                <a target="_blank" ng-if="senha.url" ng-href="{{ senha.url }}">Acessar link</a><br>
                <small class="hint-text">{{ senha.url }}</small>
            </td>
            <td>{{ senha.usuario }}</td>
            <td>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button ng-click="SenhaList.toglePassword($index)" class="btn-default">
                            <i class="fa-eye"></i>
                        </button>
                    </span>
                    <input type="{{ senha.inputType || 'password' }}" value="{{ senha.senha }}" class="input-masked p-l-10" readonly style="height:47px">
                </div>
            </td>
            <td>
                <dropdown>
                    <li>
                        <a title="Editar senha" ng-click="SenhaList.openForm(senha)"><i class="fa-edit"></i>&nbsp; Editar</a>
                    </li>
                    <li>
                        <a title="Deletar senha" ng-click="SenhaList.destroy(senha.id)"><i class="fa-trash"></i>&nbsp; Deletar</a>
                    </li>
                </dropdown>
            </td>
        </tr>
    </tbody>
</table>