<div id="page-header" class="row">
    <page-title icon="fa-key" title="Minhas senhas" description="Essas são suas senhas de acesso. Para cadastrar uma nova, fale com um administrador."></page-title>
</div>
<table table-list="MinhaSenha">
    <thead>
        <tr>
            <th width="200" class="text-center">Serviço</th>
            <th>Link</th>
            <th width="200">Usuário</th>
            <th width="200" class="text-left"><span class="p-l-10">Senha</span></th>
        </tr>
    </thead>
    <tbody ng-if="MinhaSenha.tableData && !MinhaSenha.loading">
        <tr ng-repeat="senha in MinhaSenha.tableData.data" ts-repeat>
            <td class="text-center">{{ senha.site }}</td>
            <td>
                <a target="_blank" ng-if="senha.url" ng-href="{{ senha.url }}">Acessar link</a><br>
                <small class="hint-text">{{ senha.url }}</small>
            </td>
            <td>{{ senha.usuario }}</td>
            <td>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button ng-click="MinhaSenha.toglePassword($index)" class="btn-default">
                            <i class="fa-eye"></i>
                        </button>
                    </span>
                    <input type="{{ senha.inputType || 'password' }}" value="{{ senha.senha }}" class="input-masked p-l-10" readonly style="height:47px">
                </div>
            </td>
        </tr>
    </tbody>
</table>
