<div id="page-header" class="row">
    <page-title icon="fa-archive" title="Relatório de inventário" description="Consulte os imeis por produto"></page-title>
</div>

<form ng-submit="RelatorioInventario.gerar()" class="form-default">
    <fieldset class="form-group no-validate">
        <legend>Filtros</legend>
        <div class="row">
            <div class="col-md-9">
                <label for="skus">SKU do(s) produto(s)</label>
                <tags-input ng-model="RelatorioInventario.filter.skus" id="skus"
                    min-length="1" add-on-space="true" placeholder="Código serial"
                ></tags-input>
            </div>
            <div class="col-md-3">
                <label for="skus">Estoque</label>
                <select ng-model="RelatorioInventario.filter.stock" id="stock" required>
                    <option ng-repeat="stock in RelatorioInventario.stocks" value="{{ stock.slug }}">{{ stock.title }}</option>
                </select>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" busy="Gerando..." class="btn-success pull-right m-l-10"><i class="fa-play"></i>&nbsp; Gerar</button>
            <a ng-click="RelatorioInventario.limpar()" class="btn-danger pull-right"><i class="fa-eraser"></i>&nbsp; Limpar</a>
        </div>
    </div>
</form>
<hr />
<div ng-if="RelatorioInventario.result" class="row m-b-15">
    <div class="col-md-6">
        <span>{{ RelatorioInventario.totalResults }}</span>
    </div>
    <div class="col-md-6">
        <!-- <a ng-click="RelatorioInventario.gerar('pdf')" class="btn-complete pull-right m-l-10">
            PDF&nbsp; <i class="fa-file-pdf-o"></i>
        </a> -->
        <a ng-click="RelatorioInventario.gerar('xls')" class="btn-complete pull-right">
            XLS&nbsp; <i class="fa-file-excel-o"></i>
        </a>
    </div>
</div>
<div ng-if="RelatorioInventario.result || RelatorioInventario.result.length" id="relatorio-resultado">
    <table class="table info-style">
        <thead>
            <tr>
                <th class="text-center">SKU</th>
                <th class="text-center">IMEI</th>
                <th class="text-center">Produto</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in RelatorioInventario.result">
                <td class="text-center">{{ item.sku }}</td>
                <td class="text-center">{{ item.imei }}</td>
                <td class="text-center">{{ item.titulo }}</td>
            </tr>
        </tbody>
    </table>
</div>
