<div id="page-header" class="row">
    <page-title icon="fa-cubes" title="Relatório de pedidos" description="Relatórios personalizados dos pedidos do tucano."></page-title>
</div>

<form ng-submit="RelatorioPedidos.gerar()" class="form-default" id="formProduto">
    <fieldset class="form-group no-validate">
        <legend>Relações</legend>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-validate pull-left">
                    <div class="checkbox check-success">
                        <input id="cliete" type="checkbox" ng-model="RelatorioPedidos.params.relation.cliente" ng-change="RelatorioPedidos.changeRelation()">
                        <label for="cliete">Clientes</label>
                    </div>
                </div>
                <div class="form-group no-validate pull-left">
                    <div class="checkbox check-success">
                        <input id="endereco" type="checkbox" ng-model="RelatorioPedidos.params.relation.endereco" ng-change="RelatorioPedidos.changeRelation()">
                        <label for="endereco">Endereços</label>
                    </div>
                </div>
                <div class="form-group no-validate pull-left">
                    <div class="checkbox check-success">
                        <input id="produto" type="checkbox" ng-model="RelatorioPedidos.params.relation.produtos" ng-change="RelatorioPedidos.changeRelation()">
                        <label for="produto">Produtos</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group no-validate">
        <legend>Filtros</legend>
        <div class="row">
            <div class="col-md-2">
                <label for="marketplace">Marketplace</label>
                <select ng-model="RelatorioPedidos.setFilters.marketplace" id="marketplace"  ng-change="RelatorioPedidos.addFilter('marketplace')">
                    <option value="">Selecione</option>
                    <option ng-repeat="(key, marketplace) in RelatorioPedidos.list.marketplace" value="{{ key }}">{{ marketplace }}</option>
                </select>
            </div>
            <div class="col-md-4 p-t-25">
                <div ng-repeat="(key, field) in RelatorioPedidos.params.filter.marketplace.value" class="btn-group p-t-5 m-r-10 m-b-10" role="group">
                    <a class="btn-default btn-sm fz-10">{{ field }}</a>
                    <a ng-click="RelatorioPedidos.removeFilter('marketplace', key)" class="btn-default btn-sm fz-10"><i class="fa-close"></i></a>
                </div>
            </div>
            <div class="col-md-2">
                <label for="status">Status</label>
                <select ng-model="RelatorioPedidos.setFilters.status" id="status"  ng-change="RelatorioPedidos.addFilter('status')">
                    <option value="">Selecione</option>
                    <option ng-repeat="(key, status) in RelatorioPedidos.list.status" value="{{ key }}">{{ status }}</option>
                </select>
            </div>
            <div class="col-md-4 p-t-25">
                <div ng-repeat="(key, field) in RelatorioPedidos.params.filter.status.value" class="btn-group p-t-5 m-r-10 m-b-10" role="group">
                    <a class="btn-default btn-sm fz-10">{{ field }}</a>
                    <a ng-click="RelatorioPedidos.removeFilter('status', key)" class="btn-default btn-sm fz-10"><i class="fa-close"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label for="total">Valor total</label>
                <div class="between-group">
                    <input class="big" ng-model="RelatorioPedidos.params.filter.total.value.from" placeholder="De" type="number" id="total" />
                    <span>/</span>
                    <input class="big" ng-model="RelatorioPedidos.params.filter.total.value.to" placeholder="Até" type="number" />
                </div>
            </div>
            <div class="col-md-3">
                <label for="estimated_delivery">Estimativa de entrega</label>
                <div class="between-group">
                    <div class="date-picker">
                        <input ng-model="RelatorioPedidos.params.filter.estimated_delivery.value.from" placeholder="De" id="estimated_delivery" />
                        <div class="picker-wrap">
                            <date-picker ng-model="RelatorioPedidos.params.filter.estimated_delivery.value.from"></date-picker>
                        </div>
                    </div>
                    <span>/</span>
                    <div class="date-picker">
                        <input ng-model="RelatorioPedidos.params.filter.estimated_delivery.value.to" placeholder="Áté" />
                        <div class="picker-wrap">
                            <date-picker ng-model="RelatorioPedidos.params.filter.estimated_delivery.value.to"></date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="created_at">Data de abertura</label>
                <div class="between-group">
                    <div class="date-picker">
                        <input ng-model="RelatorioPedidos.params.filter['pedidos.created_at'].value.from" placeholder="De" id="created_at" />
                        <div class="picker-wrap">
                            <date-picker ng-model="RelatorioPedidos.params.filter['pedidos.created_at'].value.from"></date-picker>
                        </div>
                    </div>
                    <span>/</span>
                    <div class="date-picker">
                        <input ng-model="RelatorioPedidos.params.filter['pedidos.created_at'].value.to" placeholder="Áté" />
                        <div class="picker-wrap">
                            <date-picker ng-model="RelatorioPedidos.params.filter['pedidos.created_at'].value.to"></date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="RelatorioPedidos.params.relation.endereco" class="col-md-2">
                <label for="uf">Estado</label>
                <select ng-model="RelatorioPedidos.params.filter['cliente_enderecos.uf'].value" id="uf" ng-change="RelatorioPedidos.loadCities()">
                    <option value="">Selecione</option>
                    <option value="ac">Acre</option>
                    <option value="al">Alagoas</option>
                    <option value="am">Amazonas</option>
                    <option value="ap">Amapá</option>
                    <option value="ba">Bahia</option>
                    <option value="ce">Ceará</option>
                    <option value="df">Distrito Federal</option>
                    <option value="es">Espírito Santo</option>
                    <option value="go">Goiás</option>
                    <option value="ma">Maranhão</option>
                    <option value="mt">Mato Grosso</option>
                    <option value="ms">Mato Grosso do Sul</option>
                    <option value="mg">Minas Gerais</option>
                    <option value="pa">Pará</option>
                    <option value="pb">Paraíba</option>
                    <option value="pr">Paraná</option>
                    <option value="pe">Pernambuco</option>
                    <option value="pi">Piauí</option>
                    <option value="rj">Rio de Janeiro</option>
                    <option value="rn">Rio Grande do Norte</option>
                    <option value="ro">Rondônia</option>
                    <option value="rs">Rio Grande do Sul</option>
                    <option value="rr">Roraima</option>
                    <option value="sc">Santa Catarina</option>
                    <option value="se">Sergipe</option>
                    <option value="sp">São Paulo</option>
                    <option value="to">Tocantins</option>
                </select>
            </div>
            <div ng-if="RelatorioPedidos.params.relation.endereco" class="col-md-2">
                <label for="cidade">Cidade</label>
                <select ng-model="RelatorioPedidos.params.filter['cliente_enderecos.cidade'].value" id="cidade">
                    <option value="">Selecione</option>
                    <option ng-repeat="cidade in RelatorioPedidos.list.cities" value="{{ cidade }}">{{ cidade }}</option>
                </select>
            </div>
        </div>
        <div class="row" ng-if="RelatorioPedidos.params.relation.produtos">
            <div class="col-md-2">
                <label for="sku">SKU</label>
                <input ng-model="RelatorioPedidos.params.filter['pedido_produtos.produto_sku'].value" placeholder="Código do produto" type="number" id="sku" />
            </div>
            <div class="col-md-3">
                <label for="imei">IMEI</label>
                <input ng-model="RelatorioPedidos.params.filter['pedido_produtos.imei'].value" placeholder="Serial do produto" type="number" id="imei" />
            </div>
            <div class="col-md-2">
                <label for="quantidade">Quantidade do produto</label>
                <div class="between-group">
                    <input class="big" ng-model="RelatorioPedidos.params.filter['pedido_produtos.quantidade'].value.from" placeholder="De" type="number" id="quantidade" />
                    <span>/</span>
                    <input class="big" ng-model="RelatorioPedidos.params.filter['pedido_produtos.quantidade'].value.to" placeholder="Até" type="number" />
                </div>
            </div>
            <div class="col-md-2">
                <label for="estado">estado</label>
                <select ng-model="RelatorioPedidos.params.filter['produtos.estado'].value" id="estado">
                    <option value="">Todos</option>
                    <option value="0">Novo</option>
                    <option value="1">Seminovo</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="valor">Valor do produto</label>
                <div class="between-group">
                    <input class="big" ng-model="RelatorioPedidos.params.filter['pedido_produtos.valor'].value.from" placeholder="De" type="number" id="valor" />
                    <span>/</span>
                    <input class="big" ng-model="RelatorioPedidos.params.filter['pedido_produtos.valor'].value.to" placeholder="Até" type="number" />
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-2">
            <fieldset class="row form-group no-validate">
                <legend>Agrupamento</legend>
                <div class="col-md-12">
                    <select ng-model="RelatorioPedidos.params.group">
                        <option value="">Nenhum</option>
                        <option value="day">Dia</option>
                        <option value="month">Mês</option>
                        <option value="status">Status</option>
                        <option value="marketplace">Marketplace</option>
                        <option ng-if="RelatorioPedidos.params.relation.cliente" value="clientes.nome">Cliente</option>
                        <option ng-if="RelatorioPedidos.params.relation.endereco" value="cliente_enderecos.cidade">Cidade</option>
                        <option ng-if="RelatorioPedidos.params.relation.endereco" value="cliente_enderecos.uf">Estado</option>
                        <option ng-if="RelatorioPedidos.params.relation.produtos" value="produtos.estado">Estado do produto</option>
                    </select>
                </div>
            </fieldset>
        </div>
        <div class="col-md-10">
            <fieldset class="row form-group no-validate">
            <legend>Ordenação</legend>
            <div class="col-md-2">
                <select ng-model="RelatorioPedidos.setOrder" ng-change="RelatorioPedidos.addOrder()">
                    <option value="">Selecione</option>
                    <optgroup label="Pedido">
                        <option ng-repeat="(key, field) in RelatorioPedidos.list.fields.pedido" value="{{ key }}">{{ field }}</option>
                    </optgroup>
                    <optgroup ng-if="RelatorioPedidos.params.relation.cliente"  label="Cliente">
                        <option ng-repeat="(key, field) in RelatorioPedidos.list.fields.cliente" value="{{ key }}">{{ field }}</option>
                    </optgroup>
                    <optgroup ng-if="RelatorioPedidos.params.relation.endereco"  label="Endereço">
                        <option ng-repeat="(key, field) in RelatorioPedidos.list.fields.endereco" value="{{ key }}">{{ field }}</option>
                    </optgroup>
                    <optgroup ng-if="RelatorioPedidos.params.relation.produtos"  label="Produto">
                        <option ng-repeat="(key, field) in RelatorioPedidos.list.fields.produto" value="{{ key }}">{{ field }}</option>
                    </optgroup>
                </select>
            </div>
            <div class="col-md-10">
                <div ng-repeat="(index, field) in RelatorioPedidos.params.order" class="btn-group p-t-5 m-r-10 m-b-10" role="group">
                    <a ng-click="RelatorioPedidos.changeOrder(index)" class="btn-default btn-sm fz-10">{{ field.label }}&nbsp; <i  class="fa-long-arrow-{{ (field.order == 'asc') ? 'up' : 'down' }}"></i></a>
                    <a ng-click="RelatorioPedidos.removeOrder(index)" class="btn-default btn-sm fz-10"><i class="fa-close"></i></a>
                </div>
            </div>
        </fieldset>
        </div>
    </div>
    <fieldset class="row form-group no-validate">
        <legend>Campos</legend>
        <div class="col-md-2">
            <select ng-model="RelatorioPedidos.setField" ng-change="RelatorioPedidos.addField()">
                <option value="">Selecione</option>
                <optgroup label="Pedido">
                    <option ng-repeat="(key, field) in RelatorioPedidos.list.fields.pedido" value="{{ key }}">{{ field }}</option>
                </optgroup>
                <optgroup ng-if="RelatorioPedidos.params.relation.cliente"  label="Cliente">
                    <option ng-repeat="(key, field) in RelatorioPedidos.list.fields.cliente" value="{{ key }}">{{ field }}</option>
                </optgroup>
                <optgroup ng-if="RelatorioPedidos.params.relation.endereco"  label="Endereço">
                    <option ng-repeat="(key, field) in RelatorioPedidos.list.fields.endereco" value="{{ key }}">{{ field }}</option>
                </optgroup>
                <optgroup ng-if="RelatorioPedidos.params.relation.produtos"  label="Produto">
                    <option ng-repeat="(key, field) in RelatorioPedidos.list.fields.produto" value="{{ key }}">{{ field }}</option>
                </optgroup>
            </select>
        </div>
        <div id="horizontal-container" class="col-md-10">
            <div class="sortable-row" as-sortable="RelatorioPedidos.sortableOptions" data-ng-model="RelatorioPedidos.params.fields">
                <div ng-repeat="field in RelatorioPedidos.params.fields" as-sortable-item>
                    <div class="btn-group p-t-5 m-r-10 m-b-10" role="group" as-sortable-item-handle>
                        <div class="btn-default btn-sm fz-10">{{ field.label }}</div>
                        <a ng-click="RelatorioPedidos.removeField($index)" class="btn-default btn-sm fz-10"><i class="fa-close"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" busy="Gerando..." class="btn-success pull-right m-l-10"><i class="fa-play"></i>&nbsp; Gerar</button>
            <a ng-click="RelatorioPedidos.limpar()" class="btn-danger pull-right"><i class="fa-eraser"></i>&nbsp; Limpar</a>
        </div>
    </div>
</form>
<hr />
<div ng-if="RelatorioPedidos.result" class="row m-b-15">
    <div class="col-md-6">
        <span>{{ RelatorioPedidos.totalResults }}</span>
    </div>
    <div class="col-md-6">
        <!-- <a ng-click="RelatorioPedidos.gerar('pdf')" class="btn-complete pull-right m-l-10">
            PDF&nbsp; <i class="fa-file-pdf-o"></i>
        </a> -->
        <a ng-click="RelatorioPedidos.gerar('xls')" class="btn-complete pull-right">
            XLS&nbsp; <i class="fa-file-excel-o"></i>
        </a>
    </div>
</div>
<div id="relatorio-resultado">
    <table class="table info-style">
        <thead>
            <tr>
                <th ng-repeat="campo in RelatorioPedidos.labels" class="text-center">{{ campo }}</th>
            </tr>
        </thead>
        <tbody ng-if="!RelatorioPedidos.groupedResult">
            <tr ng-repeat="campos in RelatorioPedidos.result">
                <td ng-repeat="(key, campo) in campos" class="text-center">
                    <span ng-if="key != 'produtos'">{{ campo }}</span>
                    <span ng-if="RelatorioPedidos.params.relation.produtos && key == 'produtos'" ng-repeat="produto in campo track by $index">
                        <span ng-repeat="atributo in produto">{{ atributo }}<span ng-hide="$last">, </span><br ng-if="$last"/></span>
                    </span>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="RelatorioPedidos.groupedResult" ng-repeat="grupo in RelatorioPedidos.result">
            <tr class="destaque">
                <td colspan="50">{{ grupo.group }}</td>
            </tr>
            <tr ng-repeat="item in grupo.data track by $index">
                <td ng-repeat="(key, campo) in item track by $index" class="text-center">
                    <span ng-if="key != 'produtos'">{{ campo }}</span>
                    <span ng-if="RelatorioPedidos.params.relation.produtos && key == 'produtos'" ng-repeat="produto in campo track by $index">
                        <span ng-repeat="atributo in produto">{{ atributo }}<span ng-hide="$last">, </span><br ng-if="$last"/></span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>