<div id="page-header" class="row">
    <page-title icon="fa-barcode" title="Consultar IMEI{{ ConsultarImei.imei ? ': ' + ConsultarImei.imei : '' }}" description="Todos o histórico de registros relacionados ao imei"></page-title>
    <div class="col-md-6 button-bar">
        <form class="form-default form-clean form-group" ng-submit="ConsultarImei.load()">
            <div class="input-group">
                <input ng-model="ConsultarImei.imei" ng-change="ConsultarImei.changed()"
                    class="bg-white" placeholder="Código serial" required>
                <div class="input-group-btn">
                    <button class="btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-if="ConsultarImei.imei && ConsultarImei.info.title" class="row m-b-20">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading separator">
                <div class="panel-title">
                    <div class="pull-left">
                        <span>{{ ConsultarImei.info.title }}</span>
                        <a ui-sref="app.produtos.detalhe({sku: ConsultarImei.info.sku})">
                            <i class="fa-external-link"></i>
                        </a>
                        <br/>
                        <small class="hint-text display-block"><b>Estoque</b>: {{ ConsultarImei.info.stock }}</small>
                    </div>
                    <div class="pull-right">
                        Entrada em: {{ ConsultarImei.info.entry_date }}
                        <a ui-sref="app.estoque.entrada.form({id: ConsultarImei.info.entry_id})">
                            <i class="fa-external-link"></i>
                        </a>
                        <br/>
                        <small class="hint-text pull-right">Por {{ ConsultarImei.info.entry_value | currency  }}</small>
                    </div>
                    <div class="clear clearfix"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-{{ ConsultarImei.info.cost ? 2 : 3 }} text-center">
                        <b>EAN</b>: {{ ConsultarImei.info.ean }}
                    </div>
                    <div class="col-md-{{ ConsultarImei.info.cost ? 2 : 3 }} text-center">
                        <b>NCM</b>: {{ ConsultarImei.info.ncm }}
                    </div>
                    <div class="col-md-{{ ConsultarImei.info.cost ? 2 : 3 }} text-center">
                        <b>Valor</b>: {{ ConsultarImei.info.value | currency }}
                    </div>
                    <div class="col-md-{{ ConsultarImei.info.cost ? 3 : 3 }} text-center">
                        <b>Custo Médio</b>: {{ ConsultarImei.info.productCost | currency  }}
                    </div>
                    <div ng-if="ConsultarImei.info.cost" class="col-md-3 text-center">
                        <b>Custo (na venda)</b>: {{ ConsultarImei.info.cost | currency  }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table ng-if="ConsultarImei.imei && ConsultarImei.searched" class="table info-style table-hover">
    <thead class="table-header">
        <tr>
            <th width="46"></th>
            <th>Ação</th>
            <th width="160" class="text-center">Data</th>
            <th width="200" class="text-center" style="padding-left:8px;padding-right:8px">Usuário</th>
        </tr>
    </thead>
    <tbody ng-if="ConsultarImei.loading" class="loading">
        <tr><td colspan="50"><loading></loading></td></tr>
    </tbody>
    <tbody ng-if="!ConsultarImei.acoes.length && !ConsultarImei.loading" class="empty">
        <tr><td colspan="50">Nenhum registro foi encontrado!</td></tr>
    </tbody>
    <tbody ng-if="ConsultarImei.acoes.length && !ConsultarImei.loading">
        <tr ng-repeat="acao in ConsultarImei.acoes">
            <td><i class="fa-{{ ConsultarImei.getIcon(acao.model) }}"></i></td>
            <td ng-bind-html="acao.desc"></td>
            <td class="text-center">{{ acao.date }}</td>
            <td class="text-center">{{ acao.user }}</td>
        </tr>
    </tbody>
</table>
