<div id="header-info">
    <div>
        <strong>Meta ano total</strong>
        <div ng-if="!App.loadingMetas">
            <div ng-if="App.metas.ano">
                <strong ng-class="{'text-success': App.metas.ano.diferenca >= 0, 'text-danger': App.metas.ano.diferenca < 0}" ng-bind="App.metas.ano.percentual + '%'"></strong>
                <span><i ng-class="{'fa-caret-up': App.metas.ano.diferenca >= 0, 'fa-caret-down': App.metas.ano.diferenca < 0}"></i> <span ng-bind="App.metas.ano.diferenca + '%'"></span></span>
            </div>
            <div ng-if="!App.metas.ano">
                <small>Não encontrado</small>
            </div>
        </div>
        <div ng-if="App.loadingMetas">
            <i class="fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
    <div>
        <strong>Meta mês (smart)</strong>
        <div ng-if="!App.loadingMetas">
            <div ng-if="App.metas.mes.smartphones">
                <strong ng-class="{'text-success': App.metas.mes.smartphones.diferenca >= 0, 'text-danger': App.metas.mes.smartphones.diferenca < 0}" ng-bind="App.metas.mes.smartphones.percentual + '%'"></strong>
                <span><i ng-class="{'fa-caret-up': App.metas.mes.smartphones.diferenca >= 0, 'fa-caret-down': App.metas.mes.smartphones.diferenca < 0}"></i> <span ng-bind="App.metas.mes.smartphones.diferenca + '%'"></span></span>
            </div>
            <div ng-if="!App.metas.mes.smartphones">
                <small>Não encontrado</small>
            </div>
        </div>
        <div ng-if="App.loadingMetas">
            <i class="fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
    <div>
        <strong>Meta mês (outros)</strong>
        <div ng-if="!App.loadingMetas">
            <div ng-if="App.metas.mes.outros">
                <strong ng-class="{'text-success': App.metas.mes.outros.diferenca >= 0, 'text-danger': App.metas.mes.outros.diferenca < 0}" ng-bind="App.metas.mes.outros.percentual + '%'"></strong>
                <span><i ng-class="{'fa-caret-up': App.metas.mes.outros.diferenca >= 0, 'fa-caret-down': App.metas.mes.outros.diferenca < 0}"></i> <span ng-bind="App.metas.mes.outros.diferenca + '%'"></span></span>
            </div>
            <div ng-if="!App.metas.mes.outros">
                <small>Não encontrado</small>
            </div>
        </div>
        <div ng-if="App.loadingMetas">
            <i class="fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
</div>