<div class="pull-right m-r-50" style="margin-top: 9px;">
    <div class="pull-left p-r-15 b-r b-grey m-r-15">
        <strong class="font-montserrat all-caps fs-10">Meta ano total</strong><br>
        <div ng-if="!App.loadingMetas">
            <div ng-if="App.metas.ano">
                <strong ng-class="{'text-success': App.metas.ano.diferenca >= 0, 'text-danger': App.metas.ano.diferenca < 0}" ng-bind="App.metas.ano.percentual + '%'"></strong>
                <span class="hint-text fs-10 p-l-5"><i class="fa" ng-class="{'fa-caret-up': App.metas.ano.diferenca >= 0, 'fa-caret-down': App.metas.ano.diferenca < 0}"></i> <span ng-bind="App.metas.ano.diferenca + '%'"></span></span>
            </div>
            <div ng-if="!App.metas.ano">
                <p class="small hint-text">Não encontrado</p>
            </div>
        </div>
        <div ng-if="App.loadingMetas">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
    <div class="pull-left p-r-15 b-r b-grey m-r-15">
        <strong class="font-montserrat all-caps fs-10">Meta mês (smart)</strong><br>
        <div ng-if="!App.loadingMetas">
            <div ng-if="App.metas.mes.smartphones">
                <strong ng-class="{'text-success': App.metas.mes.smartphones.diferenca >= 0, 'text-danger': App.metas.mes.smartphones.diferenca < 0}" ng-bind="App.metas.mes.smartphones.percentual + '%'"></strong>
                <span class="hint-text fs-10 p-l-5"><i class="fa" ng-class="{'fa-caret-up': App.metas.mes.smartphones.diferenca >= 0, 'fa-caret-down': App.metas.mes.smartphones.diferenca < 0}"></i> <span ng-bind="App.metas.mes.smartphones.diferenca + '%'"></span></span>
            </div>
            <div ng-if="!App.metas.mes.smartphones">
                <p class="small hint-text">Não encontrado</p>
            </div>
        </div>
        <div ng-if="App.loadingMetas">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
    <div class="pull-left">
        <strong class="font-montserrat all-caps fs-10">Meta mês (outros)</strong><br>
        <div ng-if="!App.loadingMetas">
            <div ng-if="App.metas.mes.outros">
                <strong ng-class="{'text-success': App.metas.mes.outros.diferenca >= 0, 'text-danger': App.metas.mes.outros.diferenca < 0}" ng-bind="App.metas.mes.outros.percentual + '%'"></strong>
                <span class="hint-text fs-10 p-l-5"><i class="fa" ng-class="{'fa-caret-up': App.metas.mes.outros.diferenca >= 0, 'fa-caret-down': App.metas.mes.outros.diferenca < 0}"></i> <span ng-bind="App.metas.mes.outros.diferenca + '%'"></span></span>
            </div>
            <div ng-if="!App.metas.mes.outros">
                <p class="small hint-text">Não encontrado</p>
            </div>
        </div>
        <div ng-if="App.loadingMetas">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
</div>