<div class="pull-right m-r-50" style="margin-top: 9px;">
    <div class="pull-right">
        <strong class="font-montserrat all-caps fs-10">Meta mês (outros)</strong><br>
        <strong class="text-danger">30.43%</strong>
        <span class="hint-text fs-10 p-l-5"><i class="fa fa-caret-down"></i> 12.43%</span>
    </div>
    <div class="pull-right p-r-15 b-r b-grey m-r-15">
        <strong class="font-montserrat all-caps fs-10">Meta mês (smart)</strong><br>
        <strong class="text-danger">30.43%</strong>
        <span class="hint-text fs-10 p-l-5"><i class="fa fa-caret-down"></i> 12.43%</span>
    </div>
    <div class="pull-right p-r-15 b-r b-grey m-r-15">
        <strong class="font-montserrat all-caps fs-10">Meta ano total</strong><br>
        <strong class="text-success">50.43%</strong>
        <span class="hint-text fs-10 p-l-5"><i class="fa fa-caret-up"></i> 12.43%</span>
    </div>
</div>