<div class="overlay" ng-controller="SearchController as Search">
    <div class="overlay-content has-results">
        <div class="container-fluid">
            <img class="overlay-brand" src="assets/img/logo-image.png" alt="logo">
            <a ng-click="Search.close()" class="close-icon-light overlay-close text-black fs-16">
                <i class="fa-remove"></i>
            </a>
        </div>
        <div class="container-fluid">
            <form id="search" novalidate>
                <div class="form-group">
                    <input ng-close="Search.close()" type="text" ng-model="Search.term" ng-model-options="{debounce: 1000}" ng-change="Search.search()" id="searchInput" class="no-border overlay-search bg-transparent" placeholder="Buscar..." autocomplete="off" ng-minlength="2" required>
                </div>
                <div class="categories">
                    <a ng-click="Search.toggleCategory('pedidos')" ng-class="{ 'active': Search.categories.pedidos }" class="btn-default m-b-20">
                        <i class="fa-cubes"></i>
                        <span>Pedidos</span>
                    </a>
                    <a ng-click="Search.toggleCategory('clientes')" ng-class="{ 'active': Search.categories.clientes }" class="btn-default">
                        <i class="fa-user"></i>
                        <span>Clientes</span>
                    </a>
                    <a ng-click="Search.toggleCategory('produtos')" ng-class="{ 'active': Search.categories.produtos }" class="btn-default">
                        <i class="fa-mobile"></i>
                        <span>Produtos</span>
                    </a>
                </div>
            </form>
        </div>
        <div  ng-if="Search.loading" class="container-fluid">
            <div class="search-results m-t-20">
                <div class="progress-circle-indeterminate m-t-45" style="display: block;"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div ng-if="Search.noResults === true" class="row">
                <p class="text-center fz-16">Nenhum resultado foi encontrado :\</p>
            </div>
            <div ng-if="Search.categories.pedidos" class="row">
                <div ng-repeat="pedido in Search.data.pedidos" class="col-md-4 m-b-20">
                    <div class="panel-info">
                        <div class="panel-heading">
                            <div class="panel-title ellipsis button-2">
                                <span ng-bind-html="'<i class=fa-cubes></i>&nbsp;' + (pedido.codigo_marketplace || pedido.codigo_api || pedido.id || 'Pedido') | highlight: Search.term"></span>
                            </div>
                            <div class="panel-controls">
                                <a ng-click="Search.comentarioHelper.openModal(pedido.id)" class="btn-default"><i class="fa-comments"></i></a>
                                <a ng-click="Search.goTo('app.pedidos.detalhe', {id: pedido.id})" class="btn-default"><i class="fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="panel-body alternate">
                            <div class="col-md-12">
                                <div ng-if="pedido.cliente" class="row ellipsis">
                                    {{ pedido.cliente.nome }}
                                </div>
                                <div class="row">
                                    <span ng-if="pedido.marketplace_readable">{{ pedido.marketplace_readable }}</span>
                                    <p class="label label-{{ Search.pedidoHelper.parseStatusClass(pedido.status) }}">
                                        {{ pedido.status_description }}
                                        <small ng-if="pedido.reembolso">(Reembolsado)</small>
                                        <small ng-if="pedido.segurado">(Segurado)</small>
                                        <small ng-if="pedido.protocolo">({{ pedido.protocolo }})</small>
                                    </p>
                                </div>
                            </div>
                            <div ng-repeat="rastreio in pedido.rastreios" class="col-md-12">
                                <hr class="row" />
                                <div class="row">
                                    <i class="fa-truck m-t-3" tooltips tooltip-template="Criado em {{ rastreio.created_at }}"></i>&nbsp;
                                    <i ng-if="rastreio.devolucao" class="fa-undo" tooltips tooltip-template="Devolução em {{ rastreio.devolucao.created_at }}">&nbsp;</i>
                                    <i ng-if="rastreio.logistica" class="fa-exchange" tooltips tooltip-template="Logística em {{ rastreio.logistica.created_at }}">&nbsp;</i>
                                    <i ng-if="rastreio.pi" class="fa-warning" tooltips tooltip-template="PI em {{ rastreio.pi.created_at }}">&nbsp;</i>
                                    <a ng-href="{{ rastreio.rastreio_url }}" target="_blank" ng-bind-html="rastreio.rastreio | highlight: Search.term"></a>

                                    <span class="label label-{{ Search.pedidoHelper.parseRastreioStatusClass(rastreio.status) }}">{{ rastreio.status_description }}</span>
                                </div>
                            </div>
                            <div ng-if="!pedido.rastreios.length" class="col-md-12">
                                <hr class="row" />
                                <div class="row hint-text text-center">
                                    Nenhum rastreio cadastrado
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="Search.categories.clientes" class="row">
                <div ng-repeat="cliente in Search.data.clientes" class="col-md-4 m-b-20">
                    <div class="panel-complete">
                        <div class="panel-heading">
                            <div class="panel-title ellipsis button-1">
                                <span ng-bind-html="'<i class=fa-user></i>&nbsp;' + cliente.nome | highlight: Search.term"></span>
                            </div>
                            <div class="panel-controls">
                                <a ng-click="Search.goTo('app.clientes.detalhe', {id: cliente.id})" class="btn-default"><i class="fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="panel-body alternate">
                            <div class="col-md-12">
                                <div ng-if="cliente.taxvat_readable || cliente.inscricao" class="row">
                                    <span ng-if="cliente.taxvat_readable" ng-bind-html="cliente.taxvat_readable |  highlight: Search.term"></span>
                                    <span ng-if="cliente.inscricao">{{ cliente.inscricao }}</span>
                                </div>
                                <div ng-if="cliente.fone || cliente.email" class="row">
                                    <span ng-if="cliente.fone" ng-bind-html="cliente.fone |  highlight: Search.term"></span>
                                    <span ng-if="cliente.email" ng-bind-html="cliente.email |  highlight: Search.term"></span>
                                </div>
                                <div ng-if="cliente.enderecos[0].cidade || cliente.enderecos[0].cep_readable" class="row">
                                    <span ng-if="cliente.enderecos[0].cidade">{{ cliente.enderecos[0].cidade + ' / ' + cliente.enderecos[0].uf }}</span>
                                    <span ng-if="cliente.enderecos[0].cep_readable">{{ cliente.enderecos[0].cep_readable }}</span>
                                </div>
                                <div ng-if="!cliente.enderecos.length" class="row">
                                    <span class="text-center hint-text full-width">
                                        Nenhum endereço cadastrado
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="Search.categories.produtos" class="row">
                <div ng-repeat="produto in Search.data.produtos" class="col-md-4 m-b-20">
                    <div class="panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title ellipsis button-1">
                                <span ng-bind-html="'<i class=fa-mobile></i>&nbsp;' + produto.titulo | highlight: Search.term"></span>
                            </div>
                            <div class="panel-controls">
                                <a ng-click="Search.goTo('app.produtos.form', {sku: produto.sku})" class="btn-default"><i class="fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="panel-body alternate">
                            <div class="col-md-12">
                                <div class="row">
                                    <span ng-if="produto.sku" ng-bind-html="'Sku: <b>' + produto.sku + '</b>' | highlight: Search.term"></span>
                                    <span>Estoque: <b>{{ produto.estoque }}</b></span>
                                </div>
                                <div ng-if="produto.referencia || produto.ean" class="row">
                                    <span ng-if="produto.referencia" ng-bind-html="'Ref. <b>' + produto.referencia + '</b>' | highlight: Search.term"></span>
                                    <span ng-if="produto.ean" ng-bind-html="'EAN: <b>' + produto.ean + '</b>' | highlight: Search.term"></span>
                                </div>
                                <div ng-if="!produto.referencia && !produto.ean" class="row">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!Search.loading && Search.hasMore" class="container-fluid text-center">
            <a ng-click="Search.more()" class="btn-info m-b-20">
                <i class="fa-plus"></i>&nbsp; Carregar mais
            </a>
        </div>
    </div>
</div>
