<th>
    <input class="form-control big" ng-model="AdList.filter['produtos.sku']" placeholder="SKU" ng-model-options="{debounce:500}" />
</th>
<th>
    <input class="form-control big" ng-model="AdList.filter['produtos.titulo']" placeholder="Título do produto" ng-model-options="{debounce:500}" />
</th>
<th>
    <select ng-model="AdList.filter['produtos.estado']" class="form-control">
        <option value="">Todos</option>
        <option value="0">Novo</option>
        <option value="1">Usado</option>
    </select>
</th>
<th width="250"></th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger" ng-click="AdList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>
