<div id="page-header" class="row">
    <page-title icon="fa-bug" title="Defeito no produto" description="Identificar serial como defeito"></page-title>
    <div class="col-md-6 button-bar">
        <a ng-click="DefeitoForm.save()" title="Salvar produto" class="btn-success"><i class="fa-save"></i>&nbsp; Salvar</a>
        <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
    </div>
</div>

<form ng-submit="DefeitoForm.save()" novalidate="novalidate" class="form-default" id="formProduto">
    <validation errors="DefeitoForm.validationErrors"></validation>
    <div ng-if="!DefeitoForm.validationErrors.length && !DefeitoForm.defect.id" class="alert alert-warning">
        <i class="fa-exclamation-circle">&nbsp;</i> O estoque do produto com defeito será diminuido!
    </div>
    <div ng-if="!DefeitoForm.defect.id" class="row">
        <div class="col-md-6 form-group">
            <label for="imei">Serial</label>
            <input ng-model="DefeitoForm.defect.imei" id="imei" placeholder="Imei do produto" required />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="description">Descrição</label>
            <textarea ng-model="DefeitoForm.defect.description" id="description" rows="8" placeholder="Descreva o defeito do produto" ng-minlength="5" required></textarea>
        </div>
    </div>
</form>
