<div class="sidebar-menu">
    <ul class="menu-items">
        <li roles="{{ menu.roles.join('|') }}" ng-repeat="menu in Menu.items" ui-sref-active="active">
            <a ng-href="{{ menu.sref }}" ng-click="Menu.openSub(menu)">
                <span class="title" ng-bind="menu.title"></span>
                <span ng-class="{open: menu.subOpen}" class="arrow" ng-if="menu.sub"></span>
            </a>
            <span ng-if="menu.icon" class="icon-thumbnail"><i class="fa {{ menu.icon }}"></i></span>
            <ul class="sub-menu" ng-if="menu.sub" ng-show="menu.subOpen">
                <li roles="{{ sub.roles.join('|') }}" ng-repeat="sub in menu.sub" ui-sref-active="active">
                    <a ng-href="{{ sub.sref }}" ng-click="Menu.openInf(menu, sub)">
                        <span class="title" ng-bind="sub.title"></span>
                        <span ng-class="{open: sub.subOpen}" class="arrow" ng-if="sub.sub"></span>
                    </a>
                    <span ng-if="sub.icon" class="icon-thumbnail"><i class="fa {{ sub.icon }}"></i></span>
                    <ul class="sub-menu" ng-if="sub.sub" ng-show="sub.subOpen">
                        <li roles="{{ inf.roles.join('|') }}" ng-repeat="inf in sub.sub" ui-sref-active="active">
                            <a ng-href="{{ inf.sref }}" ng-bind="inf.title">
                                <span class="title" ng-bind="inf.title"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>