<div class="row m-b-20">
    <div class="col-md-12 small">
        <span class="m-r-10">Página {{ $ctrl.data.vm.tableData.current_page || '1' }} de {{ $ctrl.data.vm.tableData.last_page || '1' }}</span>

        <div class="btn-group">
            <button ng-click="$ctrl.data.prev()" class="btn btn-default" ng-disabled="$ctrl.data.vm.tableData.current_page === 1">
                <i class="fa fa-angle-left"></i>
            </button>
            <button ng-click="$ctrl.data.next()" class="btn btn-default" ng-disabled="$ctrl.data.vm.tableData.current_page >= $ctrl.data.vm.tableData.last_page">
                <i class="fa fa-angle-right"></i>
            </button>
        </div>

        <div class="form-inline m-l-15 p-l-15 b-l b-grey" style="display: inline-block;">
            Mostrar
            <select ng-change="$ctrl.data.changePerPage()" ng-model="$ctrl.data.pagination.per_page" class="form-control m-l-5 m-r-5" style="width: 60px">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            por página
        </div>

        <button ng-click="$ctrl.data.vm.load()" class="btn btn-primary pull-right"><i class="fa fa-refresh"></i></button>
    </div>
</div>