<thead ng-if="tableList.tableHeader" data="tableList.tableHeader" class="table-header">
    <tr class="small">
        <td colspan="50">
            <span class="m-r-10">Página {{ tableList.tableData.current_page || '1' }} de {{ tableList.tableData.last_page || '1' }}</span>

            <div class="btn-group">
                <button ng-click="tableList.tableHeader.prev()" class="btn btn-default" ng-disabled="tableList.tableData.current_page === 1">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button ng-click="tableList.tableHeader.next()" class="btn btn-default" ng-disabled="tableList.tableData.current_page >= tableList.tableData.last_page">
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>

            <div class="form-inline m-l-15 p-l-15 b-l b-grey" style="display: inline-block;">
                Mostrar
                <select ng-change="tableList.tableHeader.changePerPage()" ng-model="tableList.tableHeader.pagination.per_page" class="form-control m-l-5 m-r-5" style="width: 60px">
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                por página
            </div>

            <div class="m-l-15 p-l-15 b-l b-grey" style="display: inline-block;">
                {{ tableList.tableData.total }} {{ (tableList.tableData.total === 1) ? 'registro encontrado' : 'registros encontrados' }}
            </div>

            <button ng-click="tableList.load()" class="btn btn-primary pull-right"><i class="fa fa-refresh"></i></button>
        </td>
    </tr>
</thead>
<tbody id="toTransclude"></tbody>
<tbody ng-if="tableList.loading" class="loading">
    <tr><td colspan="50"><loading></loading></td></tr>
</tbody>
<tbody ng-if="!tableList.tableData.data.length && !tableList.loading" class="empty">
    <tr><td colspan="50">Nenhum registro foi encontrado!</td></tr>
</tbody>