<h1>Importação de notas</h1>
<div ng-if="NotaUpload.total == 1 && NotaUpload.success == 1" class="row">
    <div class="col-md-12 text-center">
        <p class="alert alert-success fz-14"><i class="fa-info-circle"></i>&nbsp; A nota do pedido <a ui-sref="app.pedidos.detalhe({id: NotaUpload.retorno[0].pedido.id})" target="_blank">{{ NotaUpload.retorno[0].pedido.codigo_marketplace || NotaUpload.retorno[0].pedido.id }}</a> foi importada com sucesso!</p>
        <p class="fz-14"><b>Cliente</b>: {{ NotaUpload.retorno[0].pedido.cliente }}</p>
    </div>
    <div class="col-md-12 text-center m-t-15">
        <a ng-if="NotaUpload.retorno[0].pedido.nota_id" class="btn-default" target="_blank"
            ng-click="NotaUpload.notaHelper.printDanfe(NotaUpload.retorno[0].pedido.nota_id)">
            <i class="fa-print"></i>&nbsp; DANFE
        </a>
        <a ng-if="NotaUpload.retorno[0].pedido.rastreio_id" class="btn-default" target="_blank"
            ng-click="NotaUpload.rastreioHelper.printEtiqueta(NotaUpload.retorno[0].pedido.rastreio_id)">
            <i class="fa-tag"></i>&nbsp; Etiqueta
        </a>
        <a ng-if="NotaUpload.retorno[0].pedido.can_invoice" class="btn-primary"
            ng-click="NotaUpload.faturar(NotaUpload.retorno[0].pedido.id)">
            <i class="fa-check"></i>&nbsp; Faturar
        </a>
    </div>
</div>
<div ng-if="NotaUpload.total == 1 && NotaUpload.success == 0" class="row">
    <div class="col-md-12 text-center">
        <p class="alert alert-error fz-14"><i class="fa-info-circle"></i>&nbsp; Ocorreu um problema ao importar a nota!</p>
        <p class="fz-14">Arquivo: {{ NotaUpload.retorno[0].file.full }}</p>
        <p ng-if="NotaUpload.retorno[0].pedido.id" class="<fz>Pedido</fz>-14">b: {{ NotaUpload.retorno[0].pedido.id }} / {{ NotaUpload.retorno[0].pedido.codigo_marketplace }}</p>
        <p ng-if="NotaUpload.retorno[0].pedido.cliente" class="<fz>Cliente</fz>-14">b: {{ NotaUpload.retorno[0].pedido.cliente }}</p>
        <p ng-if="NotaUpload.retorno[0].message" class="fz-14">{{ NotaUpload.retorno[0].message }}</p>
    </div>
</div>
<div ng-if="NotaUpload.total > 1" class="row">
    <div class="col-md-12">
        <div class="alert alert-{{ (NotaUpload.success == NotaUpload.total) ? 'success' : 'warning' }} m-b-10">
            <i class="fa fa-info"></i>&nbsp; {{ NotaUpload.success }} de {{ NotaUpload.total }} nota(s) foram importadas!
        </div>
        <table class="table info-style small first-col-normal">
            <thead>
                <tr>
                    <th class="text-center" style="padding-left:5px!important">Arquivo</th>
                    <th class="text-left" style="min-width:120px">Pedido / Mensagem</th>
                    <th class="text-left">Cliente</th>
                    <th class="text-left" width="120"></th>
                </tr>
            </thead>
            <tbody ng-repeat="retorno in NotaUpload.retorno track by $index">
                <tr>
                    <td class="text-center">
                        <span tooltips tooltip-template="{{ retorno.file.full }}">
                            {{ retorno.file.min }}
                        </span>
                    </td>
                    <td ng-if="retorno.error && !retorno.pedido.id" colspan="50" class="text-left p-l-0">{{ retorno.message }}</td>
                    <td ng-if="!retorno.error && retorno.pedido.id" class="text-center">
                        <a ui-sref="app.pedidos.detalhe({id: retorno.pedido.id})" target="_blank">
                            {{ retorno.pedido.codigo_marketplace || retorno.pedido.id }}
                        </a>
                    </td>
                    <td ng-if="!retorno.error && retorno.pedido.id" class="text-left p-l-0">{{ retorno.pedido.cliente }}</td>
                    <td ng-if="!retorno.error && retorno.pedido.id">
                        <a ng-if="retorno.pedido.nota_id" tooltips tooltip-template="Imprimir DANFE"
                            ng-click="NotaUpload.notaHelper.printDanfe(retorno.pedido.nota_id)"
                            class="btn-default btn-xs" target="_blank">
                            <i class="fa-print"></i>
                        </a>
                        <a ng-if="retorno.pedido.rastreio_id" tooltips tooltip-template="Imprimir Etiqueta"
                            ng-click="NotaUpload.rastreioHelper.printEtiqueta(retorno.pedido.rastreio_id)"
                            class="btn-default btn-xs" target="_blank">
                            <i class="fa-tag"></i>
                        </a>
                        </a>
                        <a ng-if="retorno.pedido.can_invoice" tooltips tooltip-template="Faturar retorno.pedido"
                            ng-click="NotaUpload.pedidoHelper.faturar(retorno.pedido.id)"
                            class="btn-default btn-xs">
                            <i class="fa-check"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
