<div roles="admin|gestor|atendimento|faturamento" id="header-upload">
    <button title="Fazer upload de notas" ngf-select ngf-change="Upload.upload($files)" ngf-multiple="true" class="btn-success btn-cons">
        <i class="fa-upload"></i>&nbsp; Upload
    </button>

    <div ng-if="Upload.loading || Upload.statusAberto" id="upload-wrapper">
        <i class="fa-caret-up"></i>
        <span class="title">Importando notas</span>
        <div class="progress">
            <div ng-if="Upload.loading" class="progress-bar-indeterminate progress-bar-complete"></div>
        </div>
    </div>
</div>
