<div id="page-header" class="row">
    <page-title icon="fa-archive" title="Estoque{{ EstoqueDetalhe.stock.title ? ': ' + EstoqueDetalhe.stock.title : '' }}" description="Detalhes do estoque e seus produtos"></page-title>
    <div class="col-md-6 button-bar">
        <a ng-click="EstoqueDetalhe.save()" class="btn-success"><i class="fa-save">&nbsp;</i> Salvar</a>
        <a ng-if="EstoqueDetalhe.stock.slug" confirm="EstoqueDetalhe.destroy()" class="btn-danger"><i class="fa-trash">&nbsp;</i> Excluir</a>
        <a roles="admin|gestor" ui-sref="app.estoque.form({slug: EstoqueDetalhe.stock.slug})" class="btn-info"><i class="fa-pencil">&nbsp;</i> Editar</a>
        <a onclick="history.back()" title="Voltar para a página anterior" class="btn-default"><i class="fa-reply"></i>&nbsp; Voltar</a>
    </div>
</div>

<form ng-submit="EstoqueDetalhe.save()" novalidate="novalidate" class="form-default" id="formStock">
    <validation errors="EstoqueDetalhe.validationErrors"></validation>
    <div class="row form-group">
        <div class="col-md-{{ EstoqueDetalhe.stock.slug ? '4' : '8' }} form-group">
            <label for="title">Título</label>
            <input ng-model="EstoqueDetalhe.stock.title" readonly />
        </div>
        <div ng-if="EstoqueDetalhe.stock.slug" class="col-md-4 form-group">
            <label for="slug">Slug</label>
            <input ng-model="EstoqueDetalhe.stock.slug" readonly />
        </div>
        <div class="col-md-2 form-group">
            <label for="include">Incluir</label>
            <input value="{{ EstoqueDetalhe.stock.include ? 'Sim' : 'Não' }}" readonly />
        </div>
        <div class="col-md-2 form-group">
            <label for="priority">Ordem</label>
            <input ng-model="EstoqueDetalhe.stock.priority" readonly />
        </div>
    </div>
    <div ng-if="EstoqueDetalhe.stock.slug" class="row">
        <hr>
    </div>
    <div ng-if="EstoqueDetalhe.stock.slug" class="row">
        <div class="col-md-6">
            <h4 class="m-t-0">Produtos neste estoque</h4>
        </div>

        <table table-list="EstoqueDetalhe" class="table-hover">
            <thead>
                <tr>
                    <th width="80" class="text-center">SKU</th>
                    <th>Produto</th>
                    <th width="70" class="text-center">Serial</th>
                    <th width="70" class="text-center">Qtd</th>
                    <th width="180" class="text-center">Última alteração</th>
                    <th width="46"></th>
                </tr>
                <tr class="table-filter" static-include="views/estoque/detalhe_list_filter.html"></tr>
            </thead>
            <tbody ng-if="EstoqueDetalhe.tableData.data && !EstoqueDetalhe.loading">
                <tr ng-repeat="productStock in EstoqueDetalhe.tableData.data">
                    <td class="text-center">
                        <a ui-sref="app.produtos.detalhe({sku: productStock.product.sku})">
                            {{ productStock.product.sku }}
                        </a>
                    </td>
                    <td>{{ productStock.product.titulo }}</td>
                    <td class="text-center">{{ productStock.serial_enabled ? 'Sim' : 'Não' }}</td>
                    <td class="text-center">{{ productStock.quantity }}</td>
                    <td class="text-center">{{ productStock.updated_at }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
