<th>
    <input class="form-control big" ng-model="EstoqueList.filter['title']" placeholder="Título" ng-model-options="{debounce:500}" />
</th>
<th>
    <select class="form-control big" ng-model="EstoqueList.filter['include']" ng-model-options="{debounce:500}">
        <option value="">Ambos</option>
        <option value="1">Sim</option>
        <option value="0">Não</option>
    </select>
</th>
<th>
    <input class="form-control big" ng-model="EstoqueList.filter['priority']" placeholder="Prioridade" ng-model-options="{debounce:500}" type="number" />
</th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger btn-reset-filter" ng-click="EstoqueList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>
