<h1>Transferir estoque</h1>
<validation errors="TransferirEstoque.validationErrors"></validation>
<form novalidate="novalidate" class="form-default">
    <div ng-if="!TransferirEstoque.productStocks.length" class="row">
        <div class="col-md-12">
            <div class="alert alert-warning m-b-20">
                <i class="fa fa-exclamation-triangle"></i>&nbsp; Nenhuma opção de transferência para este estoque.
            </div>
        </div>
    </div>
    <div ng-if="TransferirEstoque.productStocks.length" class="row">
        <div class="col-md-12 form-group">
            <label for="productStock">Estoque</label>
            <select ng-model="TransferirEstoque.destination" id="productStock" required>
                <option value="" disabled selected hidden>Selecione o estoque de destino</option>
                <option ng-repeat="productStock in TransferirEstoque.productStocks" ng-value="productStock.id">{{ productStock.stock.title }}</option>
            </select>
        </div>
    </div>
    <div ng-if="!TransferirEstoque.productStock.serial_enabled" class="row">
        <div class="col-md-12 form-group">
            <label for="qty">Quantidade</label>
            <input ng-model="TransferirEstoque.qty" type="number" min="1" ng-minlength="0" max="{{ TransferirEstoque.productStock.quantity }}" ng-maxlength="TransferirEstoque.productStock.quantity">
        </div>
    </div>
    <div ng-if="TransferirEstoque.productStock.serial_enabled" class="row">
        <div class="col-md-12 scroll-wrapper" style="height:205px">
            <table class="table-alt table-hover no-padding">
                <thead>
                    <tr>
                        <th class="no-padding"></th>
                        <th class="no-padding" width="46"></th>
                        <th class="no-padding" width="46"></th>
                    </tr>
                </thead>
                <body>
                    <tr ng-if="$first || $last || item.imei" ng-repeat="item in TransferirEstoque.imeis track by $index"
                        ng-class="{ warn: !item.ok && item.verified }" class="form-group">
                        <td>
                            <input ng-model="item.imei" class="input-imei" ng-blur="TransferirEstoque.checkImei(item)"
                                ng-keyup="TransferirEstoque.addImei($event, $index)" placeholder="Código serial" />
                        </td>
                        <td class="text-center">
                            <span class="block" tooltips tooltip-template="{{ item.message }}">
                                <i class="fa-{{ item.icon }}"></i>
                            </span>
                        </td>
                        <td class="text-center">
                            <button ng-click="TransferirEstoque.removeImei($index)" type="button" class="btn-danger btn-sm" tabindex="-1">
                                <i class="fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </body>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog(false)" class="btn btn-default m-r-10">Cancelar</button>
            <button ng-if="!TransferirEstoque.loading && TransferirEstoque.productStocks.length" ng-click="TransferirEstoque.save()" type="button" class="btn btn-success">Transferir</button>
        </div>
    </div>
</form>
