<h1>Transferir estoque</h1>
<validation errors="TransferirEstoque.validationErrors"></validation>
<form ng-submit="TransferirEstoque.save()" novalidate="novalidate" class="form-default">
    <div ng-if="!TransferirEstoque.loading && !TransferirEstoque.productStocks.length" class="row">
        <div class="col-md-12">
            <div class="alert alert-warning m-b-20">
                <i class="fa fa-exclamation-triangle"></i>&nbsp; Nenhuma opção de transferência para este estoque.
            </div>
        </div>
    </div>
    <div ng-if="!TransferirEstoque.loading && TransferirEstoque.productStocks.length" class="row">
        <div class="col-md-12 form-group">
            <label for="productStock">Estoque</label>
            <select ng-model="TransferirEstoque.destination" id="productStock" required>
                <option value="" disabled selected hidden>Selecione o estoque de destino</option>
                <option ng-repeat="productStock in TransferirEstoque.productStocks" ng-value="productStock.id">{{ productStock.stock.title }}</option>
            </select>
        </div>
    </div>
    <div ng-if="!TransferirEstoque.productStock.serial_enabled" class="row">
        <div class="col-md-12 form-group">
            <label for="qty">Quantidade</label>
            <input ng-model="TransferirEstoque.qty" type="number" min="1" ng-minlength="0" max="{{ TransferirEstoque.productStock.quantity }}" ng-maxlength="TransferirEstoque.productStock.quantity">
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog(false)" class="btn btn-default m-r-10">Cancelar</button>
            <button ng-if="!TransferirEstoque.loading && TransferirEstoque.productStocks.length" busy="Salvando..." type="submit" class="btn btn-success">Transferir</button>
        </div>
    </div>
</form>
