<h1>Confirmar recebimento</h1>
<form novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-12 scroll-wrapper" style="height:205px">
            <table class="table-alt table-hover no-padding">
                <thead>
                    <tr>
                        <th class="no-padding"></th>
                        <th class="no-padding" width="46"></th>
                        <th class="no-padding" width="46"></th>
                    </tr>
                </thead>
                <body>
                    <tr ng-if="$first || $last || item.imei" ng-repeat="item in RetiradaEstoqueConfirmForm.imeis track by $index"
                        ng-class="{ warn: !item.ok && item.verified }" class="form-group">
                        <td>
                            <input ng-model="item.imei" class="input-imei" ng-blur="RetiradaEstoqueConfirmForm.checkImei(item)"
                                ng-keyup="RetiradaEstoqueConfirmForm.addImei($event, $index)" placeholder="Código serial" />
                        </td>
                        <td class="text-center">
                            <span class="block" tooltips tooltip-side="left" tooltip-template="{{ item.message }}">
                                <i class="fa-{{ item.icon }}"></i>
                            </span>
                        </td>
                        <td class="text-center">
                            <button ng-click="RetiradaEstoqueConfirmForm.removeImei($index)" type="button" class="btn-danger btn-sm" tabindex="-1">
                                <i class="fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </body>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog(false)" class="btn btn-default m-r-10">Cancelar</button>
            <button type="button" ng-click="RetiradaEstoqueConfirmForm.save()" class="btn btn-success">Confirmar</button>
        </div>
    </div>
</form>
