<h1>Adicionar produtos por quantidade</h1>
<form ng-submit="RetiradaEstoqueQtdForm.save()" novalidate="novalidate" class="form-default">
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="produto">Produto</label>
            <ui-select ng-model="RetiradaEstoqueQtdForm.produto" theme="selectize" id="produto">
                <ui-select-match placeholder="Selecione um produto">{{ $select.selected.titulo }}</ui-select-match>
                <ui-select-choices repeat="produto in RetiradaEstoqueQtdForm.produtos | propsFilter: {titulo: $select.search, sku: $select.search}"
                    refresh="RetiradaEstoqueQtdForm.search($select.search)" refresh-delay="300">
                    <div ng-bind-html="produto.titulo | highlight: $select.search"></div>
                    <small>SKU: <span ng-bind-html="''+produto.sku | highlight: $select.search"></span></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label for="quantity">Quantidade</label>
            <input ng-model="RetiradaEstoqueQtdForm.quantity" type="number" id="quantity" placeholder="Quantidade do produto" min="1" ng-minlength="1" required />
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="closeThisDialog(false)" class="btn btn-default m-r-10">Cancelar</button>
            <button busy="Salvando..." type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>
