<th>
    <input class="form-control big" ng-model="RetiradaEstoqueList.filter['id']" placeholder="Código" ng-model-options="{debounce:500}" />
</th>
<th>
    <select ng-model="RetiradaEstoqueList.filter['user_id']" class="form-control">
        <option value="">Todos</option>
        <option ng-repeat="user in RetiradaEstoqueList.users" value="{{ user.id }}">{{ user.name }}</option>
    </select>
</th>
<th class="between-group">
    <div class="date-picker">
        <input class="form-control" ng-model="RetiradaEstoqueList.filter['created_at'].from" placeholder="De" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="RetiradaEstoqueList.filter['created_at'].from" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
    <span>/</span>
    <div class="date-picker">
        <input class="form-control" ng-model="RetiradaEstoqueList.filter['created_at'].to" placeholder="Até" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="RetiradaEstoqueList.filter['created_at'].to" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
</th>
<th class="between-group">
    <div class="date-picker">
        <input class="form-control" ng-model="RetiradaEstoqueList.filter['closed_at'].from" placeholder="De" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="RetiradaEstoqueList.filter['closed_at'].from" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
    <span>/</span>
    <div class="date-picker">
        <input class="form-control" ng-model="RetiradaEstoqueList.filter['closed_at'].to" placeholder="Até" ng-model-options="{debounce:500}" />
        <div class="picker-wrap">
            <date-picker ng-model="RetiradaEstoqueList.filter['closed_at'].to" ng-model-options="{debounce:500}"></date-picker>
        </div>
    </div>
</th>
<th class="item-button">
    <a title="Limpar filtros" class="btn-danger btn-reset-filter" ng-click="RetiradaEstoqueList.filterList.clear()">
        <i class="fa-eraser"></i>
    </a>
</th>
